<!-- <div class="main-container">
  <app-loader *ngIf="excelLoader"></app-loader>
  <div class="tools-container">
    <h2>Claim Dispatch</h2>
    
    
    <div class="left-auto df ac flex-gap-10">
      <a mat-icon-button matTooltip="Refresh" (click)="refresh()">
        <i class="material-icons">refresh</i>
      </a>
      
      <div class="pagination" *ngIf="complaintList.length > 0 ">
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">
          <button mat-icon-button matTooltip="Older" (click)="pervious()" [disabled]="start == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button matTooltip="Newer" (click)="nextPage()" [disabled]="pagenumber == total_page ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="container container-scroll">
    <div class="cs-table horizontal-scroll">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w60">Sr.No</th>
              <th class="w180">Date Created</th>
              <th class="w100">Created By</th>
              <th class="w120">Complaint No.</th>
              <th class="w130">Serial No.</th>
              <th class="w130">Product Name</th>
              <th class="w130">Product Code</th>
              <th class="w130">Customer Name</th>
              <th class="w130">Customer Mobile No.</th>
              <th class="w130">New Serial No.</th>
              <th class="w130">Warranty Status</th>
              <th class="w130">Inspection Status</th>
              <th class="w130">Complaint Status</th>
              <th class="w130">Return Status</th>
              <th class="w70 text-center">Action</th>
            </tr>
          </table>
        </div> -->
        
        <!-- <div class="table-head bdrt">
          <table> -->
            <!-- <tr>
              <th class="w60"></th>
              <th class="w180">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                    #date_created="ngModel" [(ngModel)]="filter_data.date_created" (ngModelChange)="date_format()"
                    [max]="today_date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w100"></th>
              <th class="w120">
                <div class="th-search-acmt">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Search ..." name="complain_no"
                    (keyup.enter)="getComplantList('')" #complain_no="ngModel" [(ngModel)]="filter_data.complain_no">
                  </mat-form-field>
                </div>
              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Search ..." name="serial_no"
                    (keyup.enter)="getComplantList('')" #serial_no="ngModel" [(ngModel)]="filter_data.serial_no">
                  </mat-form-field>
                </div>
              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Search ..." name="product_name"
                    (keyup.enter)="getComplantList('')" #product_name="ngModel" [(ngModel)]="filter_data.product_name">
                  </mat-form-field>
                </div>
              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Search ..." name="product_code"
                    (keyup.enter)="getComplantList('')" #product_code="ngModel" [(ngModel)]="filter_data.product_code">
                  </mat-form-field>
                </div>
              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Search ..." name="customer_name"
                    (keyup.enter)="getComplantList('')" #customer_name="ngModel" [(ngModel)]="filter_data.customer_name">
                  </mat-form-field>
                </div>
              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Search ..." name="customer_mobile"
                    (keyup.enter)="getComplantList('')" #customer_mobile="ngModel" [(ngModel)]="filter_data.customer_mobile">
                  </mat-form-field>
                </div>
              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Search ..." name="new_serial_no"
                    (keyup.enter)="getComplantList('')" #new_serial_no="ngModel" [(ngModel)]="filter_data.new_serial_no">
                  </mat-form-field>
                </div>
              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-select name="status" #status="ngModel" [(ngModel)]="filter_data.warranty_status"
                    (selectionChange)="getComplantList('')">
                    <mat-option value="">All</mat-option>
                    <mat-option value="In Warranty">In Warranty</mat-option>
                    <mat-option value="Out Warranty">Out Warranty </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <th class="w130">
              <div class="th-search-acmt">
                <mat-form-field class="cs-input select-input">
                  <mat-select name="status" #status="ngModel" [(ngModel)]="filter_data.inspection_status"
                  (selectionChange)="getComplantList('')">
                  <mat-option value="">All</mat-option>
                  <mat-option value="Pending">Pending</mat-option>
                  <mat-option value="Done">Done </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </th>
          <th class="w130">
            <div class="th-search-acmt">
              <mat-form-field class="cs-input select-input">
                <mat-select name="status" #status="ngModel" [(ngModel)]="filter_data.complaint_status"
                (selectionChange)="getComplantList('')">
                <mat-option value="">All</mat-option>
                <mat-option value="Pending">Pending</mat-option>
                <mat-option value="Closed">Closed </mat-option>
                <mat-option value="Reject">Reject </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </th>
        <th class="w130">
          <div class="th-search-acmt">
            
            <mat-form-field class="cs-input select-input">
              <mat-select name="status" #status="ngModel" [(ngModel)]="filter_data.return_status"
              (selectionChange)="getComplantList('')">
              <mat-option value="">All</mat-option>
              <mat-option value="Pending">Pending</mat-option>
              <mat-option value="Done">Done </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </th>
      <th class="w70 text-center"></th>
    </tr> -->
  <!-- </table>
</div>
</div>

<div class="table-container">
  <div class="table-content">
    <table> -->
      <!-- <ng-container *ngIf="!loader">
          <tr *ngFor="let row of complaintList; let i = index " [ngClass]="{'Current': service.currentUserID == row.id}">
            <td class="w60">{{i + 1 + sr_no}}</td>
            <td class="w180">{{row.date_created ? row.date_created : '--'}}</td>
            <td class="w100">{{row.created_by_type ? row.created_by_type : '--'}}</td>
            <td class="w120"><a class="link-btn" mat-button (click)="service.setData(filter_data)" routerLink="complaint-detail/{{(row.id)}}" routerLinkActive="active">{{row.complain_no}}</a></td>
            <td class="w130">{{row.serial_no ? row.serial_no : '--'}}</td>
            <td class="w130">{{row.product_name ? row.product_name : '--'}}</td>
            <td class="w130">{{row.product_code ? row.product_code : '--'}}</td>
            <td class="w130">{{row.customer_name}}</td>
            <td class="w130">{{row.customer_mobile}}</td>
            <td class="w130">{{row.new_serial_no ? row.new_serial_no : '--'}}</td>
            <td class="w130">{{row.warranty_status ? row.warranty_status : '--'}}</td>
            <td class="w130">{{row.inspection_status ? row.inspection_status : '--'}}</td>
            <td class="w130">{{row.complaint_status ? row.complaint_status : '--'}}</td>
            <td class="w130">{{row.return_status ? row.return_status : '--'}}</td>
            <td class="w70 text-center">
              <div class="action-button">
                <button mat-icon-button matTooltip="Delete" (click)="deleteProduct(row.id)">
                  <i class="material-icons red-clr">delete</i>
                </button>

              </div>
            </td>
          </tr>
        </ng-container> -->
        <!-- <ng-container *ngIf="loader">
          <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
            <td class="w60">
              <div>&nbsp;</div>
            </td>
            <td class="w100">
              <div>&nbsp;</div>
            </td>
            <td class="w130">
              <div>&nbsp;</div>
            </td>
            <td class="w100">
              <div>&nbsp;</div>
            </td>
            <td class="w100">
              <div>&nbsp;</div>
            </td>
            <td class="w130">
              <div>&nbsp;</div>
            </td>
            <td class="w130">
              <div>&nbsp;</div>
            </td>
            <td class="w100">
              <div>&nbsp;</div>
            </td>
            <td class="w130 " >
              <div>&nbsp;</div>
            </td>
            <td class="w100 " >
              <div>&nbsp;</div>
            </td>
            <td class="w130 " >
              <div>&nbsp;</div>
            </td>
            <td class="w130 " >
              <div>&nbsp;</div>
            </td>
            <td class="w130 " >
              <div>&nbsp;</div>
            </td>
            <td class="w130 " >
              <div>&nbsp;</div>
            </td>
            <td class="w120 text-center">
              <div>&nbsp;</div>
            </td>
          </tr>
        </ng-container> -->
      <!-- </table>
    </div>
  </div>
</div>
<ng-container *ngIf="datanotofound==true && complaintList.length == 0;">
  <app-not-result-found></app-not-result-found>
</ng-container>
</div>
<div>
</div>

<div class="fab-btns">
  <button class="pulse excel" mat-fab color="primary" [ngClass]="{'pulse': fabBtnValue=='add'}" [matMenuTriggerFor]="menu">
    <i class="material-icons">apps</i>
    Action
  </button>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="downloadExcel();">
    <mat-icon>download</mat-icon>
    <span>Download excel</span>
  </button>
  <button mat-menu-item (click)="lastBtnValue('add')" routerLink="add-complaint" routerLinkActive="router-link-active">
    <mat-icon>add</mat-icon>
    <span>Add New</span>
  </button>
</mat-menu>
</div> -->