<div class="edit-modal" *ngIf="viewType=='items'">
<div mat-dialog-content >
    <p class="heading">Items Detail <span class="cls-btn" (click)="closeDialog()"> <i class="material-icons">close</i></span></p>
  <div class="container container-scroll">    
    <div class="cs-table horizontal-scroll">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w60">Sr.No</th>
              <!-- <th class="w100">Dispatch Date</th> -->
              <th class="w250">Product Detail</th>
              <th class="w140">Dispatch QTY.</th>
            </tr>
          </table>
        </div>
      </div>
      
      <div class="table-container">
        <div class="table-content">
          <table>
            <ng-container *ngIf="!loader">
              <tr *ngFor="let row of smallBoxlisting let i = index;">
                <td class="w60">{{i+1}}</td>
                <td class="w250">{{row.product_detail?row.product_detail:'---'}}</td>
                <td class="w140">{{row.totalItems?row.totalItems:'---'}}</td>
              </tr>
          
            </ng-container>
            
            
            <ng-container *ngIf="loader">
              <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                <td class="w60"><div>&nbsp;</div></td>
                <td class="w250"><div>&nbsp;</div></td>
                <td class="w140"><div>&nbsp;</div></td>
              </tr>
            </ng-container>
            
          </table>
        </div>
      </div>
    </div>
    
    
  </div>
</div>
</div>
<div class="edit-modal" *ngIf="viewType=='small_boxes'">
  <div mat-dialog-content>
      <p class="heading">Master Box {{data.main_data.coupon_code}} Details <span class="cls-btn" (click)="closeDialog()"> <i class="material-icons">close</i></span></p>
    <div class="container container-scroll">    
      <div class="cs-table horizontal-scroll">
        <div class="sticky-head">
          <div class="table-head">
            <table>
              <tr>
                <th class="w30">Sr.No</th>
                <th class="w150">Coupon Code</th>
                <th class="w250">Product Detail</th>
                <th class="w100">Total QTY.</th>
                <!-- <th class="w80">Action</th> -->
              </tr>
            </table>
          </div>
        </div>
        
        <div class="table-container">
          <div class="table-content">
            <table>
              <ng-container *ngIf="!loader">
                <tr *ngFor="let row of smallBoxlisting let i = index;">
                  <td class="w30">{{i+1}}</td>
                  <td class="w150">{{row.small_box_coupon?row.small_box_coupon:'---'}}</td>
                  <td class="w250">{{row.product_detail?row.product_detail:'---'}}</td>
                  <td class="w100">{{row.totalItems?row.totalItems:'---'}}</td>
                  <!-- <td class="w80"><a class="link-btn" (click)="changeMasterbox(row,'edit')">Change Master Box</a></td> -->
                </tr>            
              </ng-container>
              
              
              <ng-container *ngIf="loader">
                <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                  <td class="w30"><div>&nbsp;</div></td>
                  <td class="w150"><div>&nbsp;</div></td>
                  <td class="w250"><div>&nbsp;</div></td>

                  <td class="w100"><div>&nbsp;</div></td>                
                </tr>
              </ng-container>
              
            </table>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
  </div>