<div class="main-container" >
  <div class="tools-container">
    <a mat-icon-button  matTooltip="Back" routerLink="/bonus-list" >
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>Add New Scheme</h2>
  </div>
  
  <div class="container pt10 pl10 pr10 pb50" >
    <form #f="ngForm" (ngSubmit)=" f.valid && submitDetail()">
      <div class="row">
        <div class="col s12">
          <div class="card pb0">
            <div class="card-head">
              <h2>Basic Information</h2>
            </div>
            <div class="card-body cs-form">
              <div class="row">
                <div class="col s12 m3 l3" >
                  <mat-form-field appearance="outline">
                    <mat-label>User Type</mat-label>
                    <mat-select  name="types" [(ngModel)]="data.types" #types="ngModel" (selectionChange)="pointCategory_data(data.types == 'Retailer' ? 'Master Box' : 'Item Box'); districts = []; getState()" >
                      <mat-option  value="Retailer">Retailer</mat-option>
                      <mat-option  value="Influencer">Influencer</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="types.touched || f.submitted">
                    <p *ngIf="types.errors?.required">This field is required</p>
                  </div>
                </div>
                
                
                <div class="col s12 m3 l3" *ngIf="data.types == 'Influencer'">
                  <mat-form-field appearance="outline">
                    <mat-label>Influencer Type</mat-label>
                    <mat-select  name="influencer_type" [(ngModel)]="data.influencer_type" #influencer_type="ngModel">
                      <mat-option *ngFor="let row of influencerUser"  value="{{row.type}}">{{row.module_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="influencer_type.touched || f.submitted">
                    <p *ngIf="influencer_type.errors?.required">This field is required</p>
                  </div>
                </div>
                
                
                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Type Here ..." name="tittle" #tittle="ngModel" [(ngModel)]="data.tittle">
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="tittle.touched || f.submitted">
                    <p *ngIf="tittle.errors?.required">This field is required</p>
                  </div>
                </div>
                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input name="start_date" matInput [matDatepicker]="pickers" placeholder="" [min]="minDate" #start_date="ngModel" readonly [(ngModel)]="data.start_date">
                    <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                    <mat-datepicker #pickers></mat-datepicker>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="start_date.touched || f.submitted">
                    <p *ngIf="start_date.errors?.required">This field is required</p>
                  </div>
                </div>
                
                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input name="end_date" matInput [matDatepicker]="picker1" placeholder="" [min]="data.start_date" #end_date="ngModel" readonly [(ngModel)]="data.end_date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="end_date.touched || f.submitted">
                    <p *ngIf="end_date.errors?.required">This field is required</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12 m8 l8" *ngIf="data.types">
          <div class="card pb0">
            <div class="card-head">
              <h2>Area Wise Influencer Selection</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div  [ngClass]="data.types != 'Retailer'?'col s12 m4 l4':'col s12 m6 l6'">
                  <div class="check-box">
                    <div class="check-body">
                      <mat-checkbox  [labelPosition]="labelPosition" color="primary"  *ngFor="let val of states | filterBy : {state_name : search_st} let g=index;" [name]="'state'+val.state_name+g"  [value]="val.state_name" [ngModel]="data.checkboxState" (ngModelChange)="getDistrictList(val.state_name,$event);" >{{val.state_name}}</mat-checkbox>
                    </div>
                  </div>
                </div>
                <div [ngClass]="data.types != 'Retailer'?'col s12 m4 l4':'col s12 m6 l6'">
                  <div class="check-box">
                    <div class="check-head">
                      <mat-checkbox [labelPosition]="labelPosition" color="primary" (change)="sel_all_dis($event)">Select All</mat-checkbox>
                    </div>
                    <div class="check-body">
                      <ng-container *ngFor="let val of districts;let h=index">
                        <mat-checkbox  color="primary" [labelPosition]="labelPosition" class="fill-check"  disabled="true"   checked="true" [value]="val.state_name" name="'state_name'+h" >{{val.state_name}}</mat-checkbox>
                        <ng-container *ngFor="let dist of val.district | filterBy: {district_name : search_dis};let d=index">
                          <mat-checkbox color="primary" [labelPosition]="labelPosition" [checked]="all_dis_check" [value]="dist.district_name" [name]="'district_name'+val.state_name+d" [ngModel]="data.checkboxDistrict" (ngModelChange)="getSelDistrict(val.state_name,dist.district_name,$event); (data.types != undefined  && data.influencer_type != undefined)? getAreaInfluencer() :''">{{dist.district_name}}</mat-checkbox>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
                
                <div class="col s12 m4 l4" *ngIf="data.types != 'Retailer'">
                  <div class="check-box">
                    <!-- <div class="check-head">
                      <div class="th-search-acmt">
                        <mat-form-field>
                          <input type="text"  matInput placeholder="Search ..." name="influencer_name" (ngModelChange)="getAreaInfluencer(filter.influencer_name)" #influencer_name="ngModel" [(ngModel)]="filter.influencer_name" >
                        </mat-form-field>
                      </div>
                    </div> -->
                    <div class="check-head">
                      <mat-checkbox color="primary" [labelPosition]="labelPosition" [(ngModel)]="data.Influencer" (change)="allInfluncer()"  name="Influencer"  value="true">Select All</mat-checkbox>
                    </div>
                    <div class="check-body">
                      <ng-container *ngFor="let row of areaInfluencer;let d=index">
                        <mat-checkbox color="primary" [labelPosition]="labelPosition"  [(ngModel)]="row.selected" [name]="'name'+i"  (change)="setInfluencer($event, row.id)">{{row.name | titlecase}} {{row.mobile_no}}</mat-checkbox>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4" *ngIf="data.types">
          <div class="card pb0">
            <div class="card-head">
              <h2>Category Bonus Points</h2>
            </div>
            <div class="card-body">
              <div class="cs-table left-right-10 scroll310">
                <div class="sticky-head border-top">
                  <div class="table-head">
                    <table>
                      <tr>
                        <th class="w50">S.No</th>
                        <th>Point Category</th>
                        <th class="w100  text-center">Points</th>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="table-container">
                  <div class="table-content">
                    <table>
                      <ng-container>
                        <tr *ngFor="let row of pointCategories_data; let i = index">
                          <td class="w50">{{i+1}}</td>
                          <td>{{row.point_category_name}}</td>
                          <td class="w100  text-center">
                            <div class="th-search-acmt">
                              <mat-form-field>
                                <input type="text" matInput class="cs-text-input text-center" placeholder="Enter Points" [name]="'scheme_influencer_point'+i"  [(ngModel)] = "row.scheme_influencer_point"  onkeypress="return event.charCode>=48 && event.charCode<=57">
                              </mat-form-field>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          <div class="text-right">
            <button [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent" type="submit" [disabled]="savingFlag == true">
              {{savingFlag == true ? 'Saving' : 'Save'}}
            </button>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</div>

