<div class="main-container">
    
    <div class="tools-container">
        <h2>Pop & Gift</h2>
        <div class="left-auto df flex-gap-10">
            <button mat-icon-button matTooltip="Refresh" (click)="refresh(transactionType)">
                <i class="material-icons">refresh</i>
            </button>
            <div class="pagination" *ngIf="(transactionType== 'Pop Gift' && PopData.length > 0) || (transactionType != 'Pop Gift' && transaction_list.length > 0)">
                <div class="pagination-content">
                    Pages
                    <span>{{pagenumber}}</span>
                    of
                    <span>{{total_page}}</span>
                </div>
                <div class="page-nav">
                    <button mat-icon-button  matTooltip="Older" (click)="pervious(transactionType)"  [disabled]="start == 0">
                        <i class="material-icons">navigate_before</i>
                    </button>
                    <button mat-icon-button  matTooltip="Newer" (click)="nextPage(transactionType)" [disabled]="pagenumber == total_page">
                        <i class="material-icons">navigate_next</i>
                    </button>
                </div>
            </div>
            
            <div class="mat-tabbar">
                <button mat-button [ngClass]="{'active' :transactionType== 'Pop Gift'}"
                (click)="transactionType= 'Pop Gift'; gift_list(transactionType);"><i class="material-icons">card_giftcard</i>Pop &
                Gift Details</button>
                <button mat-button [ngClass]="{'active' :transactionType== 'Company Transaction'}"
                (click)="transactionType= 'Company Transaction'; transactionData(transactionType)"><i
                class="material-icons">swap_horiz</i>Company Transaction</button>
                <button mat-button [ngClass]="{'active' :transactionType== 'Employee Transaction'}"
                (click)="transactionType = 'Employee Transaction'; transactionData(transactionType)"><i
                class="material-icons">swap_horiz</i>Employee Transaction</button>
                <button mat-button [ngClass]="{'active' :transactionType== 'Distributor Transaction'}"
                (click)="transactionType = 'Distributor Transaction';  transactionData(transactionType)"><i
                class="material-icons">swap_horiz</i>Distributor Transaction</button>
            </div>
            
        </div>
    </div>
    
    
    
    
    <div class="container pb100">
        <div class="cs-table" *ngIf="transactionType == 'Pop Gift'">
            <div class="sticky-head">
                <div class="table-head">
                    <table class="sno-border">
                        <tr>
                            <th class="w55">Sr No.</th>
                            <th class="w70 text-center">Image</th>
                            <th>Item Name</th>
                            <th class="w80 text-center">Stock QTY.</th>
                            <th class="w100 text-right">Rate</th>
                            <th class="w100 text-right">Total Amount</th>
                            <th class="w80 text-center">Employee Stock</th>
                            <th class="w80 text-center">Distributor Stock</th>
                            <th class="w100 text-center" *ngIf="assign_login_data2.edit_pop_gift=='1' || assign_login_data2.delete_pop_gift=='1'">
                                Action
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="table-head  border-top">
                    <table class="sno-border">
                        <tr>
                            <th class="w55">&nbsp;</th>
                            <th class="w70 text-center">&nbsp;</th>
                            <th>
                                <div class="th-search-acmt">
                                    <mat-form-field class="example-full-width cs-input select-input">
                                        <input matInput placeholder="Search..." (keyup.enter)="gift_list(transactionType)"
                                        #created_by="ngModel" [(ngModel)]="filter.item_name">
                                    </mat-form-field>
                                </div>
                            </th>
                            
                            <th class="w80 text-center">&nbsp;</th>
                            <th class="w100 text-right">&nbsp;</th>
                            <th class="w100 text-right">&nbsp;</th>
                            <th class="w80 text-center">&nbsp;</th>
                            <th class="w80 text-center">&nbsp;</th>
                            <th class="w100 text-center"  *ngIf="assign_login_data2.edit_pop_gift=='1' || assign_login_data2.delete_pop_gift=='1'">&nbsp;</th>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="table-container">
                <div class="table-content" *ngIf="PopData.length > 0">
                    <table class="sno-border">
                        <ng-container *ngIf="!loader">
                            <tr *ngFor=" let row of PopData, let i = index;"  [ngClass]="{'Current': serve.currentUserID == row.id}">
                                <td class="w55">{{i + 1 + sr_no}}</td>
                                <td class="w70 text-center">
                                    <a class="img-avtar" (click)="goToImage(url+row.pop_image)">
                                        <img src="{{url+row.pop_image}}">
                                    </a>
                                </td>
                                <td><a class="link-btn" mat-button (click)="serve.setData(filter)" routerLink="pop-gift-detail/{{(row.id)}}" routerLinkActive="active">{{row.item_name | titlecase}}</a></td>
                                <td class="w80 text-center"><strong>{{row.qty_stock}}</strong></td>
                                <td class="w100 text-right"><strong>&#x20B9; {{row.rate}}</strong></td>
                                <td class="w100 text-right"><strong>&#x20B9; {{row.amount}}</strong></td>
                                <td class="w80 text-center"><strong>{{row.executive_qty}}</strong></td>
                                <td class="w80 text-center"><strong>{{row.distributor_qty}}</strong></td>
                                <td class="w100 text-center" *ngIf="assign_login_data2.edit_pop_gift=='1' || assign_login_data2.delete_pop_gift=='1'">
                                    <div class="action-button">
                                        <button  *ngIf="assign_login_data2.edit_pop_gift=='1' && transactionType == 'Pop Gift'"  mat-icon-button matTooltip="Add Stock" (click)="popModal('Update_stock',row,'')">
                                            <i class="material-icons add">add_circle</i>
                                        </button>
                                        
                                        <button  *ngIf="assign_login_data2.edit_pop_gift=='1' && transactionType == 'Pop Gift'"  mat-icon-button matTooltip="Edit" [routerLink]="[ 'pop-gift-add/', row.id ]">
                                            <i class="material-icons edit">edit</i>
                                        </button>
                                        <button *ngIf="assign_login_data2.delete_pop_gift=='1'" mat-icon-button matTooltip="Delete" (click)="deleteGift(row.id)">
                                            <i class="material-icons del">delete</i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        
                        <ng-container *ngIf="loader">
                            <tr class="sk-loading" *ngFor="let lead of PopData">
                                <td class="w55">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w70">
                                    <div>&nbsp;</div>
                                </td>
                                <td>
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w80">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w100">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w100">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w80">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w80">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w100" *ngIf="assign_login_data2.edit_pop_gift=='1' || assign_login_data2.delete_pop_gift=='1'">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
            </div>
            
            <ng-container *ngIf="PopData.length == 0">
                <app-not-result-found></app-not-result-found>
            </ng-container>
        </div>
        <div class="cs-table" *ngIf="transactionType != 'Pop Gift'">
            <div class="sticky-head">
                <div class="table-head">
                    <table class="sno-border">
                        <tr>
                            <th class="w55">Sr No.</th>
                            <th class="w70 text-center">Image</th>
                            <th>Item Name</th>
                            <th class="w80">Transfer Stock</th>
                            <th class="w120">Issue Date</th>
                            <th class="w100" *ngIf="transactionType == 'Company Transaction'">User Type</th>
                            <th class="w200">{{transactionType== 'Company Transaction' ? 'User' :'Retailer'}} Details
                            </th>
                            <th class="w200">Remark</th>
                            <th class="w100 text-center" *ngIf="transactionType == 'Company Transaction'">Action</th>
                        </tr>
                    </table>
                </div>
                <div class="table-head  border-top">
                    <table class="sno-border">
                        <tr>
                            <th class="w55">&nbsp;</th>
                            <th class="w70 text-center">&nbsp;</th>
                            <th>
                                <div class="th-search-acmt">
                                    <mat-form-field class="example-full-width cs-input select-input">
                                        <input matInput placeholder="Search..."
                                        (keyup.enter)="transactionData(transactionType)" #pop_item_name="ngModel"
                                        [(ngModel)]="filter.pop_item_name">
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w80">&nbsp;</th>
                            <!-- <th class="w80">&nbsp;</th> -->
                            <th class="w120">
                                <div class="th-search-acmt">
                                    <mat-form-field class="cs-input date-column infix-bodr">
                                        <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                                        #date_created="ngModel" [(ngModel)]="filter.date_created"
                                        (ngModelChange)="date_format()"  readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w100" *ngIf="transactionType == 'Company Transaction'">
                                <div class="th-search-acmt">
                                    <mat-form-field class="example-full-width cs-input select-input">
                                        <input matInput placeholder="Search..."
                                        (keyup.enter)="transactionData(transactionType)" #transfer_to_type="ngModel"
                                        [(ngModel)]="filter.transfer_to_type">
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w200">
                                <div class="th-search-acmt">
                                    <mat-form-field class="example-full-width cs-input select-input">
                                        <input matInput placeholder="Search..."
                                        (keyup.enter)="transactionData(transactionType)" #transfer_to_name="ngModel"
                                        [(ngModel)]="filter.transfer_to_name">
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w200">&nbsp;</th>
                            <th class="w100 text-center" *ngIf="transactionType == 'Company Transaction'">&nbsp;</th>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="table-container" *ngIf="datanotfound==false">
                <div class="table-content" *ngIf="PopData.length > 0">
                    <table class="sno-border">
                        <ng-container *ngIf="!loader">
                            <tr *ngFor=" let pop of transaction_list, let i = index;"  [ngClass]="{'Current': serve.currentUserID == pop.id}" >
                                <td class="w55">{{i + 1 + sr_no}}</td>
                                <td class="w70 text-center">
                                    <a class="img-avtar" (click)="goToImage(url+pop.pop_image)">
                                        <img src="{{url+pop.pop_image}}">
                                    </a>
                                </td>
                                <td>{{pop.pop_item_name | titlecase}}</td>
                                <td class="w80 text-center"><strong>{{pop.stock_qty}}</strong></td>
                                <!-- <td class="w80 text-center"><strong>{{pop.remaining_stock}}</strong></td> -->
                                <td class="w120">{{pop.date_created | date : 'dd MMM yyy ,h:mm a'}}</td>
                                <td class="w100" *ngIf="transactionType == 'Company Transaction'">{{pop.transfer_to_type
                                    | titlecase}}</td>
                                    <td class="w200">{{pop.transfer_to_name | titlecase}} -
                                        <strong>({{pop.transfer_to_uniq_id}})</strong></td>
                                        <td class="w200">{{pop.remarks}}</td>
                                        <td class="w100 text-center" *ngIf="transactionType == 'Company Transaction'">
                                            <div class="action-button">
                                                <button mat-icon-button  matTooltip="Delete" (click)="deleteGift(pop.id)">
                                                    <i class="material-icons del">delete</i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                
                                
                                
                                <ng-container *ngIf="loader">
                                    <tr class="sk-loading" *ngFor="let lead of transaction_list">
                                        <td class="w55">
                                            <div>&nbsp;</div>
                                        </td>
                                        <td class="w70 text-center">
                                            <div>&nbsp;</div>
                                        </td>
                                        <td>
                                            <div>&nbsp;</div>
                                        </td>
                                        <td class="w80 text-center">
                                            <div>&nbsp;</div>
                                        </td>
                                        
                                        <td class="w120">
                                            <div>&nbsp;</div>
                                        </td>
                                        <td class="w100" *ngIf="transactionType == 'Company Transaction'">
                                            <div>&nbsp;</div>
                                        </td>
                                        <td class="w200">
                                            <div>&nbsp;</div>
                                        </td>
                                        <td class="w200">
                                            <div>&nbsp;</div>
                                        </td>
                                        <td class="w100 text-center" *ngIf="transactionType == 'Company Transaction'">
                                            <div>&nbsp;</div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                    <ng-container *ngIf="transaction_list.length == 0 && datanotfound == true " >
                        <app-not-result-found></app-not-result-found>
                    </ng-container>
                </div>
            </div>
        </div>
        
        <div class="fab-btns" *ngIf="view_add">
            <button *ngIf="assign_login_data2.export_pop_gift=='1'" mat-fab class="excel"  (click)="lastBtnValue('excel');  transactionType== 'Pop Gift' ?  downloadExcel() : downloadExcel1()"  [ngClass]="{'pulse': fabBtnValue=='excel'}">
                <img src="assets/img/excel.svg">
                Download Excel
            </button>
            <button color="primary" *ngIf="assign_login_data2.edit_pop_gift=='1'" (click)="lastBtnValue('gift'); popModal('issue_pop','','user_id')" mat-fab [ngClass]="{'pulse': fabBtnValue=='gift'}">
                <i class="material-icons mr10">card_giftcard</i>
                Pop Issue
            </button>
            <button *ngIf="assign_login_data2.add_pop_gift=='1'" color="primary" (click)="lastBtnValue('add')" mat-fab [ngClass]="{'pulse': fabBtnValue=='add'}" routerLink="pop-gift-add/0">
                <i class="material-icons mr10">add</i>
                Add New
            </button>
        </div>