	<div class="container pt10 pl10 pr10 pb50" >
    <form #f="ngForm" (ngSubmit)=" f.valid && submitDetail()">
      <div class="row">
        <div class="col s12">
          <div class="card pb0">
            <div class="card-head">
              <h2>Basic Information</h2>
            </div>
            <div class="card-body cs-form">
              <div class="row">
                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label>Contact Number 1</mat-label>
                    <input [disabled]="logined_user_data.edit_gallery_master!='1'" matInput placeholder="Type Here ..." name="contact_number"  #contact_number="ngModel" (keypress)="MobileNumber($event)" [(ngModel)]="data.contact_number" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="contact_number.touched || f.submitted">
                    <p *ngIf="contact_number.errors?.required">This field is required</p>
                  </div>
                </div>
                
                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label>Contact Number 2</mat-label>
                    <input [disabled]="logined_user_data.edit_gallery_master!='1'" matInput placeholder="Type Here ..." name="contact_number_2" #contact_number_2="ngModel" (keypress)="MobileNumber($event)" [(ngModel)]="data.contact_number_2">
                  </mat-form-field>
                  
                </div>
                
                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label>Email ID</mat-label>
                    <input [disabled]="logined_user_data.edit_gallery_master!='1'" matInput placeholder="Type Here ..." type="email" name="email" #email="ngModel"
                    [(ngModel)]="data.email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="email.touched || f.submitted">
                    <p *ngIf="email.errors?.required">This field is required</p>
                    <p *ngIf="email.errors?.pattern">This is not a valid Email ID !</p>
                  </div>
                </div>
                
                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label>Website URl</mat-label>
                    <input [disabled]="logined_user_data.edit_gallery_master!='1'" matInput placeholder="Type Here ..." name="url" #url="ngModel" [(ngModel)]="data.url" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="url.touched || f.submitted">
                    <p *ngIf="url.errors?.required">This field is required</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <mat-form-field  appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea [disabled]="logined_user_data.edit_gallery_master!='1'" matInput placeholder="Type Here ..." name="address" #address="ngModel"
                    [(ngModel)]="data.address" class="h80" required></textarea>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="address.touched || f.submitted">
                    <p *ngIf="address.errors?.required">This field is required</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="row" *ngIf="logined_user_data.edit_gallery_master=='1' || logined_user_data.add_gallery_master=='1'">
        <div class="col s12">
          <div class="text-right">
            <button  *ngIf="logined_user_data.edit_gallery_master=='1' || logined_user_data.add_gallery_master=='1'" [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent" type="submit" [disabled]="savingFlag == true">
              {{savingFlag == true ? 'Saving' : (data.id ? 'Update' : 'Save')}}
            </button>
          </div>
        </div>
      </div>
      
    </form>
  </div>
  
  
  