	<div class="container pt10 pl10 pr10 pb50" >
    <form #f="ngForm" (ngSubmit)=" f.valid && submitDetail()">
      <div class="row">
        <div class="col s12">
          <div class="card pb0">
            <div class="card-head">
              <h2>About Us Information</h2>
            </div>
            <div class="card-body cs-form">
              <div class="row">
                <div class="col s12 m2 l2" >
                  <div class="edit-picture">
                    <label>
                      <input type="file" [disabled]="logined_user_data.edit_gallery_master!='1'" (change)="onUploadChange1($event)" #fileInput style="display:none;" accept=".png, .jpg, .jpeg" required />
                      <img  [src]="img_id ? url+data.profile_img : data.profile_img" alt="" id="img" *ngIf="data.profile_img != null">
                      <i class="material-icons add-file-icon" matRipple *ngIf="logined_user_data.edit_gallery_master=='1'">create</i>
                    </label>
                  </div>
                </div>
                <div class="col s12 m10 l10">
                  <app-ngx-editor height="200px" minHeight="50px" [config]="editorConfig"  [placeholder]="'Type Here'" [spellcheck]="true" name="about_us" [(ngModel)]="data.about_us"></app-ngx-editor>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          <div class="text-right">
            <button [ngClass]="{'loading': savingFlag == true}" *ngIf="logined_user_data.edit_gallery_master=='1'" mat-raised-button color="accent" type="submit" [disabled]="savingFlag == true">
              {{savingFlag == true ? 'Saving' : (data.id ? 'Update' : 'Save')}}
            </button>
          </div>
        </div>
      </div>
      
    </form>
  </div>
  
  
  