<div class="main-container">
  <div class="tab-surface">
    <button *ngFor="let row of calenderInfo; let i =index;" mat-button
      [ngClass]="OrderMonth == row.month && OrderYear == row.year ? 'active' : ''"
      (click)="orderList('',row.month,row.year);">{{row.monthYEAR | date :'MMM'}} {{row.year}}<span
        class="order-value">&#x20B9;
        {{row.sale ? (row.sale | number:'1.0-0') : '0'}}</span></button>
  </div>
  <div class="tools-container">
    <h2>Primary Order</h2>
    <div class="left-auto left-auto df ac flex-gap-10">
      <button mat-icon-button matTooltip="Refresh" (click)="refresh('refresh',OrderMonth,OrderYear)">
        <i class="material-icons">refresh</i>
      </button>
      <button mat-icon-button matTooltip="Filter" (click)="openBottomSheet()">
        <i class="material-icons">filter_alt</i>
      </button>
      <button mat-icon-button matTooltip="Sorting" (click)="sortData()">
        <i class="material-icons">swap_vert</i>
      </button>
      <div class="pagination" *ngIf="tmp_orderlist.length > 0">
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">
          <button mat-icon-button matTooltip="Older" (click)="pervious('',OrderMonth,OrderYear)"
            [disabled]="start == 0 || total_page == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button matTooltip="Newer" (click)="nextPage('',OrderMonth,OrderYear)"
            [disabled]="pagenumber == total_page || total_page == 0 ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>
      <div class="mat-tabbar">
        <button mat-button [ngClass]="active_tab == 'All' ? 'active' : ''"
        (click)="active_tab='All';orderList('',OrderMonth,OrderYear);"><i
          class="material-icons">done_all</i>All ({{count.all}}) </button>
        <button mat-button [ngClass]="active_tab == 'Pending' ? 'active' : ''"
          (click)="active_tab = 'Pending';orderList('',OrderMonth,OrderYear);"><i
            class="material-icons">pending_actions</i>Pending ({{count.Pending}})</button>
        <button mat-button [ngClass]="active_tab == 'Approved' ? 'active' : ''"
          (click)="active_tab = 'Approved';orderList('',OrderMonth,OrderYear);"><i
            class="material-icons">task_alt</i>Approved
          ({{count.Approved}})</button>
        <button mat-button [ngClass]="active_tab == 'Reject' ? 'active' : ''"
          (click)="active_tab = 'Reject';orderList('',OrderMonth,OrderYear);"><i
            class="material-icons">unpublished</i>Reject
          ({{count.Reject}})</button>
        <button mat-button [ngClass]="active_tab == 'Hold' ? 'active' : ''"
          (click)="active_tab = 'Hold';orderList('',OrderMonth,OrderYear);"><i class="material-icons">back_hand</i>Hold
          ({{count.Hold}})</button>
        <!-- <button mat-button [ngClass]="active_tab == 'Partial_Dispatch' ? 'active' : ''"
          (click)="active_tab = 'Partial_Dispatch';orderList('',OrderMonth,OrderYear);"><i
            class="material-icons">local_shipping</i>Partially Dispatch
          ({{count.Partial_Dispatch}})</button>
        <button mat-button [ngClass]="active_tab == 'Dispatch' ? 'active' : ''"
          (click)="active_tab = 'Dispatch';orderList('',OrderMonth,OrderYear);"><i
            class="material-icons">local_shipping</i>Dispatched
          ({{count.Dispatch}})</button> -->
          <button mat-button [ngClass]="active_tab == 'readyToDispatch' ? 'active' : ''"
          (click)="active_tab = 'readyToDispatch';orderList('',OrderMonth,OrderYear);"><i
            class="material-icons">local_shipping</i>Dispatch Planned
          ({{count.readyToDispatch}})</button>
        </div>
    </div>
  </div>

  <div class="container container-scroll no-tab">
    <div class="cs-table horizontal-scroll">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w50">S NO</th>
              <th class="w110">Date</th>
              <th class="w110">Created By</th>
              <th class="w80">Order Id</th>
              <!-- <th class="w110" *ngIf="active_tab == 'Approved' || active_tab == 'Dispatch'">Order Number</th> -->
              <th class="w200">Company Details</th>
              <th class="w100">Account Code</th>
              <th class="w80 text-center">Total Items</th>
              <th class="w90 text-right">Item QTY.</th>
              <th class="w90 text-right" *ngIf="active_tab == 'Partial_Dispatch'">Dispatch QTY.</th>
              <th class="w90 text-right" *ngIf="active_tab == 'Partial_Dispatch'">Pending QTY.</th>
              <th class="w90 text-right">Order Amount</th>
              <th class="w120 text-right">Order Type</th>
              <th class="w200">Remark</th>
              <th class="w200" *ngIf="active_tab == 'Reject' || active_tab == 'Hold'">Reason</th>
              <th class="w80" *ngIf="active_tab == 'Pending'">Action</th>
            </tr>
          </table>
        </div>

        <div class="table-head border-top">
          <table>
            <tr>
              <th class="w50">&nbsp;</th>
              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput [matDatepicker]="picker2" placeholder="Date" name="date_created"
                      [(ngModel)]="search_val.date_created" (dateChange)="onDate($event)" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="Search" name="created_by_name" [(ngModel)]="search_val.created_by_name"
                      (keyup.enter)="orderList('',OrderMonth,OrderYear)">
                  </mat-form-field>
                </div>
              </th>
              <th class="w80">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="Search" name="order_id" [(ngModel)]="search_val.order_id"
                      (keyup.enter)="orderList('',OrderMonth,OrderYear)">
                  </mat-form-field>
                </div>
              </th>
              <!-- <th class="w110" *ngIf="active_tab == 'Approved' || active_tab == 'Dispatch'">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="Search" name="order_no" [(ngModel)]="search_val.order_no"
                      (keyup.enter)="orderList('',OrderMonth,OrderYear)">
                  </mat-form-field>
                </div>
              </th> -->
              <th class="w200">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="Search" name="company_detail" [(ngModel)]="search_val.company_detail"
                      (keyup.enter)="orderList('',OrderMonth,OrderYear)">
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="Search" name="account_code" [(ngModel)]="search_val.dr_code"
                      (keyup.enter)="orderList('',OrderMonth,OrderYear)">
                  </mat-form-field>
                </div>
              </th>
              <th class="w80 text-center">&nbsp; {{totalData.total_item}}</th>
              <th class="w90 text-right">&nbsp; {{totalData.total_order_qty}}</th>
              <th class="w90 text-right" *ngIf="active_tab == 'Partial_Dispatch'">&nbsp;</th>
              <th class="w90 text-right" *ngIf="active_tab == 'Partial_Dispatch'">&nbsp;</th>
              <th class="w90 text-right">₹ {{totalData.total_amount}}</th>
              <th class="w120 text-right">&nbsp;</th>
              <th class="w200"></th>
              <th class="w200" *ngIf="active_tab == 'Reject' || active_tab == 'Hold'">&nbsp;</th>
              <th class="w80" *ngIf="active_tab == 'Pending'">
                <!-- <button mat-icon-button matTooltip="Delete" [(ngModel)]="search_val.deleteAll"
                  (click)="delete('deleteAll')">
                  <i class="material-icons del">delete</i>Delete
                </button> -->
              </th>
            </tr>
          </table>
        </div>
      </div>

      <div class="table-container">
        <div class="table-content">
          <table>
            <ng-container *ngIf="!loader">
              <tr *ngFor="let row of tmp_orderlist; let i =index;"
                [ngClass]="{'Current': serve.currentUserID == row.id}">
                <td class="w50">{{ i + 1 + sr_no }}</td>
                <td class="w110">{{row.date_created | date : 'dd MMM yyy ,h:mm a'}}</td>
                <td class="w110">{{row.created_by_name}}</td>
                <td class="w80"><a class="link-btn" (click)="serve.setData(search_val)"
                    [routerLink]="[ 'order-detail/', row.id ]" [queryParams]="{'id':row.id, 'status':active_tab}"
                    routerLinkActive="active">{{row.order_no}}</a></td>
                <!-- <td class="w110" *ngIf="active_tab == 'Approved' || active_tab == 'Dispatch'">{{row.account_order_no}}
                </td> -->
                <!-- - ({{row.name}} {{row.mobile}}) -->
                <td class="w200">{{row.company_name}}</td>
                <td class="w100">{{row.dr_code}}</td>
                <td class="w80 text-center">{{row.order_item}}</td>
                <td class="w90 text-right">{{row.total_order_qty}}</td>
                <td class="w90 text-right" *ngIf="active_tab == 'Partial_Dispatch'">{{row.dispatch_qty}}</td>
                <td class="w90 text-right" *ngIf="active_tab == 'Partial_Dispatch'">{{row.pending_qty}}</td>
                <td class="w90 text-right"><strong>&#x20B9; {{row.order_grand_total}}</strong></td>
                <td class="w120 text-right"><strong>{{row.order_type}}</strong></td>
                <td class="w200">{{row.order_create_remark}}</td>
                <td class="w200" *ngIf="active_tab == 'Reject'|| active_tab == 'Hold' ">{{row.reason_reject}}</td>
                <td class="w80" *ngIf="active_tab == 'Pending'">
                  <div class="action-button" *ngIf="login_data.delete_secondary_orders=='1'">
                    <button mat-icon-button matTooltip="Delete" (click)="delete('singleDelete', row.id)">
                      <i class="material-icons del">delete</i>
                    </button>
                    <!-- <mat-checkbox color="accent" [(ngModel)]="row.selected_order" (change)="delete(row.id)"
                      [name]="'id'+i" value="true"></mat-checkbox> -->
                  </div>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="loader">
              <tr class="sk-loading" *ngFor="let row of [].constructor(100)">
                <td class="w50">
                  <div>&nbsp;</div>
                </td>
                <td class="w110 text-center">
                  <div>&nbsp;</div>
                </td>
                <td class="w110">
                  <div>&nbsp;</div>
                </td>
                <td class="w80">
                  <div>&nbsp;</div>
                </td>
                <!-- <td *ngIf="active_tab == 'Approved' || active_tab == 'Dispatch'" class="w110">
                  <div>&nbsp;</div>
                </td> -->
                <td class="w200">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w80">
                  <div>&nbsp;</div>
                </td>
                <td class="w90">
                  <div>&nbsp;</div>
                </td>
                <td *ngIf="active_tab == 'Partial_Dispatch'" class="w90">
                  <div>&nbsp;</div>
                </td>
                <td *ngIf="active_tab == 'Partial_Dispatch'" class="w90">
                  <div>&nbsp;</div>
                </td>
                <td class="w90">
                  <div>&nbsp;</div>
                </td>
                <td class="w120">
                  <div>&nbsp;</div>
                </td>
                <td class="w200">
                  <div>&nbsp;</div>
                </td>
                <td *ngIf="active_tab == 'Reject' || active_tab == 'Hold'" class="w200">
                  <div>&nbsp;</div>
                </td>
                <td class="w80" *ngIf="active_tab == 'Pending'">
                  <div>&nbsp;</div>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
      <ng-container *ngIf="tmp_orderlist.length == 0 && datanotfound == true">
        <app-not-result-found></app-not-result-found>
      </ng-container>
    </div>

  </div>
  <div class="fab-btns pulse"
    *ngIf="(login_data.export_primary_order=='1' || login_data.export_order=='1') || (login_data.add_order=='1' || login_data.add_primary_order=='1') ">
    <button class="excel pulse " mat-fab color="primary" [matMenuTriggerFor]="menu">
      <i class="material-icons">apps</i>
      Action
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="lastBtnValue('excel'); exportAsXLSX(OrderMonth, OrderYear)"
        *ngIf="tmp_orderlist.length > 0 &&  login_data.export_primary_order=='1'">
        <mat-icon>download</mat-icon>
        <span>Download in excel</span>
      </button>
      <!-- <button mat-menu-item routerLink="add-order/primary" *ngIf="login_data.add_primary_order=='1'">
        <mat-icon>add</mat-icon>
        <span>Add Order</span>
      </button> -->
    </mat-menu>
  </div>

</div>