<div class="main-container">
  <div class="tools-container">
    <a mat-icon-button matTooltip="Back" (click)="back()">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>Customer Detail</h2>


    <div class="left-auto df ac flex-gap-10">
      <div class="pagination" *ngIf="(tabType!= 'Profile')">
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">
          <button mat-icon-button matTooltip="Older" (click)="pervious(tabType)" [disabled]="start == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button matTooltip="Newer" (click)="nextPage(tabType)" [disabled]="pagenumber == total_page ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>
      <div class="mat-tabbar">
        <button mat-button [ngClass]="{'active' :tabType== 'Profile'}"
          (click)="tabType= 'Profile';getCustomerDetail()"><i class="material-icons">person</i>Basic Detail</button>
        <button mat-button [ngClass]="{'active' :tabType== 'warranty'}"
          (click)="tabType= 'warranty';getWarrantyDetail()"><i class="material-icons">person</i>Warranty</button>
        <button mat-button [ngClass]="{'active' :tabType== 'complaint'}"
          (click)="tabType= 'complaint';getComplaintDetail()"><i class="material-icons">person</i>Complaint</button>
        <button mat-button [ngClass]="{'active' :tabType== 'installation'}"
          (click)="tabType= 'installation';getInstallationDetail()"><i
            class="material-icons">person</i>Installation</button>
      </div>
    </div>
  </div>

  <div class="container pt10 pl10 pr10 container-scroll">
    <div class="row" *ngIf="tabType== 'Profile'">
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-head">
            <h2>Customer Details</h2>
            <div class="left-auto">
              <a class="sm-mat-icon-button" mat-icon-button matTooltip="Edit Detail"
                [routerLink]="[ 'add-customer/', this.id ]">
                <i class="material-icons">edit</i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="grid-box">
              <div class="block-feilds">
                <span>Name</span>
                <p>{{getData.name ? getData.name :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>Mobile No.</span>
                <p>{{getData.mobile_no ? getData.mobile_no :'---'}}</p>
              </div>

              <div class="block-feilds">
                <span>Alternate Mobile No.</span>
                <p>{{getData.alternate_mobile_no ? getData.alternate_mobile_no :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>Email Id.</span>
                <p>{{getData.email ? getData.email :'---'}}</p>
              </div>


              <div class="block-feilds">
                <span>State</span>
                <p>{{getData.state ? getData.state :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>District</span>
                <p>{{getData.district ? getData.district :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>City</span>
                <p>{{getData.city ? getData.city :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>Pincode</span>
                <p>{{getData.pincode ? getData.pincode :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>Address</span>
                <p>{{getData.address ? getData.address :'---'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="tabType== 'warranty'">
      <div class="cs-table horizontal-scroll">
        <div class="sticky-head">
          <div class="table-head">
            <table>
              <tr>
                <th class="w50">Sr.No</th>
                <th class="w150">Date Created</th>
                <th class="w150">Created By</th>
                <th class="w150">Customer Name</th>
                <th class="w120">Customer Mobile No.</th>
                <th class="w120">Product Serial No.</th>
                <th class="w150">Product Detail</th>
                <th class="w120">Warranty Start Date</th>
                <th class="w120">Warranty End Date</th>
                <th class="w120">Verification Status</th>
                <th class="w120">
                  Verification Date
                </th>
                <th class="w100">
                  Verification By
                </th>
                <!-- <th class="w70 text-center">Action</th> -->
              </tr>
            </table>
          </div>
          <div class="table-head bdrt">
            <table>
              <tr>
                <th class="w50"></th>
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                        #date_created="ngModel" [(ngModel)]="filter_data.date_created" (ngModelChange)="date_format()"
                        [max]="today_date" readonly />
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="created_by_name"
                        (keyup.enter)="getWarrantyList('')" #created_by_name="ngModel"
                        [(ngModel)]="filter_data.created_by_name" />
                    </mat-form-field>
                  </div>
                </th>
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="customer_name"
                        (keyup.enter)="getWarrantyList('')" #customer_name="ngModel"
                        [(ngModel)]="filter_data.customer_name" />
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="customer_mobile"
                        (keyup.enter)="getWarrantyList('')" #customer_mobile="ngModel"
                        [(ngModel)]="filter_data.customer_mobile" />
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="serial_no"
                        (keyup.enter)="getWarrantyList('')" #serial_no="ngModel" [(ngModel)]="filter_data.serial_no" />
                    </mat-form-field>
                  </div>
                </th>
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="product_detail"
                        (keyup.enter)="getWarrantyList('')" #product_detail="ngModel"
                        [(ngModel)]="filter_data.product_detail" />
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker2" placeholder="Date" name="date_of_purchase"
                        #date_of_purchase="ngModel" [(ngModel)]="filter_data.date_of_purchase"
                        (ngModelChange)="date_format2()" [max]="today_date" readonly />
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker3" placeholder="Date" name="warranty_end_date"
                        #warranty_end_date="ngModel" [(ngModel)]="filter_data.warranty_end_date"
                        (ngModelChange)="date_format3()" [max]="today_date" readonly />
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="company_verification_status"
                        (keyup.enter)="getWarrantyList('')" #company_verification_status="ngModel"
                        [(ngModel)]="filter_data.company_verification_status" />
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker4" placeholder="Date" name="verification_on"
                        #verification_on="ngModel" [(ngModel)]="filter_data.verification_on"
                        (ngModelChange)="date_format4()" [max]="today_date" readonly />
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w100">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="verification_by_name"
                        (keyup.enter)="getWarrantyList('')" #verification_by_name="ngModel"
                        [(ngModel)]="filter_data.verification_by_name" />
                    </mat-form-field>
                  </div>
                </th>
                <!-- <th class="w70 text-center"></th> -->
              </tr>

            </table>
          </div>

        </div>

        <div class="table-container">
          <div class="table-content">
            <table>
              <ng-container *ngIf="!loader">
                <tr *ngFor="let row of warrantyList; let i = index"
                  [ngClass]="{ Current: service.currentUserID == row.id }">
                  <td class="w50">{{ i + 1 + sr_no }}</td>
                  <td class="w150">
                    {{ row.date_created | date : "dd MMM yyy ,h:mm a" }}
                  </td>
                  <td class="w150">{{ row.created_by_name }}</td>
                  <td class="w150">
                    <a class="link-btn" mat-button (click)="service.setData(filter_data)"
                      routerLink="warranty-detail/{{ row.id }}" routerLinkActive="active">
                      {{ row.customer_name | titlecase }}</a>
                  </td>
                  <td class="w120">{{ row.customer_mobile }}</td>
                  <td class="w120">{{ row.serial_no }}</td>
                  <td class="w150">
                    {{ row.product_name }}-{{ row.product_code }}
                  </td>
                  <td class="w120">{{ row.date_of_purchase }}</td>
                  <td class="w120">{{ row.warranty_end_date }}</td>
                  <td class="w120">{{ row.company_verification_status }}</td>
                  <td class="w120">
                    {{
                    row.verification_on != "0000-00-00 00:00:00"
                    ? (row.verification_on | date : "dd MMM yyy ,h:mm a")
                    : "--"
                    }}
                  </td>
                  <td class="w100">
                    {{
                    row.verification_by_name ? row.verification_by_name : "--"
                    }}
                  </td>
                  <!-- <td class="w70 text-center">
                  <div class="action-button">
                    <button mat-icon-button matTooltip="Edit" (click)="updateWarrantyStataus(row.id)">
                      <i class="material-icons edit">edit</i>
                    </button>

                  </div>

                </td> -->
                </tr>
              </ng-container>
              <ng-container *ngIf="loader">
                <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                  <td class="w50">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w180">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w250 ">
                    <div>&nbsp;</div>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
      </div>


    </div>

    <div class="row" *ngIf="tabType== 'complaint'">
      <div class="cs-table horizontal-scroll">
        <div class="sticky-head">
          <div class="table-head">
            <table>
              <tr>
                <th class="w60">Sr.No</th>
                <th class="w160">Date Created</th>
                <th class="w100">Created By</th>
                <th class="w130">Customer Name</th>
                <th class="w130">Customer Mobile No.</th>
                <th class="w100">Complaint No.</th>
                <th class="w180">Technician Details</th>
                <th class="w130">Inspection Status</th>
                <th class="w160">Closing Date</th>
                <th class="w130">Closing remark</th>
                <th class="w160">Return Date</th>
                <th class="w130">Return Status</th>
                <th class="w130">Complaint Status</th>
                <th class="w70 text-center">TAT</th>
              </tr>
            </table>
          </div>
          <div class="table-head bdrt">
            <table>
              <tr>
                <th class="w60"></th>
                <th class="w160">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                        #date_created="ngModel" [(ngModel)]="filter_data.date_created" (ngModelChange)="date_format5()"
                        [max]="today_date" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w100">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="created_by_type"
                        (keyup.enter)="getComplantList('')" #created_by_type="ngModel"
                        [(ngModel)]="filter_data.created_by_type">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w130">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="customer_name"
                        (keyup.enter)="getComplantList('')" #customer_name="ngModel"
                        [(ngModel)]="filter_data.customer_name">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w130">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="customer_mobile"
                        (keyup.enter)="getComplantList('')" #customer_mobile="ngModel"
                        [(ngModel)]="filter_data.customer_mobile">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w100">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="complain_no"
                        (keyup.enter)="getComplantList('')" #complain_no="ngModel" [(ngModel)]="filter_data.complain_no">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w180">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="carpenter_detail"
                        (keyup.enter)="getComplantList('')" #carpenter_detail="ngModel"
                        [(ngModel)]="filter_data.carpenter_detail">
                    </mat-form-field>
                  </div>
                </th>
                
                <th class="w130">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input select-input">
                      <mat-select name="status" #status="ngModel" [(ngModel)]="filter_data.inspection_status"
                        (selectionChange)="getComplantList('')">
                        <mat-option value="All">All</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                        <mat-option value="Done">Done </mat-option>
  
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w160">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker" placeholder="Date" name="closed_date"
                        #closed_date="ngModel" [(ngModel)]="filter_data.closed_date" (ngModelChange)="date_format6()"
                        [max]="today_date" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker6></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w130">
                </th>
                <th class="w160">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker" placeholder="Date" name="return_on" #return_on="ngModel"
                        [(ngModel)]="filter_data.return_on" (ngModelChange)="date_format7()" [max]="today_date" readonly>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker7></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w130">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input select-input">
                      <mat-select name="return_status" #return_status="ngModel" [(ngModel)]="filter_data.return_status"
                        (selectionChange)="getComplantList('')">
                        <mat-option value="">All</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                        <mat-option value="Done">Done </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w130">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input select-input">
                      <mat-select name="status" #status="ngModel" [(ngModel)]="filter_data.complaint_status"
                        (selectionChange)="getComplantList('')">
                        <mat-option value="">All</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                        <mat-option value="Closed">Closed </mat-option>
                        <mat-option value="Reject">Reject </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w70 text-center"></th>
              </tr>
            </table>
          </div>
        </div>

        <div class="table-container">
          <div class="table-content">
            <table>
              <ng-container *ngIf="!loader">
                <tr *ngFor="let row of complaintList; let i = index "
                [ngClass]="{'Current': service.currentUserID == row.id}">
                <td class="w60">{{i + 1 + sr_no}}</td>
                <td class="w160">{{row.date_created ? (row.date_created | date : 'dd MMM yyy ,h:mm a') : '--'}}</td>
                <td class="w100">{{row.created_name ? row.created_name : '--'}}</td>
                <td class="w130">{{row.customer_name | titlecase}}</td>
                <td class="w130">{{row.customer_mobile}}</td>
                <td class="w100"><a class="link-btn" mat-button (click)="service.setData(filter_data)"
                    routerLink="complaint-detail/{{(row.id)}}" routerLinkActive="active">{{row.complain_no}}</a></td>
                <td class="w180">{{row.carpenter_name ?
                  row.carpenter_name : ''}}-{{row.carpenter_mobile ? row.carpenter_mobile : ''}}</td>

                <td class="w130">{{row.inspection_status
                  ? row.inspection_status : '--'}}</td>
                <td class="w160">
                  {{row.closed_date !='0000-00-00 00:00:00' ? (row.closed_date | date : 'dd MMM yyy ,h:mm a') : '--'}}
                </td>
                <td class="w130">
                  {{row.closing_remark ? row.closing_remark : '--'}}</td>
                <td class="w160">{{row.return_on
                  !='0000-00-00 00:00:00' ? (row.return_on | date : 'dd MMM yyy ,h:mm a') : '--'}}</td>
                <td class="w130">{{row.return_status ?
                  row.return_status : '--'}}</td>
                <td class="w130">{{row.complaint_status ? row.complaint_status : '--'}}</td>
                <td class="w70">{{row.pending_at}}</td>
              </tr>
              </ng-container>
              <ng-container *ngIf="loader">
                <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                  <td class="w60">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w120 text-center">
                    <div>&nbsp;</div>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
      </div>


    </div>
    <div class="row" *ngIf="tabType== 'installation'">
      <div class="cs-table horizontal-scroll">
        <div class="sticky-head">
          <div class="table-head">
            <table>
              <tr>
                <th class="w60">Sr.No</th>
                <th class="w150">Date Created</th>
                <th class="w150">Created By</th>
                <th class="w100">Installation No.</th>
                <th class="w150">Customer Name</th>
                <th class="w120">Customer Mobile No.</th>
                <th class="w180">Technician Details</th>
                <!-- <th class="w50">Total Item</th> -->
                <th class="w100">Status</th>
                <th class="w70 text-center">TAT</th>
                <th class="w180">Remark</th>
                <th class="w180">Reject Reason</th>
              </tr>
            </table>
          </div>
          <div class="table-head bdrt">
            <table>
              <tr>
                <th class="w60"></th>
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                        #date_created="ngModel" [(ngModel)]="filter_data.date_created" (ngModelChange)="date_format8()"
                        [max]="today_date" readonly />
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker8></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="created_name"
                        (keyup.enter)="getinspectionList('')" #created_name="ngModel"
                        [(ngModel)]="filter_data.created_name" />
                    </mat-form-field>
                  </div>
                </th>
                <th class="w100">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="complain_no"
                        (keyup.enter)="getinspectionList('')" #complain_no="ngModel"
                        [(ngModel)]="filter_data.complain_no" />
                    </mat-form-field>
                  </div>
                </th>
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="customer_name"
                        (keyup.enter)="getinspectionList('')" #customer_name="ngModel"
                        [(ngModel)]="filter_data.customer_name" />
                    </mat-form-field>
                  </div>
                </th>
                <th class="w120">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="customer_mobile"
                        (keyup.enter)="getinspectionList('')" #customer_mobile="ngModel"
                        [(ngModel)]="filter_data.customer_mobile" />
                    </mat-form-field>
                  </div>
                </th>
                <th class="w180">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="carpenter_detail"
                        #carpenter_detail="ngModel" [(ngModel)]="filter_data.carpenter_detail">
                    </mat-form-field>
                  </div>
                </th>
                <!-- <th class="w50">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="carpenter_detail"
                        #carpenter_detail="ngModel" [(ngModel)]="filter_data.carpenter_detail">
                    </mat-form-field>
                  </div>
                </th> -->
                <th class="w100">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="complaint_status"
                        (keyup.enter)="getinspectionList('')" #complaint_status="ngModel"
                        [(ngModel)]="filter_data.complaint_status">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w70 text-center"></th>
                <th class="w180"></th>
                <th class="w180"></th>
              </tr>
            </table>
          </div>
        </div>

        <div class="table-container">
          <div class="table-content">
            <table>
              <ng-container *ngIf="!loader">
                <tr *ngFor="let row of installationList; let i = index"
                [ngClass]="{ Current: service.currentUserID == row.id }">
                <td class="w60">{{ i + 1 + sr_no }}</td>
                <td class="w150">
                  {{
                  row.date_created
                  ? (row.date_created | date : "dd MMM yyy ,h:mm a")
                  : "--"
                  }}
                </td>
                <td class="w150">
                  {{ row.created_name ? row.created_name : "--" }}
                </td>
                <td class="w100">
                  <a class="link-btn" mat-button (click)="service.setData(filter_data)"
                    routerLink="installation-detail/{{ row.id }}" routerLinkActive="active">{{ row.complain_no }}</a>
                </td>
                <td class="w150">{{ row.customer_name | titlecase }}</td>
                <td class="w120">{{ row.customer_mobile }}</td>
                <td class="w180">{{row.carpenter_name ? row.carpenter_name : '--'}}-{{row.carpenter_mobile ?
                  row.carpenter_mobile : '--'}}</td>
                <!-- <td class="w50"><a class="link-btn flat" (click)="attendancDetail(row)">{{row.total_items}}</a></td> -->
                <td class="w100">{{ row.complaint_status }}</td>
                <td class="w70 text-center">{{row.pending_at}}</td>
                <td class="w180">{{row.remark}}</td>
                <td class="w180" >{{row.closing_remark}}</td>
              </tr>
              </ng-container>
              <ng-container *ngIf="loader">
                <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                  <td class="w60">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130 ">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w120 text-center">
                    <div>&nbsp;</div>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>