<div class="main-container">
  <div class="tools-container">
    <a mat-icon-button matTooltip="Back" (click)="back()">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>Customer Detail</h2>
  </div>
  
  <div class="container pt10 pl10 pr10 container-scroll">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card" >
          <div class="card-head">
            <h2>User Details</h2>
            <div class="left-auto">
              <a class="sm-mat-icon-button" mat-icon-button matTooltip="Edit Detail" [routerLink]="[ 'add-customer/', this.id ]">
                <i class="material-icons">edit</i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="grid-box">
              <div class="block-feilds">
                <span>Name</span>
                <p>{{getData.name ? getData.name :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>Mobile No.</span>
                <p>{{getData.mobile_no ? getData.mobile_no :'---'}}</p>
              </div>
              
              <div class="block-feilds">
                <span>Alternate Mobile No.</span>
                <p>{{getData.alternate_mobile_no ? getData.alternate_mobile_no :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>Email Id.</span>
                <p>{{getData.email ? getData.email :'---'}}</p>
              </div>
              
              
              <div class="block-feilds">
                <span>State</span>
                <p>{{getData.state ? getData.state :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>District</span>
                <p>{{getData.district ? getData.district :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>City</span>
                <p>{{getData.city ? getData.city :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>Pincode</span>
                <p>{{getData.pincode ? getData.pincode :'---'}}</p>
              </div>
              <div class="block-feilds">
                <span>Address</span>
                <p>{{getData.address ? getData.address :'---'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>