
<div class="main-container" >
  <app-loader *ngIf="loader"></app-loader>
  <div class="tools-container">
    <a mat-icon-button  matTooltip="Back" (click)="back()">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>{{product_id ? 'Edit':'Add New'}} Product</h2>
  </div>
  
  <div class="container pt10 pl10 pr10 pb50" >
    <form #f="ngForm" (ngSubmit)="f.valid && submit()">
      <div class="row">
        <div class="col s12">
          <div class="card pb0">
            <div class="card-head">
              <h2>Basic Information</h2>
            </div>
            <div class="card-body cs-form">
              <div class="row">
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : segment_id.invalid } ">
                    <mat-label>Category</mat-label>
                    <mat-select name="segment_id" #segment_id="ngModel" [(ngModel)]="data.segment_id" (selectionChange)="getSubCatgory(data.segment_id)" required>
                      <mat-option *ngFor="let row of segmentList" value="{{row.id}}" color="accent">{{row.category}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="f.submitted && segment_id?.invalid ">
                    This field is required
                  </div>
                </div>

                <div class="col s12 m3 l3" *ngIf="SubcategoryList.length > 0">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : sub_segment_id.invalid } ">
                    <mat-label>Sub Category {{data.sub_segment_id}}</mat-label>
                    <mat-select name="sub_segment_id" #sub_segment_id="ngModel" [(ngModel)]="data.sub_segment_id" required>
                      <mat-option *ngFor="let row of SubcategoryList" value="{{row.id}}" color="accent">{{row.sub_category_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="f.submitted && sub_segment_id?.invalid ">
                    This field is required
                  </div>
                </div>

                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : product_name?.invalid || product_name.touched } ">
                    <mat-label>Product Name</mat-label>
                    <input matInput placeholder="Type Here ..." name="product_name" #product_name="ngModel" [(ngModel)]="data.product_name" required>
                  </mat-form-field>
                  <div class="alert alert-danger"  *ngIf="f.submitted && product_name?.invalid">
                    This field is required
                  </div>
                </div>
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline"  [ngClass]="{'has-error' : product_code.invalid } ">
                    <mat-label>Product Code</mat-label>
                    <input matInput placeholder="Type Here ..."  name="product_code" #product_code="ngModel" [(ngModel)]="data.product_code" required>
                    
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="f.submitted && product_code?.invalid">
                    This field is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline">
                    <mat-label>Master Packing Size</mat-label>
                    <input matInput placeholder="Type Here ..."  name="master_packing_size" #master_packing_size="ngModel" [(ngModel)]="data.master_packing_size"  onkeypress="return event.charCode>=48 && event.charCode<=57" minlength="1" maxlength="3" min="0">
                  </mat-form-field>
                </div>

                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline">
                    <mat-label>Small Packing Size</mat-label>
                    <input matInput placeholder="Type Here ..."  name="small_packing_size" #small_packing_size="ngModel" [(ngModel)]="data.small_packing_size" >
                  </mat-form-field>
                </div>


                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label>QR Code Generation</mat-label>
                    <mat-select  name="product_scan" [(ngModel)]="data.product_scan" #product_scan="ngModel" required>
                      <mat-option  value="Yes">Yes</mat-option>
                      <mat-option  value="No">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="product_scan.touched || f.submitted">
                    <p *ngIf="product_scan.errors?.required">This field is required</p>
                  </div>
                </div>
                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label>Point Category</mat-label>
                    <mat-select  name="point_category_id" [(ngModel)]="data.point_category_id" #point_category_id="ngModel" (ngModelChange)="findId(data.point_category_id)">
                      <mat-option >
                        <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.." (keyup)="pointCategory_data($event.target.value)"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let row of pointCategories_data" value="{{row.id}}">{{row.point_category_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <div class="alert alert-danger" *ngIf="point_category_id.touched || f.submitted">
                    <p *ngIf="point_category_id.errors?.required">This field is required</p>
                  </div> -->
                </div>
              </div>

              <div class="row">
             
                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label>Brands</mat-label>
                    <mat-select  name="brand" [(ngModel)]="data.brand" #brand="ngModel" multiple required>
                      <mat-option *ngFor="let row of brandList" value="{{row.brand_code}}">{{row.display_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="brand.touched || f.submitted">
                    <p *ngIf="brand.errors?.required">This field is required</p>
                  </div>
                </div>
                <div class="col s12 m3 l3"> 
                  <mat-form-field  appearance="outline">
                    <mat-label>Colors</mat-label>
                    <mat-select  name="color" [(ngModel)]="data.color" #color="ngModel" multiple>
                      <mat-option *ngFor="let row of colorList" value="{{row.color_code}}">{{row.display_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col s12 m3 l3">
                  <mat-form-field  appearance="outline">
                    <mat-label> Box Items with QR</mat-label>
                    <mat-select  name="boxWOItem" [(ngModel)]="data.boxWOItem" #boxWOItem="ngModel" required>
                      <mat-option  value="0">Yes</mat-option>
                      <mat-option  value="1">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="boxWOItem.touched || f.submitted">
                    <p *ngIf="boxWOItem.errors?.required">This field is required</p>
                  </div>
                </div>
              </div>
         
              <div class="row mb0">
                <div class="col s12 m6 l6">
                  <div class="row">
                    <div class="col s12">
                      <mat-form-field appearance="outline" [ngClass]="{'has-error' : description.invalid } ">
                        <mat-label>Product Description</mat-label>
                        <textarea matInput placeholder="Type Here ..." name="description" #description="ngModel" class="h100" [(ngModel)]="data.description"></textarea>
                        <div class="alert alert-danger" *ngIf="!description.valid && description.touched">
                          Product Description is required...
                        </div>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="row">
                <div class="col s12">
                  <div class="uploade-image">
                    <ul>
                      <li *ngFor="let row of selected_image; let i=index">
                        <img src="{{row.img_id ? url+row.image : row.image}}">
                        <span class="cancel-icon">
                          <i class="material-icons crose-icon" (click)="deleteProductImage(i,row.img_id, row.image)">clear</i>
                        </span>
                      </li>
                      <li class="add-bg-1" [ngClass]="{'error': errorMsg == true}" >
                        <label>
                          <input type="file" (change)="onUploadChange($event)" style="display:none;" accept=".png, .jpg, .jpeg," multiple required />
                          <div class="other">
                            <i class="material-icons">cloud_upload</i>
                            <p>Upload Images</p>
                          </div>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="text-right">
            <button [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent" type="submit" [disabled]="savingFlag == true">
              {{savingFlag == true ? 'Saving' : (product_id ? 'Update':'Save')}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

