<div class="main-container">
    <div class="tools-container">
        <a mat-icon-button matTooltip="Back" (click)="back()">
            <i class="material-icons">arrow_back</i>
        </a>
        <h2>Primary Order Details :- {{order_detail.company_name}}</h2>
        <div class="left-auto left-auto df ac flex-gap-10">
            <div class="group-btn">
                <button mat-button class="ouline-btns pdf" (click)="exportPdf()"><img src="assets/img/icons/pdf.png">
                    Export PDF</button>
                <!-- <button mat-button class="ouline-btns whatsapp"><img src="assets/img/icons/whatsapp.png"> Send
                    Whatsapp</button>
                <button mat-button class="ouline-btns email"><img src="assets/img/icons/email.png"> Send Mail</button> -->
                <button mat-button class="ouline-btns status"
                    *ngIf="(order_detail.order_status =='Pending' || order_detail.order_status =='Approved' || order_detail.order_status =='Hold' ) && (login_data.edit_primary_order=='1')"
                    (click)="openDialog()"><img src="assets/img/icons/update.png"> Change Status</button>
            </div>
        </div>
    </div>

    <div class="container pt10 pl10 pr10 pb50">
        <div class="row">
            <div class="col s12 m8 l8">
                <div class="card" *ngIf="!skLoading">
                    <div class="card-head">
                        <h2>Customer Details</h2>
                    </div>
                    <div class="card-body">
                        <div class="grid-box">
                            <div class="block-feilds">
                                <span>Company Name</span>
                                <p>{{order_detail.company_name}} (Direct Dealer)</p>
                            </div>
                            <div class="block-feilds">
                                <span>Account Code</span>
                                <p>{{order_detail.dr_code}}</p>
                            </div>
                            <div class="block-feilds">
                                <span>Contact Person</span>
                                <p>{{order_detail.name}}</p>
                            </div>
                            <div class="block-feilds">
                                <span>Contact Details</span>
                                <p>{{order_detail.mobile}}</p>
                            </div>
                        </div>
                        <div class="grid-box single mt16 mb16">
                            <div class="block-feilds">
                                <span>Address</span>
                                <p>{{order_detail.address}} , {{order_detail.city}} , {{order_detail.district}} ,
                                    {{order_detail.state}} , {{order_detail.state}} {{order_detail.pincode}}</p>
                            </div>
                        </div>
                        <div class="grid-box">
                            <div class="block-feilds">
                                <span>Credit Limit</span>
                                <p>&#x20B9; {{order_detail.credit_limit ? order_detail.credit_limit : 0}}</p>
                            </div>
                            <div class="block-feilds">
                                <span>Credit Day's</span>
                                <p>{{order_detail.credit_period}}</p>
                            </div>
                            <ng-container *ngIf="order_detail.order_status  == 'Pending'">
                                <div class="block-feilds approved">
                                    <span>Outstanding</span>
                                    <p>&#x20B9; {{order_detail.Outstanding_balance}}</p>
                                </div>
                                <div class="block-feilds reject">
                                    <span>Overdue</span>
                                    <p>&#x20B9; {{order_detail.overdue}}</p>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="card-head mt15">
                        <h2>Order Details</h2>
                        <!-- <div class="left-auto">
                                            <a class="sm-mat-icon-button" mat-icon-button  matTooltip="Edit Detail" (click)="editDetails()">
                                                <i class="material-icons">edit</i>
                                            </a>
                                        </div> -->
                    </div>
                    <div class="card-body">
                        <div class="grid-box">
                            <div class="block-feilds">
                                <span>Date</span>
                                <p>{{order_detail.date_created | date: 'dd MMM yyyy , h:mm a'}}</p>
                            </div>

                            <div class="block-feilds">
                                <span>Created By</span>
                                <p>{{order_detail.created_by_type}}</p>
                            </div>
                            <div class="block-feilds">
                                <span>Order Id</span>
                                <p>{{order_detail.order_no}}</p>
                            </div>
                            <div class="block-feilds"
                                *ngIf="order_detail.order_status  == 'Approved' || order_detail.order_status  == 'Dispatch'">
                                <span>Order Number</span>
                                <p>{{order_detail.account_order_no}}</p>
                            </div>
                            <div class="block-feilds">
                                <span>Total Items</span>
                                <p>{{order_detail.order_item}}</p>
                            </div>

                            <div class="block-feilds">
                                <span>Item QTY.</span>
                                <p>{{order_detail.total_order_qty}}</p>
                            </div>

                            <div class="block-feilds">
                                <span>Order Amount</span>
                                <p>&#x20B9; {{order_detail.order_grand_total
                                    }}</p>
                            </div>
                            <div class="block-feilds">
                                <span>Order Type</span>
                                <p>{{order_detail.order_type}}</p>
                            </div>
                            <div class="block-feilds" *ngIf="order_detail.organisation_name">
                                <span>Organisation Name</span>
                                <p>{{order_detail.organisation_name}}</p>
                            </div>
                            <div class="block-feilds {{order_detail.order_status}}">
                                <span>Order Status</span>
                                <p>{{order_detail.order_status == 'Partial_Dispatch' ? 'Partial Dispatch' :
                                    order_detail.order_status}}</p>
                            </div>
                        </div>

                        <div class="grid-box single mt16" *ngIf="order_detail.order_create_remark">
                            <div class="block-feilds">
                                <span>Remark</span>
                                <p>{{order_detail.order_create_remark}}</p>
                            </div>
                            <div class="block-feilds" *ngIf="order_detail.reason_reject">
                                <span>Reason Reject</span>
                                <p>{{order_detail.reason_reject}}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card" *ngIf="skLoading">
                    <div class="sk-head">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="card-body">
                        <div class="grid-box">
                            <div class="sk-box" *ngFor="let row of [].constructor(10)">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col s12 m4 l4">
                <div class="card" *ngIf="!skLoading">
                    <div class="card-head">
                        <h2>Logs</h2>

                    </div>
                    <div class="card-body">
                        <div class="logs-box" style="max-height: 390px;">
                            <ng-container *ngFor="let row of order_logs">
                                <div class="logshead">{{row.created_by_name}} : - {{row.date_created | date : 'dd MMM
                                    yyyy, h:mm a'}}</div>
                                <div class="logscontent">
                                    <span>Remark : -</span> {{row.remark}}
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>


                <div class="card" *ngIf="skLoading">
                    <div class="sk-head">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="card-body">
                        <div class="grid-box single mt10" *ngFor="let row of order_logs">
                            <div class="sk-box">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="tools-container no-sticky">
                <div class="mat-tabbar">
                    <button mat-button [ngClass]="{'active' :orderType== 'order'}" (click)="orderType= 'order'"><i
                            class="material-icons">pending_actions</i>Item Details</button>
                    <button mat-button [ngClass]="{'active' :orderType== 'billing'}" (click)="orderType = 'billing'"><i
                            class="material-icons">receipt</i>Billing Detail</button>
                </div>

                <div class="left-auto"
                    *ngIf="orderType == 'order' && order_detail.order_status  == 'Pending' && login_data.edit_primary_order=='1'">
                    <button matTooltip="Add New Item" (click)="addItem()" mat-raised-button color="primary"><i
                            class="material-icons">add</i> Add New Item</button>
                </div>
            </div>
            <ng-container *ngIf="orderType== 'order'">
                <div class="cs-table">
                    <div class="sticky-head" style="top: -10px;">
                        <div class="table-head">
                            <table>
                                <tr>
                                    <th class="w30">S.no.</th>
                                    <th class="w250">Item Details</th>
                                    <th class="w80 text-right">Category</th>
                                    <th class="w80 text-right">Price</th>
                                    <th class="w80 text-right">Discount (%)</th>
                                    <th class="w80 text-right">Net Price</th>
                                    <th class="w80 text-center">QTY.</th>
                                    <th class="w80 text-right"
                                        *ngIf="order_detail.order_status  == 'Approved' || order_detail.order_status  == 'Dispatch'">
                                        Dispatch QTY.</th>
                                    <th class="w80 text-right">Sub Total</th>
                                    <th class="w80 text-right">GST Amount</th>
                                    <th class="w80 text-right">Net Amount</th>
                                    <!-- <th class="w40 text-right" *ngIf="order_detail.order_status  == 'Pending' && login_data.delete_order=='1'">Action</th> -->
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="table-container">
                        <div class="table-content">
                            <table>
                                <tr *ngFor="let row of order_item; let i =index">
                                    <td class="w30">{{i+1}}</td>
                                    <td class="w250">{{row.product_name | titlecase}} <strong
                                            *ngIf="row.product_code != ''">({{row.product_code}})</strong> <strong
                                            *ngIf="row.brand != ''">({{row.brand}})</strong> <strong
                                            *ngIf="row.color != ''">({{row.color}})</strong></td>
                                    <td class="w80 text-right">({{row.segment_name | titlecase}})</td>
                                    <td class="w80 text-right">&#x20B9; {{row.price | number:'1.2-2' }}</td>
                                    <td class="w80 text-right"> &#x20B9; {{row.discount_amount | number:'1.2-2'}}
                                        ({{row.discount_percent + '%'}})</td>
                                    <td class="w80 text-right">&#x20B9; {{row.net_price | number:'1.2-2' }} </td>
                                    <!-- <td class="w80 text-right"  *ngIf="order_detail.order_status  == 'Approved'">{{row.qty}}</td> -->
                                    <td class="w80  text-center">
                                        <ng-container *ngIf="order_detail.order_status  != 'Pending'">
                                            {{row.qty}}
                                        </ng-container>
                                        <ng-container *ngIf="order_detail.order_status  == 'Pending'">
                                            <ng-container *ngIf="editqty == true">
                                                <div class="th-search-acmt mr30">
                                                    <mat-form-field>
                                                        <input type="text" matInput class="text-right"
                                                            onkeypress="return event.charCode>=48 && event.charCode<=57"
                                                            placeholder="Enter Qty" name="qty{{i}}" #qty="ngModel"
                                                            [(ngModel)]="row.qty">
                                                    </mat-form-field>
                                                </div>
                                                <div class="action-button text-right"
                                                    *ngIf=" (login_data.edit_primary_order=='1' )">
                                                    <a mat-icon-button matTooltip="Save"
                                                        (click)="Update_qty(row.id, row.qty)">
                                                        <i class="material-icons edit">save</i>
                                                    </a>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="editqty == false">
                                                {{row.qty}}
                                                <!-- <div *ngIf="login_data.edit_order=='1'" class="action-button text-right">
                                                                <a mat-icon-button matTooltip="Discount Edit" (click)="edit_qty()">
                                                                    <i class="material-icons edit">edit</i>
                                                                </a>
                                                            </div> -->
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                    <td class="w80 text-right"
                                        *ngIf="order_detail.order_status  == 'Approved' || order_detail.order_status  == 'Dispatch'">
                                        {{row.dispatch_qty}}</td>
                                    <td class="w80 text-right">&#x20B9; {{row.amount | number:'1.2-2'}}</td>
                                    <td class="w80 text-right">&#x20B9; {{row.gst_amount | number:'1.2-2'}}
                                        ({{row.gst_percent}}%)</td>
                                    <td class="w80 text-right"><strong>&#x20B9; {{row.total_amount |
                                            number:'1.2-2'}}</strong></td>
                                    <!-- <td class="w40 text-center" *ngIf="order_detail.order_status  == 'Pending' && (login_data.delete_primary_order=='1')">
                                                    <div class="action-button text-center">
                                                        <a (click)="deleteOrderitem(row.id,index)" mat-icon-button  matTooltip="Delete">
                                                            <i  class="material-icons del">delete</i>
                                                        </a>
                                                    </div>
                                                </td> -->
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5 offset-s8">
                        <div class="invoice-table">
                            <table>
                                <tr>
                                    <td>Total Item</td>
                                    <th>{{order_detail?.order_item}}</th>

                                </tr>
                                <tr>
                                    <td>Total Item Qty.</td>
                                    <th>{{order_detail.total_order_qty||'N/A'}}</th>
                                </tr>
                                <tr>
                                    <td>Total Order Price</td>
                                    <th>₹ {{order_detail.total_order_amount | number:'1.2-2'}}</th>
                                </tr>
                                <tr>
                                    <td>Total Discount Amount</td>
                                    <th>₹ {{order_detail.order_discount | number:'1.2-2'}}</th>
                                </tr>
                                <!-- <tr>
                                    <td>Subtotal </td>
                                    <th>₹ {{order_detail.sub_total_before_cd | number:'1.2-2'}}</th>
                                </tr> -->
                                <tr>
                                    <td>Cash Discount</td>
                                    <th>₹ {{order_detail.cash_discount | number:'1.2-2'}}</th>
                                </tr>
                                <!-- <tr>
                                    <td>Sub Total After Cash Discount</td>
                                    <th>₹ {{order_detail.sub_total_after_cd | number:'1.2-2'}}</th>
                                </tr> -->
                                <tr>
                                    <td>Insurance</td>
                                    <th>₹ {{order_detail.insurance | number:'1.2-2'}}</th>
                                </tr>
                                <tr>
                                    <td>Sub Total</td>
                                    <th>₹ {{order_detail.order_total | number:'1.2-2'}}</th>
                                </tr>
                                <tr>
                                    <td>Total GST Amount</td>
                                    <th>₹ {{order_detail.order_gst | number:'1.2-2'}}</th>
                                </tr>
                                <!-- <tr>
                                    <td>Grand Total</td>
                                    <th>₹ {{order_detail.grand_total_before_tcs | number:'1.2-2'}}</th>
                                </tr> -->
                                <tr>
                                    <td>Tcs</td>
                                    <th>₹ {{order_detail.tcs | number:'1.2-2'}}</th>
                                </tr>

                                <tr>
                                    <td>Grand Total</td>
                                    <th>₹ {{order_detail.order_grand_total | number:'1.2-2'}}</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </ng-container>
            <div class="cs-table" *ngIf="orderType== 'billing'">
                <div class="sticky-head" style="top: -10px;">
                    <div class="table-head">
                        <table>
                            <tr>
                                <th class="w30">S.no.</th>
                                <th class="w150">Invoice Date</th>
                                <th class="w150">Invoice Number</th>
                                <th class="w80 text-center">Total Item</th>
                                <th class="w80 text-center">Total QTY.</th>
                                <th class="w100 text-right">Invoice Amount</th>
                                <th class="w100 text-right">Payment</th>
                                <th class="w100 text-right">Balance Amount</th>

                            </tr>
                        </table>
                    </div>
                </div>


                <div class="table-container">
                    <div class="table-content">
                        <table>
                            <tr *ngFor="let row of invoice_bill_item; let i =index">
                                <td class="w30">{{i+1}}</td>
                                <td class="w150">{{row.billing_date | date:'dd MMM yyyy'}}</td>
                                <td class="w150"><a class="link-btn" [routerLink]="['billing-details/', row.id]"
                                        [queryParams]="row.id">{{row.bill_number}}</a></td>
                                <td class="w80 text-center">{{row.total_billing_item}}</td>
                                <td class="w80 text-center">{{row.total_billing_item_qty}}</td>
                                <td class="w100 text-right"><strong>&#x20B9; {{row.total_billing_amount}}</strong></td>
                                <td class="w100 text-right"><strong>&#x20B9; {{row.billing_receive_amount}}</strong>
                                </td>
                                <td class="w100 text-right"><strong>&#x20B9; {{row.pending_balance}}</strong></td>
                            </tr>

                            <ng-container *ngIf="loader">
                                <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                                    <td class="w30">
                                        <div>&nbsp;</div>
                                    </td>
                                    <td class="w150">
                                        <div>&nbsp;</div>
                                    </td>
                                    <td class="w150">
                                        <div>&nbsp;</div>
                                    </td>
                                    <td class="w80">
                                        <div>&nbsp;</div>
                                    </td>
                                    <td class="w80">
                                        <div>&nbsp;</div>
                                    </td>
                                    <td class="w100">
                                        <div>&nbsp;</div>
                                    </td>
                                    <td class="w100">
                                        <div>&nbsp;</div>
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>