
<div class="main-container" >
    <div class="tools-container">
        <a mat-icon-button  matTooltip="Back" (click)="back()">
            <i class="material-icons">arrow_back</i>
        </a>
        <h2>Product Details</h2>
        
        <div class="left-auto" *ngIf="logined_user_data.edit_products_master=='1'">
            <button matTooltip="Edit product" *ngIf="logined_user_data.edit_products_master=='1'" [routerLink]="[ 'add-product/', this.product_id ]" mat-raised-button color="primary"><i class="material-icons">edit</i> Edit product</button>
        </div>
    </div>
    
    <div class="container pt10 pl10 pr10 pb50" >
        <div class="row">
            <div class="col s12 m12 l8">
                <!-- product data start -->
                <div class="card" *ngIf="!skLoading">
                    <div class="card-head">
                        <h2>Basic Details</h2>
                    </div>
                    <div class="card-body">
                        <div class="grid-box">
                            <div class="block-feilds">
                                <span>Date Created</span>
                                <p>{{getData.date_created | date}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Category</span>
                                <p>{{getData.category}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Sub Category</span>
                                <p>{{getData.sub_category_name}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Name</span>
                                <p>{{getData.product_name}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Product Code</span>
                                <p>{{getData.product_code}}</p>
                            </div>
                            
                            
                            
                            <div class="block-feilds">
                                <span>Master Packing Size</span>
                                <p>{{getData.master_packing_size ? getData.master_packing_size :'---'}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Small Packing Size</span>
                                <p>{{getData.small_packing_size ? getData.small_packing_size :'---'}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Brand</span>
                                <p>{{getData.brand ? getData.brand :'---'}}</p>
                            </div>
                            
                            
                            <div class="block-feilds">
                                <span>Color</span>
                                <p>{{getData.color ? getData.color :'---'}}</p>
                            </div>

                            <div class="block-feilds">
                                <span>Product Scanning</span>
                                <p>{{getData.product_scan ? getData.product_scan :'---'}}</p>
                            </div>
                            <div class="block-feilds">
                                <span>Point Category</span>
                                <p>{{getData.point_category_name ? getData.point_category_name :'---'}}</p>
                            </div>
                            <div class="block-feilds">
                                <span>Box item with QR</span>
                                <p>{{getData.boxWOItem=='1' ? 'No' :'Yes'}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Status</span>
                                <p>{{getData.status == '1' ?  'Active' : "Inactive"}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Last Updated By</span>
                                <p>{{getData.last_updated_by_name ? getData.last_updated_by_name : '--'}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Last Updated On</span>
                                <p>
                                    {{getData.last_updated_on && getData.last_updated_on != '0000-00-00 00:00:00'? (getData.last_updated_on | date:'short') : '--'}}
                                </p>
                            </div>
                        </div>
                        
                        <div class="grid-box single mt16">
                            <div class="block-feilds">
                                <span>Description</span>
                                <p>{{getData.description ? getData.description:'N/A'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product data end -->
                
                
                <!-- Skeleton start -->
                <div class="card" *ngIf="skLoading">
                    <div class="sk-head">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="card-body">
                        <div class="grid-box">
                            <div class="sk-box" *ngFor="let row of [].constructor(10)">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Skeleton end -->
                
            </div>
            <div class="col s12 m12 l4">
                <div class="card" *ngIf="!skLoading">
                    <div class="card-head">
                        <h2>Images</h2>
                    </div>
                    <div class="card-body">
                        <div class="img-container">
                            <div class="image-block" *ngFor="let row of productImg">
                                <img [src]="url+row.image" (click)="imageModel(url+row.image)" style="cursor: zoom-in;">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Skeleton start -->
                <div class="card" *ngIf="skLoading">
                    <div class="sk-head">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="card-body">
                        <div class="img-container">
                            <div class="image-block sk-loading" *ngFor="let row of [].constructor(3)">
                                &nbsp; 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Skeleton end -->
                
            </div>
        </div>
        
        <div class="row" *ngIf="stateDetail.length > 0 ">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-head">
                        <h2>State Wise Price List</h2>
                    </div>
                    <div class="card-body">
                        <div class="cs-table left-right-10" >
                            <div class=" border-top">
                                <div class="table-head">
                                    <table>
                                        <tr>
                                            <th class="w50 text-center">Sr.No</th>
                                            <th>State</th>
                                            <th class="w100 text-right">MRP</th>
                                            <th class="w130 text-right">CP Net Price</th>
                                            <th class="w130 text-right">DD Net Price</th>
                                            <th class="w100 text-center"  *ngIf="logined_user_data.edit_products_master=='1'">Action</th>
                                        </tr>
                                        
                                        <tr>
                                            <th class="w50 text-center"></th>
                                            <th>&nbsp;</th>
                                            <th class="w100 text-right">
                                                <div class="th-search-acmt" [ngClass]="{'error-block': allMrpFlag == true}" *ngIf="logined_user_data.edit_products_master=='1'">
                                                    <mat-form-field>
                                                        <input type="text" (ngModelChange)="clearValidation()"  matInput type="text"  class="text-right" onkeypress="return event.charCode>=48 && event.charCode<=57" placeholder="Enter Mrp"name="product_mrp" #product_mrp="ngModel" [(ngModel)]="state_data.product_mrp">
                                                    </mat-form-field>
                                                </div>
                                            </th>
                                            <th class="w130 text-right">
                                                <div class="th-search-acmt" [ngClass]="{'error-block': allMrpFlag == true}" *ngIf="logined_user_data.edit_products_master=='1'">
                                                    <mat-form-field>
                                                        <input type="text" (ngModelChange)="clearValidation()"  matInput type="text"  class="text-right" onkeypress="return event.charCode>=48 && event.charCode<=57" placeholder="Enter Mrp"name="cn_net_price" #cn_net_price="ngModel" [(ngModel)]="state_data.cn_net_price">
                                                    </mat-form-field>
                                                </div>
                                            </th>
                                            <th class="w130 text-right">
                                                <div class="th-search-acmt" [ngClass]="{'error-block': allMrpFlag == true}" *ngIf="logined_user_data.edit_products_master=='1'">
                                                    <mat-form-field>
                                                        <input type="text" (ngModelChange)="clearValidation()"  matInput type="text"  class="text-right" onkeypress="return event.charCode>=48 && event.charCode<=57" placeholder="Enter Mrp"name="dd_net_price" #dd_net_price="ngModel" [(ngModel)]="state_data.dd_net_price">
                                                    </mat-form-field>
                                                </div>
                                            </th>
                                            <th class="w100 text-center"  *ngIf="logined_user_data.edit_products_master=='1'">
                                                <div class="action-button">
                                                    <a  mat-icon-button  matTooltip="Update All" *ngIf="logined_user_data.edit_products_master=='1'" (click)="updateMrp('all','')" >
                                                        <i class="material-icons edit">save</i>
                                                    </a>
                                                </div>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            
                            <div class="table-container pb0">
                                <div class="table-content none-shadow">
                                    <table>
                                        <tr *ngFor="let row of stateDetail;let i=index;">
                                            <td class="w50 text-center">{{i+1}}</td>
                                            <td>{{row.state_name | titlecase}}</td>
                                            <td class="w100 text-right">
                                                <div class="th-search-acmt" *ngIf="logined_user_data.edit_products_master!='1'">
                                                    {{row.product_mrp}}
                                                </div>
                                                <div class="th-search-acmt" *ngIf="logined_user_data.edit_products_master=='1'">
                                                    <mat-form-field>
                                                        <input type="text" class="text-right"  matInput onkeypress="return event.charCode>=48 && event.charCode<=57"
                                                        placeholder="Enter Mrp"
                                                        [name]="'product_mrp'+i"
                                                        #product_mrp="ngModel"
                                                        [(ngModel)]="row.product_mrp">
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="w130 text-right">
                                                <div class="th-search-acmt" *ngIf="logined_user_data.edit_products_master!='1'">
                                                    {{row.cn_net_price}}
                                                </div>
                                                <div class="th-search-acmt" *ngIf="logined_user_data.edit_products_master=='1'">
                                                    <mat-form-field>
                                                        <input type="text" class="text-right"  matInput onkeypress="return event.charCode>=48 && event.charCode<=57"
                                                        placeholder="Enter Mrp"
                                                        [name]="'cn_net_price'+i"
                                                        #cn_net_price="ngModel"
                                                        [(ngModel)]="row.cn_net_price">
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="w130 text-right">
                                                <div class="th-search-acmt" *ngIf="logined_user_data.edit_products_master!='1'">
                                                    {{row.dd_net_price}}
                                                </div>
                                                <div class="th-search-acmt" *ngIf="logined_user_data.edit_products_master=='1'">
                                                    <mat-form-field>
                                                        <input type="text" class="text-right"  matInput onkeypress="return event.charCode>=48 && event.charCode<=57"
                                                        placeholder="Enter Mrp"
                                                        [name]="'dd_net_price'+i"
                                                        #dd_net_price="ngModel"
                                                        [(ngModel)]="row.dd_net_price">
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="w100 text-center"  *ngIf="logined_user_data.edit_products_master=='1'">
                                                <div class="action-button">
                                                    <button  mat-icon-button  matTooltip="Update" [disabled]="" (click)="updateMrp('single',i)">
                                                        <i class="material-icons edit">save</i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>  
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>




