.waves{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: block;
    background: #cccccc;
    position: absolute;
    top: 0px;
    left: -27.5px;
    z-index: 2;
    display: inline-block;
  }