<div class="main-container" >
    <!-- <app-loader *ngIf="excelLoader"></app-loader> -->
    <div class="tools-container">
        <h2>Stock</h2>
        <div class="left-auto left-auto df ac flex-gap-10">
            <button mat-icon-button matTooltip="Refresh" (click)="refresh()">
                <i class="material-icons">refresh</i>
            </button>
            <div class="pagination" *ngIf="stock_list.length > 0">
                <div class="pagination-content">
                    Pages
                    <span>{{pagenumber}}</span>
                    of
                    <span>{{total_page}}</span>
                </div>
                <div class="page-nav">
                    <button mat-icon-button matTooltip="Older" (click)="previousPage()" [disabled]="start == 0">
                        <i class="material-icons">navigate_before</i>
                    </button>
                    <button mat-icon-button matTooltip="Newer" (click)="nextPage()" [disabled]="pagenumber == total_page ">
                        <i class="material-icons">navigate_next</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <div class="container pb100"> 
        <ng-container>
            <div class="cs-table">
                <div class="sticky-head">
                    <div class="table-head">
                        <table>
                            <tr>
                                <th class="w40">S.no.</th>
                                <th>Product Details</th>
                                <th class="w100 text-center">Company Stock</th>
                                <th class="w100 text-center">Warehouse Stock</th>
                                <th class="w100 text-center">Distributor Stock</th>
                                <th class="w100 text-center">Dealer Stock</th>
                            </tr>
                        </table>
                    </div>
                    <div class="table-head border-top">
                        <table>
                            <tr>
                                <th class="w40">&nbsp;</th>
                                <th>
                                    <div class="th-search-acmt">
                                        <mat-form-field class="example-full-width cs-input">
                                            <input matInput placeholder="Search" name="product_details" [(ngModel)]="filter.product_details"  (keyup.enter)="stockdata('')" >
                                        </mat-form-field>
                                    </div>
                                </th>
                                <th class="w100"> </th>
                                <th class="w100"></th>
                                <th class="w100"></th>
                                <th class="w100"></th>
                              
                            </tr>
                        </table>    
                    </div>
                </div>
                
                <div class="table-container" >
                    <div class="table-content">
                        <table>
                            <ng-container *ngIf="!loader">
                                <tr *ngFor="let row of stock_list; let i=index"
                                [ngClass]="{'Current': service.currentUserID == row.id}">
                                <td class="w40 text-center">{{ i + 1}}</td>
                            
                                <td>{{row.product_name}} {{row.product_code}}</td>
                                <td class="w100 text-center">
                                    {{row.company_stock ? row.company_stock :'0'}}
                                </td>
                                <td class="w100 text-center">
                                    {{row.warehouse_stock ? row.warehouse_stock :'0'}}
                                </td>
                                <td class="w100 text-center">
                                    {{row.distributor_stock ? row.distributor_stock :'0'}}
                                </td>
                                <td class="w100 text-center">
                                    {{row.dealer_stock ? row.dealer_stock : '0'}}
                                </td>
                              
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="loader">
                            <tr class="sk-loading" *ngFor="let row of [].constructor(10)" >
                                <td class="w40"><div>&nbsp;</div></td>
                                <td><div>&nbsp;</div></td>
                                <td class="w100"><div>&nbsp;</div></td>
                                <td class="w100"><div>&nbsp;</div></td>
                                <td class="w100"><div>&nbsp;</div></td>
                                <td class="w100"><div>&nbsp;</div></td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
        <ng-container *ngIf="stock_list.length == 0">
            <app-not-result-found></app-not-result-found>
        </ng-container>
    </ng-container>
    
</div>
</div>

<!-- link button on tabs which opens a modal -->
<!-- 
    class="link-btn" (click)="openDialog()"
-->




