<div class="main-container" >
  <div class="tools-container">
    <a mat-icon-button  matTooltip="Back"  routerLink="/company-dispatch">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>Dispatch Details</h2>
    <div class="left-auto">
      
      <ng-container *ngIf="invoice_detail.order_status == 'Dispatched'">
        <button class="mr16" matTooltip="Genrate Gate Pass"  (click)="openDialog('add', '')" mat-raised-button color="primary">
          <i class="material-icons mr5">local_shipping</i>Genrate Gate Pass
        </button>
      </ng-container>
      
      <ng-container *ngIf="invoice_detail.order_status != 'Dispatched'">
        <button class="mr16" matTooltip="Add Master Boxes"  (click)="addGrandmasterboxes(invoice_detail.order_no,invoice_detail.id,'add')" mat-raised-button color="primary">
          <i class="material-icons">add</i>
          Add Master Boxes
        </button>
      </ng-container>
    </div>
    
  </div>
  
  <div class="container pt10 pl10 pr10 pb50" >
    
    <div class="row" >
      <div class="col s12 m6 l6">
        <div class="card" *ngIf="!skLoading">
          <div class="card-head">
            <h2>Customer Details</h2>
          </div>
          <div class="card-body">
            <div class="grid-box">
              <div class="block-feilds">
                <span>Company Name</span>
                <p>{{invoice_detail.company_name | titlecase}}</p>
              </div>
              <div class="block-feilds">
                <span>Account Code</span>
                <p>{{invoice_detail.dr_code}}</p>
              </div>
              
              <div class="block-feilds">
                <span>Contact Person</span>
                <p>{{invoice_detail.contact_person_name | titlecase}}</p>
              </div>
              
              <div class="block-feilds">
                <span>Contact Details</span>
                <p>{{invoice_detail.mobile}}</p>
              </div>
            </div>
            
            <div class="grid-box single mt16" *ngIf="invoice_detail.address">
              <div class="block-feilds">
                <span>Address</span>
                <p>{{invoice_detail.address}}</p>
              </div>
            </div>
          </div>
        </div>
        
        
        
        
        <div class="card" *ngIf="skLoading">
          <div class="sk-head">
            <h2>&nbsp;</h2>
          </div>
          <div class="card-body">
            <div class="grid-box">
              <div class="sk-box" *ngFor="let row of [].constructor(10)">
                &nbsp;
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="col s12 m6 l6">
        <div class="card" *ngIf="!skLoading">
          <div class="card-head">
            <h2>Order Details</h2>
          </div>
          <div class="card-body">
            <div class="grid-box">
              <div class="block-feilds">
                <span>Date</span>
                <p>{{invoice_detail.date_created | date:'dd MMM yyyy'}}</p>
              </div>
              
              <div class="block-feilds">
                <span>Order Number</span>
                <p>#{{invoice_detail.order_no}}</p>
              </div>
              
              
              <div class="block-feilds" >
                <span>Total Item</span>
                <p>{{invoice_detail.order_item}}</p>
              </div>
              
              
              <div class="block-feilds">
                <span>Total QTY.</span>
                <p>{{invoice_detail.total_order_qty}}</p>
              </div>
            </div>
          </div>
        </div>
        
        <ng-container  *ngIf="!skLoading">
          <div class="card mt10" *ngIf="dispatch_detail.total_scanned_box > 0 || dispatch_detail.total_scanned_product > 0">
            <div class="card-head">
              <h2>Dispatch Item Details</h2>
            </div>
            <div class="card-body">
              <div class="grid-box three">
                <div class="block-feilds">
                  <span>Dispatch Date</span>
                  <p>{{dispatch_detail.dispatch_date |  date:'d MMM y'}}</p>
                </div>
                <div class="block-feilds">
                  <span>Box Coupon</span>
                  <p>{{dispatch_detail.total_scanned_box}}</p>
                </div>
                
                <div class="block-feilds">
                  <span>Product Coupon</span>
                  <p>{{dispatch_detail.total_scanned_product}}</p>
                </div>
              </div>
              
              
              <div class="grid-box single mt10" *ngIf="dispatch_detail.remark">
                <div class="block-feilds">
                  <span>Remark</span>
                  <p>{{dispatch_detail.remark}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        
        
        <div class="card" *ngIf="skLoading">
          <div class="sk-head">
            <h2>&nbsp;</h2>
          </div>
          <div class="card-body">
            <div class="grid-box">
              <div class="sk-box" *ngFor="let row of [].constructor(10)">
                &nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container>
      <div class="row" >
        <div class="col s6">
          <div class="card pb0" *ngIf="invoice_detail.order_status != 'Dispatched'">
            <div class="card-body cs-form">
              <div class="value" *ngIf="dispatchQTY > 0">
                {{dispatchQTY}}/{{dispatchInvoice}}
              </div>
              <div class="row">
                <h2 style="padding: 10px;text-align: center;font-size: 20px;" *ngIf="!masterboxData.length">Please Add Master Boxes first..</h2>
                <div class="col s12 m6 l3" *ngIf="masterboxData.length">
                  <mat-form-field appearance="outline">
                    <mat-label>Grand Master Box</mat-label>
                    <mat-select  name="couponGrandMasterId" [(ngModel)]="couponNumber.couponGrandMasterId" #couponGrandMasterId="ngModel" (ngModelChange)="setcouponnoFocused()">
                      <mat-option >
                        <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.." (keyup)="getmasterbox($event.target.value,invoice_detail.order_no)"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let row of masterboxData" value="{{row.id}}">{{row.coupon_code}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!--  -->
                <div class="col s12 m6 l5" *ngIf="couponNumber.couponGrandMasterId">
                  <mat-form-field  appearance="outline">
                    <mat-label>Coupon Number</mat-label>
                    <input matInput placeholder="Type Here ..."  name="coupon_number" #coupon_number="ngModel" [(ngModel)]="couponNumber.coupon_number"  minlength="16" maxlength="16"  #focusInput  min="0"  (ngModelChange)="checkCoupon(couponNumber.coupon_number,couponNumber.couponGrandMasterId)">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="card mt16 pb0"   *ngIf="temCoupon.length > 0">
            <div class="card-head">
              <h2>Scan Coupon</h2>
            </div>
            <div class="card-body">
              <div class="row mb0">
                <div class="cs-table font-lg border-top">
                  <div class="table-head border-bottom">
                    <table>
                      <tr>
                        <th class="w50">S.no.</th>
                        <th class="w150">Coupon Code</th>
                        <th>Product Detail</th>
                        <th class="w100">Status</th>
                      </tr>
                    </table>
                  </div>
                  <div class="table-container" >
                    <div class="table-content" >
                      <table>
                        <tr *ngFor="let row of temCoupon; let i =index" [ngClass]="row.status == 'Pending' ? 'dispatchPending' : row.status == 'Success' ? 'dispatchCom' : 'dispatchWait'">
                          <td class="w50">{{i+1}}</td>
                          <td class="w150">{{row.coupon_no}}</td>
                          <td>{{row.product_detail}}</td>
                          <td class="w100"><strong>{{row.status}}</strong></td>
                        </tr>
                      </table>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="card pb0 mb10" *ngIf="masterboxData.length">
            <div class="card-head">
              <h2 style="margin-bottom: 0px;">Master Box Detail</h2>
            </div>
            
            <div class="card-body cs-form">
              <div class="cs-table font-lg left-right-10">
                <div class="table-head border-bottom">
                  <table>
                    <tr>
                      <th class="w40">S.no.</th>
                      <th class="w180 text-center">Master Box Serial No.</th>
                      <th class="w100 text-center">Total Small Boxes</th>
                      <th class="w100 text-center">Total Items</th>
                      <th class="w80 text-center">Action</th>
                      
                    </tr>
                  </table>
                </div>
                
                
                <div class="table-container" >
                  <div class="table-content" *ngIf="masterdispatchboxitemdetail.length > 0">
                    <table>
                      <ng-container *ngIf="!skLoading">
                        <tr *ngFor="let row of masterdispatchboxitemdetail; let i =index">
                          <td class="w40">{{i+1}}</td>
                          <td class="w180 text-center">{{row.coupon_code}}</td>
                          <td class="w100 text-center"><a [ngClass]="row.master_grand_coupon_small_box_qty!='0'?'link-btn':''" (click)="row.master_grand_coupon_small_box_qty!='0'?viewmasterboxdetail(row,'small_boxes'):''">{{row.master_grand_coupon_small_box_qty}} </a></td>
                          <td class="w100 text-center"><a [ngClass]="row.master_grand_coupon_item_qty!='0'?'link-btn':''" (click)="row.master_grand_coupon_item_qty!='0'?viewmasterboxdetail(row,'items'):''">{{row.master_grand_coupon_item_qty}} </a></td>
                          
                          <td class="w80 text-center">
                            <div class="action-button">
                              <button  *ngIf="row.master_grand_coupon_small_box_qty!='0' || row.master_grand_coupon_item_qty!='0'" mat-icon-button  matTooltip="Print Master Box" (click)="printData(row,invoice_detail.order_no)">
                                <i class="material-icons edit">print</i>
                              </button>
                              
                              <button  mat-icon-button  matTooltip="Edit" *ngIf="row.master_grand_coupon_small_box_qty=='0' && row.master_grand_coupon_item_qty=='0'" (click)="deletemasterboxes(row,invoice_detail.order_no)">
                                <i class="material-icons del">delete</i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
          <div class="card pb0">
            <div class="card-head">
              <h2 style="margin-bottom: 0px;">Item Detail</h2>
              
              <div class="left-auto">
                <button class="sm-mat-icon-button" color="accent" *ngIf="dispatchItem && dispatchItem.length > 0" mat-icon-button  matTooltip="Print Item Detail" (click)="printItemData()">
                  <i class="material-icons">print</i>
                </button>
              </div>
            </div>
            
            <div class="card-body cs-form">
              <div class="cs-table font-lg left-right-10">
                <div class="table-head border-bottom">
                  <table>
                    <tr>
                      <th class="w50">S.no.</th>
                      <th>Item Details</th>
                      <th class="w80 text-center">QTY.</th>
                      <th class="w100 text-center">Dispatch Qty.</th>
                    </tr>
                  </table>
                </div>
                
                
                <div class="table-container" >
                  <div class="table-content" *ngIf="dispatchItem && dispatchItem.length > 0">
                    <table>
                      <ng-container *ngIf="!skLoading">
                        <tr *ngFor="let row of dispatchItem; let i =index" [ngClass]="{'dispatchWait': row.sale_dispatch_qty == 0, 'dispatchPending': row.sale_dispatch_qty > 0 && row.sale_dispatch_qty < row.sale_qty, 'dispatchCom': row.sale_dispatch_qty == row.sale_qty}">
                          <td class="w50">{{i+1}}</td>
                          <td>{{row.item_name |  titlecase}} <strong>({{row.item_code}})</strong></td>
                          <td class="w80 text-center">{{row.sale_qty}}</td>
                          <td class="w100 text-center"><strong>{{row.sale_dispatch_qty}}</strong></td>
                        </tr>
                      </ng-container>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <ng-container *ngIf="couponList.length > 0 && invoice_detail.order_status == 'Dispatched'">
        <div class="cs-table">
          <div>
            <div class="table-head">
              <table>
                <tr>
                  <th class="w60">Sr.No</th>
                  <th class="w200">Product Coupon Code</th>
                  <th class="w200">Box Coupon Code</th>
                  <th class="w150">Coupon Type</th>
                  <th>Product Detail</th>
                  <!-- <th class="w150">Packing Size</th> -->
                </tr>
              </table>
            </div>
          </div>
          
          <div class="table-container">
            <div class="table-content">
              <table>
                <tr *ngFor="let row of couponList; let i = index;">
                  <td class="w60">{{i+1}}</td>
                  <td class="w200">{{row.coupon_code}}</td>
                  <td class="w200">{{row.master_coupon ?  row.master_coupon: '---'}}</td>
                  <td class="w150">{{row.coupon_type == 'Master Box' ? 'Box' :'Product'}}</td>
                  <td>{{row.product_name}} <strong>{{row.product_code}}</strong></td>
                  <!-- <td class="w150">{{row.master_packing_size == 0 ? '---' : row.master_packing_size}}</td> -->
                </tr>
              </table>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    
    
    <!-- ITEM DETAIL PRINT CODE START -->
    <div  style="width: 50%;margin-left: 250px;" hidden>
      <div  style="width:377.95275591px; height:566.92913386px;" class="paper-layout" id="item_print_card">
        <h2 style="font-size:14px; margin:0px; text-align:center;">{{invoice_detail.organisation_name ? invoice_detail.organisation_name : ''}}.</h2>
        <div style="width:100%; height:1.5px; background:#000; margin:5px 0px;">&nbsp;</div>
        
        <table style="border:1px solid #ccc; table-layout:fixed;border-collapse:collapse;">
          <tr>
            <th style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; background: #fafbfc; text-align:left;">Sr.No</th>
            <th style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; background: #fafbfc; text-align:left;">Order No.</th>
            <th style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; background: #fafbfc; width:170px; text-align:left;">Product Detail</th>
            <th style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; background: #fafbfc;">QTY.</th>
            <th style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; background: #fafbfc;">Dispatch QTY.</th>
          </tr>
          <tr *ngFor="let row of dispatchItem; let i =index">
            <td style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px;">{{i+1}}</td>
            <td style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px;">{{row.invoice_number}}</td>
            <td style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px;">{{row.item_name}}</td>
            <td style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; text-align:center;"><b>{{row.sale_qty}}</b></td>
            <td style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; text-align:center;"><b>{{row.sale_dispatch_qty}}</b></td>
          </tr>
          
        </table>
      </div>
    </div>
    <!-- ITEM DETAIL PRINT CODE END -->
    
    <!-- MASTER LABEL PRINT CODE START -->
    <ng-container *ngIf="cartennumber != undefined ">
      <div  style="width: 50%;margin-left: 250px;" hidden>
        <div  style="width:377.95275591px; height:566.92913386px;" class="paper-layout" id="print_card">
          <h2 style="font-size:14px; margin:0px; text-align:center;">{{organisation_name ? (organisation_name | titlecase) : ''}}</h2>
          <div style="padding: 0px 100px 5px 5px; position: relative;">
            <p style=" font-size: 10px; line-height: 5px;"><strong style=" font-size: 10px; line-height: 5px;">Company Name</strong> : {{invoice_detail.company_name ? (invoice_detail.company_name | titlecase) :''}}</p>
            <p style=" font-size: 10px; line-height: 5px;"><strong style=" font-size: 10px; line-height: 5px;">Contact No.</strong> : {{invoice_detail.mobile}}</p>
            <p style=" font-size: 10px; line-height: 5px;" *ngIf="invoice_detail.address"><strong style=" font-size: 10px; line-height: 5px;">Address</strong> : {{invoice_detail.address}}</p>
            <p style=" font-size: 10px; line-height: 5px;"><strong style=" font-size: 10px; line-height: 5px;">Order No.</strong> : #{{invoice_detail.order_no}}</p>
            <p style=" font-size: 10px; line-height: 5px;"><strong style=" font-size: 10px; line-height: 5px;">Order Date</strong> : {{invoice_detail.date_created | date:'dd MMM yyyy'}}</p>
            <p style=" font-size: 10px; line-height: 5px;"><strong style=" font-size: 10px; line-height: 5px;">Master Box Serial No.</strong> : {{cartennumber}}</p>
            <p style=" font-size: 10px; line-height: 5px;"><strong style=" font-size: 10px; line-height: 5px;">Master Box Total QTY.</strong> : {{masterQTY}}</p>

            <div style="position: absolute; top: -10px; right: 0px; width: 70px; height: 70px; background:#000;">
              <ngx-qrcode [elementType]="elementType" value="{{cartennumber}}" cssClass="aclass master_qr_img" errorCorrectionLevel="L"> </ngx-qrcode>
              <span style="text-align: center; display: block; font-weight: 900; font-size: 10px; margin-top: -5px;">{{cartennumber}}</span>
            </div>
          </div>
          <div style="width:100%; height:1.5px; margin:3px 0px;">&nbsp;</div>
          <table style="border:1px solid #ccc;border-collapse:collapse;">
            <tr>
              <th style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; background: #fafbfc; text-align:left;">Sr.No</th>
              <th style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; background: #fafbfc; text-align:left; width:250px;">Product Detail</th>
              <th style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; background: #fafbfc;">Dispatch QTY.</th>
            </tr>
            <tr *ngFor="let item of printdata; let i=index">
              <td style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px;">{{i+1}}</td>
              <td style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px;">{{item.product_detail}}</td>
              <td style="font-size: 10px; border:1px solid #ccc; line-height: 12px; padding: 2px; text-align:center;"><b>{{item.totalItems}}</b></td>
            </tr>
            
          </table>
        </div>
      </div>
    </ng-container>
    <!-- MASTER LABEL PRINT CODE END -->
  </div>
</div>

