<div class="main-container">
  <div class="tools-container">
    <a mat-icon-button matTooltip="Back" (click)="back()">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>{{params_id ? 'Edit' : 'Add New'}} {{params_network}}</h2>
  </div>

  <div class="container pt10 pl10 pr10 pb50">
    <form #f="ngForm" (ngSubmit)=" f.valid && submitDetail()">
      <div class="row">
        <div class="col s12">
          <div class="card pb0">
            <div class="card-head">
              <h2>Basic Information</h2>
            </div>
            <div class="card-body cs-form">
              <div class="row">
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : name.invalid } ">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Type Here ..." name="name" #name="ngModel" [(ngModel)]="data.name"
                      required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="name.touched || f.submitted">
                    <p *ngIf="name.errors?.required">This field is required</p>
                  </div>
                </div>
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : mobile_no.invalid } ">
                    <mat-label>Mobile Number</mat-label>
                    <input type="text" name="mobile_no" minlength="10" maxlength="10" matInput placeholder=""
                      #mobile_no="ngModel" [(ngModel)]="data.mobile_no"
                      onkeypress="return event.charCode>=48 && event.charCode<=57" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="mobile_no.touched || f.submitted">
                    <p *ngIf="mobile_no.errors?.required">This field is required</p>
                  </div>
                  <div class="alert alert-danger" *ngIf="exist">
                    Mobile no. already Exists.
                  </div>
                </div>
                <div class="col s12 m3 l3" *ngIf="params_network!='Customer'">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : mobile_no.invalid } ">
                    <mat-label>Paytm Mobile Number</mat-label>

                    <input type="text" name="paytm_mobile_no" minlength="10" maxlength="10" matInput placeholder=""
                      #paytm_mobile_no="ngModel" [(ngModel)]="data.paytm_mobile_no"
                      onkeypress="return event.charCode>=48 && event.charCode<=57">
                  </mat-form-field>

                </div>
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select name="country" #country="ngModel" [(ngModel)]="data.country" required>
                      <mat-option disabled="">Select Country</mat-option>
                      <mat-option value="india">
                        India
                      </mat-option>
                      <mat-option value="nepal">
                        Nepal
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="alert alert-danger" *ngIf="country.touched || f.submitted">
                    <p *ngIf="country.errors?.required">This field is required</p>
                  </div>

                </div>
                <ng-container *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
                  <div class="col s12 m3 l3">
                    <mat-form-field appearance="outline">
                      <mat-label>Email ID</mat-label>
                      <input type="email" name="email" matInput placeholder="" #email="ngModel"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="data.email">
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="email.touched || f.submitted">
                      <p *ngIf="email.errors?.pattern">This is not a valid Email ID !</p>
                    </div>
                  </div>
                  <div class="col s12 m3 l3">
                    <mat-form-field appearance="outline">
                      <mat-label>D.O.B</mat-label>
                      <input name="dob" matInput placeholder="" #dob="ngModel" [(ngModel)]="data.dob" [max]="myDate"
                        [matDatepicker]="picker" disabled>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col s12 m3 l3"
                    *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
                    <mat-form-field class="cs-input" appearance="outline">
                      <mat-label>D.O.A</mat-label>
                      <input name="D.O.A" matInput [matDatepicker]="pickers" placeholder="" #doa="ngModel"
                        [max]="myDate" [(ngModel)]="data.doa" disabled>
                      <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                      <mat-datepicker #pickers disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </ng-container>
              </div>

              <div class="row" *ngIf="params_network!='Customer'">
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : dealer_name.invalid } ">
                    <mat-label>Dealer Name</mat-label>
                    <input matInput placeholder="Type Here ..." name="dealer_name" #dealer_name="ngModel"
                      [(ngModel)]="data.dealer_name" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="dealer_name.touched || f.submitted">
                    <p *ngIf="dealer_name.errors?.required">This field is required</p>
                  </div>
                </div>

                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : dealer_mobile.invalid } ">
                    <mat-label>Dealer Mobile Number</mat-label>
                    <input type="text" name="dealer_mobile" minlength="10" maxlength="10" matInput placeholder=""
                      #dealer_mobile="ngModel" [(ngModel)]="data.dealer_mobile"
                      onkeypress="return event.charCode>=48 && event.charCode<=57" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="mobile_no.touched || f.submitted">
                    <p *ngIf="mobile_no.errors?.required">This field is required</p>
                  </div>
                </div>
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : distributor_name.invalid } ">
                    <mat-label>Distributor Name</mat-label>
                    <input type="text" name="distributor_name" matInput placeholder="" #distributor_name="ngModel"
                      [(ngModel)]="data.distributor_name" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="distributor_name.touched || f.submitted">
                    <p *ngIf="distributor_name.errors?.required">This field is required</p>
                  </div>
                </div>

              </div>

              <div class="row">




                <!-- <ng-container *ngIf="checkRight.scanning_rights == 'No' && checkRight.point_transfer_right == 'Yes' ">
                  <div class="col s12 m3 l3">
                    <mat-form-field appearance="outline">
                      <mat-label>Distributor</mat-label>
                      <mat-select name="distributor_assign" multiple [(ngModel)]="data.distributor_assign" #distributor_assign="ngModel"  [ngClass]="{'has-error' : distributor_assign.invalid } " required>
                        <mat-option>
                          <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.."
                          (keyup)="distributorList($event.target.value, '')"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let row of drlist" value="{{row.id}}">{{row.company_name | titlecase}}
                          {{row.dr_code}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="alert alert-danger" *ngIf="distributor_assign.touched || f.submitted">
                        <p *ngIf="distributor_assign.errors?.required">This field is required</p>
                      </div>

                    </div>

                    <div class="col s12 m3 l3">
                      <mat-form-field class="cs-input" appearance="outline">
                        <mat-label>Sales User</mat-label>
                        <mat-select name="user_assign" multiple [(ngModel)]="data.user_assign" #user_assign="ngModel" [ngClass]="{'has-error' : user_assign.invalid }" required>
                          <mat-option>
                            <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.."
                            (keyup)="getSalesUser($event.target.value)"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let row of salesUser" value="{{row.id}}">{{row.name}} {{row.role_name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="alert alert-danger" *ngIf="user_assign.touched || f.submitted">
                        <p *ngIf="user_assign.errors?.required">This field is required</p>
                      </div>
                    </div>
                  </ng-container> -->


              </div>
              <div class="row mb0">
                <div class="col s12 m6 l6">
                  <div class="row">
                    <ng-container *ngIf="data.country=='india'">

                      <div class="col s12 m6 l6">
                        <mat-form-field appearance="outline">
                          <mat-label>State</mat-label>
                          <mat-select name="state" #state="ngModel" [(ngModel)]="data.state" required
                            (selectionChange)="getDistrict(1)">
                            <mat-option disabled="">Select State</mat-option>
                            <mat-option *ngFor="let row of states" value="{{row.state_name}}">
                              {{row.state_name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <div class="alert alert-danger" *ngIf="state.touched || f.submitted">
                          <p *ngIf="state.errors?.required">This field is required</p>
                        </div>

                      </div>
                      <div class="col s12 m6 l6">
                        <mat-form-field appearance="outline">
                          <mat-label>District</mat-label>
                          <mat-select name="district" #district="ngModel" [(ngModel)]="data.district" required>
                            <mat-option disabled="">Select District</mat-option>
                            <mat-option *ngFor="let row of district_list" value="{{row.district_name}}">
                              {{row.district_name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div class="alert alert-danger" *ngIf="district.touched || f.submitted">
                          <p *ngIf="district.errors?.required">This field is required</p>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="data.country=='nepal'">
                      <div class="col s12 m6 l6">
                        <mat-form-field appearance="outline" [ngClass]="{'has-error' : state.invalid } ">
                          <mat-label>State</mat-label>
                          <input matInput placeholder="Type Here ..." name="state" #state="ngModel"
                            [(ngModel)]="data.state" required>
                        </mat-form-field>
                        <div class="alert alert-danger" *ngIf="state.touched || f.submitted">
                          <p *ngIf="state.errors?.required">This field is required</p>
                        </div>
                      </div>
                    </ng-container>
                  </div>



                  <div class="row">
                    <div class="col s12 m6 l6">
                      <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Type here..." name="city" #city="ngModel" [(ngModel)]="data.city"
                          required>
                      </mat-form-field>
                      <div class="alert alert-danger" *ngIf="city.touched || f.submitted">
                        <p *ngIf="city.errors?.required">This field is required</p>
                      </div>
                    </div>
                    <div class="col s12 m6 l6">
                      <mat-form-field appearance="outline">
                        <mat-label>Pincode</mat-label>
                        <input matInput type="text" name="pincode" placeholder="Type Here ..." #pincode="ngModel" minlength="6" maxlength="6"
                          [(ngModel)]="data.pincode" onkeypress="return event.charCode>=48 && event.charCode<=57" required>
                      </mat-form-field>
                      <div class="alert alert-danger" *ngIf="pincode.touched || f.submitted">
                        <p *ngIf="pincode.errors?.required">This field is required</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l6">
                  <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput placeholder="Type Here ..." name="address" #address="ngModel"
                      [(ngModel)]="data.address" class="h80" required></textarea>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="address.touched || f.submitted">
                    <p *ngIf="address.errors?.required">This field is required</p>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>


      <div class="row" *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
        <ng-container>
          <div class="col s12 m6 l6">
            <div class="card pb0">
              <div class="card-head">
                <h2>Document Detail</h2>
              </div>
              <div class="card-body cs-form">
                <div class="row">
                  <div class="col s12 ">
                    <mat-form-field appearance="outline">
                      <mat-label>Document Number</mat-label>
                      <input type="text" name="adhar_no" minlength="12" maxlength="12" matInput placeholder=""
                        #adhar_no="ngModel" [(ngModel)]="data.adhar_no"
                        onkeypress="return event.charCode>=48 && event.charCode<=57">
                    </mat-form-field>

                  </div>
                </div>
                <div class="row">
                  <div class="col s6 ">
                    <div class="uploade-image">
                      <ul>
                        <li class="add-bg-1 wp100">
                          <img src="{{front_img_id ? uploadurl+data.document_image :data.document_image}}"
                            *ngIf="data.document_image">
                          <label class="fix-label">
                            <input type="file" (change)="Adhr_frnt_Upload($event)" style="display:none;"
                              accept=".png, .jpg, .jpeg," multiple required />
                            <div class="other">
                              <i class="material-icons">cloud_upload</i>
                              <p>Upload Document Front Image</p>
                            </div>
                          </label>
                        </li>
                      </ul>
                    </div>

                  </div>
                  <div class="col s6">
                    <div class="uploade-image">
                      <ul>
                        <li class="add-bg-1 wp100">
                          <img src="{{back_img_id ? uploadurl+data.document_image_back :data.document_image_back}}"
                            *ngIf="data.document_image_back">
                          <label class="fix-label">
                            <input type="file" (change)="Adhr_bck_Upload($event)" style="display:none;"
                              accept=".png, .jpg, .jpeg," multiple required />
                            <div class="other">
                              <i class="material-icons">cloud_upload</i>
                              <p>Upload Document Back Image</p>
                            </div>
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <mat-form-field appearance="outline">
                      <mat-label>Pan Number</mat-label>
                      <input type="text" name="pan_no" matInput placeholder="" #pan_no="ngModel"
                        [(ngModel)]="data.pan_no" pattern="[A-z]{5}[0-9]{4}[A-z]{1}">
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="pan_no.errors?.pattern">
                      <p>Invalid Pan Card Number</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6">
                    <div class="uploade-image">
                      <ul>
                        <li class="add-bg-1 wp100">
                          <img src="{{pan_img_id ? uploadurl+data.pan_img :data.pan_img}}" *ngIf="data.pan_img">
                          <label class="fix-label">
                            <input type="file" (change)="Pan_Upload($event)" style="display:none;"
                              accept=".png, .jpg, .jpeg," multiple required />
                            <div class="other">
                              <i class="material-icons">cloud_upload</i>
                              <p>Upload PAN Image</p>
                            </div>
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card pb0">
              <div class="card-head">
                <h2>Bank Detail</h2>
              </div>
              <div class="card-body cs-form">

                <div class="row">
                  <div class="col s12 m6 l6">
                    <mat-form-field appearance="outline">
                      <mat-label>Account Number</mat-label>
                      <input type="text" onkeypress="return event.charCode>=48 && event.charCode<=57" name="account_no"
                        matInput placeholder="" #account_no="ngModel" [(ngModel)]="data.account_no">
                    </mat-form-field>
                  </div>
                  <div class="col s12 m6 l6">
                    <mat-form-field appearance="outline">
                      <mat-label>IFSC Code</mat-label>
                      <input type="text" name="ifsc_code" matInput placeholder="" #ifsc_code="ngModel"
                        [(ngModel)]="data.ifsc_code" pattern="^[A-Z]{4}[0][A-Z0-9]{6}$">
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="ifsc_code.errors?.pattern">
                      <p>Invalid IFSC Code</p>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col s12 m6 l6">
                    <mat-form-field appearance="outline">
                      <mat-label>Bank Name</mat-label>
                      <input type="text" name="bank_name" matInput placeholder="" #bank_name="ngModel"
                        [(ngModel)]="data.bank_name">
                    </mat-form-field>

                  </div>
                  <div class="col s12 m6 l6">
                    <mat-form-field appearance="outline">
                      <mat-label>Account Holder Name</mat-label>
                      <input matInput placeholder="Type Here ..." name="account_holder_name"
                        #account_holder_name="ngModel" [(ngModel)]="data.account_holder_name">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6">
                    <div class="uploade-image">
                      <ul>
                        <li class="add-bg-1 wp100">
                          <img src="{{bank_img_id ? uploadurl+data.bank_img : data.bank_img}}" *ngIf="data.bank_img">
                          <label class="fix-label">
                            <input type="file" (change)="bankImg_Upload($event)" style="display:none;"
                              accept=".png, .jpg, .jpeg," multiple required />
                            <div class="other">
                              <i class="material-icons">cloud_upload</i>
                              <p>Upload Cheque/Passbook Image</p>
                            </div>
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="text-right">
            <button [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent" type="submit" [disabled]="savingFlag == true">{{savingFlag == true ? 'Saving' : params_id ? 'Update' : 'Save'}}
            </button>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>
