<div class="main-container" >
  <div class="tools-container">
    <a mat-icon-button  matTooltip="Back" (click)="back();">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>Reprint Coupon</h2>
  </div>
  <div class="container pt10 pl10 pr10 pb50" >


    <!-- ***** CASE 1 BOX WITH ITEM START***** -->
    <ng-container *ngIf="box1 == 1">
      <div id="print_card" style="width: 50%;margin-left: 250px;" hidden>
        <div id='qr_code_container'  *ngFor="let row of qrCode; let i = index;">
          <div style="width: 396.8503937px; position: relative; display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;">
            <div class="qr_img" style="width: 94.488188976px; margin: 0 auto;  height: 94.488188976px;  position: relative;">
              <ngx-qrcode [elementType]="elementType" value="{{row.coupon_code}}" cssClass="aclass qr_img_card" errorCorrectionLevel="L"> </ngx-qrcode>
              <span class='fix-text'>Box {{i+1}}</span>
              <span class='fix-code' style="text-align: left; margin-left: 5px;">{{row.coupon_code}}</span>
              
            </div>
            
            <ng-container *ngFor="let subRow of row.itembox">
              <div class="qr_img" style="width: 94.488188976px; margin: 0 auto;  height: 94.488188976px;  position: relative;">
                <ngx-qrcode [elementType]="elementType" value="{{subRow.coupon_code}}" cssClass="aclass qr_img_card" errorCorrectionLevel="L"> </ngx-qrcode>
                <span class='fix-code'>{{subRow.coupon_code}}</span>
                <span class='fix-text-code'>{{getData.product_code}}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- ***** CASE 1 BOX WITH ITEM END***** -->

    
    <!-- ***** CASE 2 ONLY BOX START ***** -->
    <ng-container   *ngIf="box2 == 2">
      <div id="print_card" style="width: 50%;margin-left: 250px;" hidden>
        <div id='qr_code_container'>
          <div style="width: 396.8503937px; position: relative; display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;">
            <div class="qr_img" style="width: 94.488188976px; margin: 0 auto;  height: 94.488188976px;  position: relative;" *ngFor="let row of qrCode; let i = index;">
              <ngx-qrcode [elementType]="elementType" value="{{row.coupon_code}}" cssClass="aclass qr_img_card" errorCorrectionLevel="L"> </ngx-qrcode>
              <span class='fix-text' >BOX {{i+1}}</span>
              <span class='fix-code' style="text-align: center; margin-left: -5px;">{{row.coupon_code}}</span>
              <span class='fix-text-right' style="text-align:left"> {{getData.product_code}}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- ***** CASE 2 ONLY BOX END ***** -->

    
    <!-- ***** CASE 3 ONLY ITEM START***** -->
    <ng-container  *ngIf="box3 == 3">
      <div id="print_card" style="width: 50%;margin-left: 250px;" hidden>
        <div id='qr_code_container'  >
          <div style="width: 396.8503937px; position: relative; display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;">
            <div class="qr_img" style="width: 94.488188976px; margin: 0 auto;  height: 94.488188976px;  position: relative;" *ngFor="let row of qrCode">
              <ngx-qrcode [elementType]="elementType" value="{{row.coupon_code}}" cssClass="aclass qr_img_card" errorCorrectionLevel="L"> </ngx-qrcode>
              <span class='fix-code' style="text-align: center; margin-left: -3px;">{{row.coupon_code}}</span>
              <span class='fix-text-code'>{{getData.product_code}}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- ***** CASE 3 ONLY ITEM END***** -->





    <div class="row ">
      <div class="col s12">
        <div class="card pb0">
          <div class="card-body cs-form">
            <div class="row">
              <div class="col s12 m6 l6">
                <mat-form-field  appearance="outline">
                  <mat-label>Coupon Number</mat-label>
                  <input matInput placeholder="Type Here ..."  name="coupon_number" #coupon_number="ngModel" [(ngModel)]="couponNumber.coupon_number"   minlength="16" maxlength="16" min="0" #focusInput  (ngModelChange)="checkCoupon(couponNumber.coupon_number)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mb100">
      <div class="col s12 m12 l12 grid-two-box">
        <div class="card" *ngFor="let row of qrCode; let i = index;">
          <div class="card-head">
            <div class="qr-head">
              <h2 class="mb0">{{getData.product_detail}}</h2>
              <h2 class="mb0" >{{getData.sku_code}}  {{getData.remarks ? '('+ getData.remarks + ')' : ''}}</h2>
              <h2  class="mb0" *ngIf="getData.hardner_code">{{getData.hardner_code}} {{getData.hardner_qty}}</h2>
            </div>
          </div>
          <div class="card-body">
            <div  class="qr-box">
              <div class="qr-content">
                <ul>
                  <li>
                    <p>MRP &#8377; {{row.product_mrp == 0  ? '': row.product_mrp }} (Inclusive of all Taxes)</p>
                  </li>
                  <li>
                    <p>Net Content {{row.product_qty | titlecase}}.</p>
                  </li>
                  <li>Pearl, Precision Products</li>
                  <li>PEARL PRECISION PRODUCTS PVT. LTD.</li>
                  <li>B-14, Block B, Sector 80, Noida, Uttar Pradesh 201305</li>
                  <li>Customer Care No:0120-4219233, 0120-4219235</li>
                  <li>Email- enquiry@pproducts.in</li>
                </ul>
              </div>
              <div class="cs-barcode" *ngIf="getData.coupon_type == 'Master Box' ">
                <ngx-qrcode [elementType]="elementType"  value="{{row.coupon_code}}" cssClass="aclass" errorCorrectionLevel="L"> </ngx-qrcode>
                <span class="fix">{{i+1}} Box</span>
                <span class="qr-code-number">{{row.coupon_code}}</span>
              </div>
              
              <div class="cs-barcode" *ngIf="getData.coupon_type == 'Item Box' ">
                <ngx-qrcode  [elementType]="elementType"  value="{{row.coupon_code}}"  cssClass="aclass"  errorCorrectionLevel="L"> </ngx-qrcode>
                <span class="qr-code-number">{{row.coupon_code}}</span>
              </div>
              
            </div>
            <div class="qr-box" *ngFor="let subRow of row.itembox">
              <div class="qr-content">
                <ul>
                  <li>
                    <p>MRP &#8377; {{subRow.product_mrp == 0  ? '': subRow.product_mrp }} (Inclusive of all Taxes)</p>
                  </li>
                  <li>
                    <p>Net Content {{subRow.product_qty | titlecase}}</p>
                  </li>
                  <ng-container *ngIf="getData.product_source == 'Imported'">
                    <li>COUNTRY OF ORIGIN ITALY</li>
                    <li>Imported Packed and Marketed by</li>
                  </ng-container>
                  <li>Pearl, Precision Products</li>
                  <li>PEARL PRECISION PRODUCTS PVT. LTD.</li>
                  <li>B-14, Block B, Sector 80, Noida, Uttar Pradesh 201305</li>
                  <li>Customer Care No:0120-4219233, 0120-4219235</li>
                  <li>Email- enquiry@pproducts.in</li>
                </ul>
              </div>
              <div class="cs-barcode">
                <ngx-qrcode 
                [elementType]="elementType" 
                value="{{subRow.coupon_code}}"
                cssClass="aclass"
                errorCorrectionLevel="L">
              </ngx-qrcode>
              <span class="qr-code-number">{{subRow.coupon_code}}</span> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="fab-btns" *ngIf="qrCode.length > 0">
    <div class="fab-btns" >
      <button class="pulse excel" mat-fab color="primary"  (click)="printData();">
        <i class="material-icons">print</i>
        Print Coupon
      </button>
    </div>
  </div>
</div>
</div>



