<div class="main-container" >
  <!-- <app-loader *ngIf="loader"></app-loader> -->
  <div class="tools-container">
    <a mat-icon-button  matTooltip="Back" (click)="back()">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>Task Details</h2>
  </div>
  
  <div class="container pt10 pl10 pr10 pb50" >
    <div class="row">
      <div class="col s12 m12 l8">
        <!-- product data start -->
        <div class="card" *ngIf="!skLoading">
          <div class="card-head">
            <h2>Basic Details</h2>
          </div>
          <div class="card-body">
            <div class="grid-box three">
              <div class="block-feilds">
                <span>Date Created</span>
                <p>{{getData.date_created | date:'d MMM y'}}</p>
              </div>
              <div class="block-feilds">
                <span>User Type</span>
                <p>{{getData.assign_to_type}}</p>
              </div>
              <div class="block-feilds">
                <span>Status</span>
                <p>{{getData.status == 'promise_pending' ? 'Promise Pending' : getData.status == 'promise_done' ? 'Promise Done' :'Close' }}</p>
              </div>
            </div>
            
            <div class="grid-box single mt10">
              <div class="block-feilds">
                <span>Task Description</span>
                <p>{{getData.escalation_description}}</p>
              </div>
            </div>
            <div class="grid-box three mt10" *ngIf="getData.promise_date != null">
              <div class="block-feilds">
                <span>Promise Date</span>
                <p>{{getData.promise_date && getData.promise_date != '0000-00-00 00:00:00'? (getData.promise_date | date:'d MMM y') : '--'}}</p>
              </div>
              
              <div class="block-feilds" *ngIf="getData.close_remark">
                <span>Closing Remark</span>
                <p>{{getData.close_remark ? getData.close_remark :'---'}}</p>
              </div>
              
              <div class="block-feilds" *ngIf="getData.close_remark">
                <span>Closing Date</span>
                <p>{{getData.closing_date && getData.closing_date != '0000-00-00 00:00:00'? (getData.closing_date | date:'d MMM y') : '--'}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- product data end -->
        
        
        <!-- Skeleton start -->
        <div class="card" *ngIf="skLoading">
          <div class="sk-head">
            <h2>&nbsp;</h2>
          </div>
          <div class="card-body">
            <div class="grid-box">
              <div class="sk-box" *ngFor="let row of [].constructor(10)">
                &nbsp;
              </div>
            </div>
          </div>
        </div>
        <!-- Skeleton end -->
        
      </div>
      <div class="col s12 m12 l4">
        <div class="card" *ngIf="!skLoading">
          <div class="card-head">
            <h2>Attachments</h2>
          </div>
          <div class="card-body">
            <div class="img-container">
              <div class="image-block" *ngFor="let row of getData.image ">
                <img src="{{url+row.document_name}}" (click)="goToImage(url+row.document_name)" style="cursor: zoom-in;">
              </div>
            </div>
          </div>
        </div>
        <!-- Skeleton start -->
        <div class="card" *ngIf="skLoading">
          <div class="sk-head">
            <h2>&nbsp;</h2>
          </div>
          <div class="card-body">
            <div class="img-container">
              <div class="image-block sk-loading" *ngFor="let row of [].constructor(3)">
                &nbsp; 
              </div>
            </div>
          </div>
        </div>
        <!-- Skeleton end -->
        
      </div>
    </div>
  </div>
</div>