<div class="main-container">
  <div class="tools-container">
    <a mat-icon-button matTooltip="Back" (click)="back()">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>Influencer Detail</h2>

    <div class="left-auto df ac flex-gap-10">
      <div class="pagination" *ngIf="(tabType== 'advanceGIft' && giftData.length > 0)">
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">
          <button mat-icon-button matTooltip="Older" (click)="pervious(tabType)" [disabled]="start == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button matTooltip="Newer" (click)="nextPage(tabType)" [disabled]="pagenumber == total_page ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>

      <div class="mat-tabbar">
        <button mat-button [ngClass]="{'active' :tabType== 'Profile'}"
          (click)="tabType= 'Profile';InfluencerDetail()"><i class="material-icons">person</i>Basic Detail</button>
        <ng-container *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
          <!-- <button mat-button [ngClass]="{'active' :tabType== 'advanceGIft'}"
            (click)="tabType = 'advanceGIft'; getGift();"><i class="material-icons">redeem</i>Advance Gift</button> -->
          <button mat-button [ngClass]="{'active' :tabType== 'transaction'}"
            (click)="tabType = 'transaction'; getLedger()"><i class="material-icons">swap_horiz</i>Wallet
            Transaction</button>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="container pt10 pl10 pr10 container-scroll">
    <div class="row" *ngIf="tabType== 'Profile'">
      <div class="col s12 m12 l12"
        [ngClass]="checkRight.scanning_rights == 'No' && checkRight.point_transfer_right == 'No'  ? 'm12 l12' : ''">
        <div class="card" *ngIf="!skLoading">
          <div class="card-head">
            <h2>User Details</h2>
            <div class="left-auto">
              <a class="sm-mat-icon-button" mat-icon-button matTooltip="Edit Detail"
                [routerLink]="[ 'add-influencer/' ]"
                [queryParams]="{'type':Influencer_Detail.type, 'network':Influencer_Detail.influencer_type, 'id':Influencer_Detail.id}"
                *ngIf="login_data5.edit_influencer=='1'">
                <i class="material-icons">edit</i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="grid-box">
              <div class="block-feilds">
                <span>Name</span>
                <p>{{Influencer_Detail.name | titlecase}}</p>
              </div>
              <div class="block-feilds">
                <span>Mobile No.</span>
                <p>{{Influencer_Detail.mobile_no}}</p>
              </div>
              <div class="block-feilds">
                <span>Country</span>
                <p>{{Influencer_Detail.country}}</p>
              </div>
              <div class="block-feilds" *ngIf="Influencer_Detail.country=='india'">
                <span>Paytm Mobile No.</span>
                <p>{{Influencer_Detail.paytm_mobile_no}}</p>
              </div>
              <div class="block-feilds">
                <span>Last Check In</span>
                <p>{{Influencer_Detail.last_checkin != '0000-00-00 00:00:00' ? (Influencer_Detail.last_checkin) :
                  '---'}}</p>
              </div>
              <div class="block-feilds"
                *ngIf="checkRight.scanning_rights != 'Yes' || checkRight.point_transfer_right != 'Yes' ">
                <span>Address</span>
                <p>{{Influencer_Detail.city}} {{Influencer_Detail.district}} {{Influencer_Detail.state}}
                  {{Influencer_Detail.country}} {{Influencer_Detail.pincode}}</p>
              </div>

              <ng-container *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
                <div class="block-feilds">
                  <span>Referral Code</span>
                  <p>{{Influencer_Detail.referral_code ? Influencer_Detail.referral_code : '---'}}</p>
                </div>

                <div class="block-feilds" *ngIf="Influencer_Detail.referred_by_code!= ''">
                  <span>Referral By</span>
                  <p>{{Influencer_Detail.referred_by ? Influencer_Detail.referred_by : '---'}}
                    {{Influencer_Detail.referred_by_code ? Influencer_Detail.referred_by_code : '---'}}</p>
                </div>
              </ng-container>


              <div class="block-feilds flex-heading"
                *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
                <div>
                  <span>Status</span>
                  <p>{{Influencer_Detail.status ? Influencer_Detail.status : '---'}}</p>
                </div>

                <div class="left-auto">
                  <a class="sm-mat-icon-button" mat-icon-button matTooltip="Change Status"
                    (click)="changeStatusDialog(Influencer_Detail.id,Influencer_Detail.status,'influencer_list',Influencer_Detail.referred_by,Influencer_Detail.name,Influencer_Detail.influencer_type, Influencer_Detail.scanning_rights, Influencer_Detail.welcome_bonus_flag)">
                    <i class="material-icons">edit</i>
                  </a>
                </div>
              </div>

              <div class="block-feilds" *ngIf="Influencer_Detail.status=='Reject'">
                <span>Reject Reason</span>
                <p>{{Influencer_Detail.reject_reason ? Influencer_Detail.reject_reason : '---'}}</p>
              </div>

              <ng-container *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes'">
                <div class="block-feilds">
                  <span>Dealer Name</span>
                  <p>
                    {{Influencer_Detail.dealer_name? (Influencer_Detail.dealer_name | titlecase) : '--'}}
                  </p>
                </div>
                <div class="block-feilds">
                  <span>Dealer Mobile</span>
                  <p>
                    {{Influencer_Detail.dealer_mobile && Influencer_Detail.dealer_mobile ?
                    (Influencer_Detail.dealer_mobile) : '--'}}
                  </p>
                </div>
                <div class="block-feilds">
                  <span>Distributor Name</span>
                  <p>
                    {{Influencer_Detail.distributor_name && Influencer_Detail.distributor_name ?
                    (Influencer_Detail.distributor_name) : '--'}}
                  </p>
                </div>
                <div class="block-feilds">
                  <span>First Mobile App Login</span>
                  <p>
                    {{Influencer_Detail.first_login && Influencer_Detail.first_login != '0000-00-00 00:00:00'?
                    (Influencer_Detail.first_login | date:'MMM d, y, h:mm:a') : '--'}}
                  </p>
                </div>
                <div class="block-feilds">
                  <span>First Mobile App Login</span>
                  <p>
                    {{Influencer_Detail.first_login && Influencer_Detail.first_login != '0000-00-00 00:00:00'?
                    (Influencer_Detail.first_login | date:'MMM d, y, h:mm:a') : '--'}}
                  </p>
                </div>
                <div class="block-feilds">
                  <span>Latest Mobile App Login</span>
                  <p>
                    {{Influencer_Detail.latest_login && Influencer_Detail.latest_login != '0000-00-00 00:00:00'?
                    (Influencer_Detail.latest_login | date:'MMM d, y, h:mm:a') : '--'}}
                  </p>
                </div>
              </ng-container>
            </div>

            <div class="grid-box mt10" *ngIf="Influencer_Detail.reason">
              <div class="block-feilds">
                <span>Reason</span>
                <p>{{Influencer_Detail.reason}}</p>
              </div>
            </div>
          </div>


          <ng-container *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
            <div class="card-head mt15">
              <h2>Document Details</h2>
            </div>
            <div class="card-body">
              <div class="grid-box">
                <div class="block-feilds">
                  <div class="doc-img">
                    <img src="assets/img/no_image.png" *ngIf="Influencer_Detail.pan_img == ''">
                    <img *ngIf="Influencer_Detail.pan_img" src="{{url+Influencer_Detail.pan_img}}"
                      (click)="goToImage(url+Influencer_Detail.pan_img)" style="cursor: zoom-in;">
                  </div>
                </div>
                <div class="block-feilds">
                  <span>Pan Number</span>
                  <p>{{Influencer_Detail.pan_no ?Influencer_Detail.pan_no :'---'}}</p>
                </div>
                <div class="block-feilds">
                  <div class="doc-img">
                    <img src="assets/img/no_image.png" *ngIf="Influencer_Detail.document_image == ''">
                    <img *ngIf="Influencer_Detail.document_image" src="{{url+Influencer_Detail.document_image}}"
                      (click)="goToImage(url+Influencer_Detail.document_image)" style="cursor: zoom-in;">
                    <img src="assets/img/no_image.png" *ngIf="Influencer_Detail.document_image_back == ''">
                    <img *ngIf="Influencer_Detail.document_image_back"
                      src="{{url+Influencer_Detail.document_image_back}}"
                      (click)="goToImage(url+Influencer_Detail.document_image_back)" style="cursor: zoom-in;">
                  </div>
                </div>
                <div class="block-feilds">
                  <span>Document Number</span>
                  <p>{{Influencer_Detail.adhar_no ? Influencer_Detail.adhar_no : '---'}}</p>
                </div>
              </div>
            </div>
            <div class="card-head mt15">
              <h2>Bank Details</h2>
              <div class=""
              *ngIf="Influencer_Detail.payout_kyc_status == 'Reject' && Influencer_Detail.influencer_type == 'Plumber'">
              <button matTooltip="Reset KYC Status" (click)="reset_status(Influencer_Detail.id)" mat-raised-button
              color="primary">Reset KYC Status</button>
            </div>

            </div>

            <div class="card-body">
              <div class="grid-box">
                <div class="block-feilds">
                  <span>Bank Name</span>
                  <p>{{Influencer_Detail.bank_name ? Influencer_Detail.bank_name :'---'}}</p>
                </div>

                <div class="block-feilds">
                  <span>Account Number</span>
                  <p>{{Influencer_Detail.account_no ? Influencer_Detail.account_no:'---'}}</p>
                </div>

                <div class="block-feilds">
                  <span>IFSC Code</span>
                  <p>{{Influencer_Detail.ifsc_code ? Influencer_Detail.ifsc_code :'---'}}</p>
                </div>
                <div class="block-feilds">
                  <div class="doc-img">
                    <img src="assets/img/no_image.png" *ngIf="Influencer_Detail.bank_img == ''">
                    <img *ngIf="Influencer_Detail.bank_img" src="{{url+Influencer_Detail.bank_img}}"
                      (click)="goToImage(url+Influencer_Detail.bank_img)" style="cursor: zoom-in;">
                  </div>
                </div>
                <div class="block-feilds">
                  <span>Account Holder Name</span>
                  <p>{{Influencer_Detail.account_holder_name ? Influencer_Detail.account_holder_name :'---'}}</p>
                </div>

                <div class="block-feilds">
                  <span>KYC Status</span>
                  <p>{{Influencer_Detail.payout_kyc_status ? Influencer_Detail.payout_kyc_status :'---'}}</p>
                </div>



              </div>
            </div>
          </ng-container>
        </div>

        <div class="card" *ngIf="skLoading">
          <div class="sk-head">
            <h2>&nbsp;</h2>
          </div>
          <div class="card-body">
            <div class="grid-box">
              <div class="sk-box" *ngFor="let row of [].constructor(10)">
                &nbsp;
              </div>
            </div>
          </div>
        </div>


        <ng-container *ngIf="checkRight.scanning_rights == 'No' && checkRight.point_transfer_right == 'Yes' ">
          <div class="row mt10" *ngIf="!skLoading">
            <div class="col s12 m6 l6">
              <div class="card pb0">
                <div class="card-head">
                  <h2>Assign Sales User</h2>
                </div>
                <div class="card-body pt0">
                  <mat-list class="cs-list-box pt0">
                    <mat-list-item *ngFor="let row of Influencer_Detail.user_assign_detail;">
                      <div class="alphabet">{{row.name ? row.name[0].toUpperCase():'' }}</div>
                      {{row.name | titlecase}} <strong *ngIf="row.emp_code">&nbsp; &nbsp;
                        ({{row.emp_code}})</strong>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>

            <div class="col s12 m6 l6">
              <div class="card pb0">
                <div class="card-head">
                  <h2>Assign Distributor</h2>
                </div>
                <div class="card-body pt0">
                  <mat-list class="cs-list-box pt0">
                    <mat-list-item *ngFor="let row of Influencer_Detail.distributor_assign_detail;">
                      <div class="alphabet">{{row.company_name ? row.company_name[0].toUpperCase():'' }}</div>
                      {{row.company_name | titlecase}} <strong *ngIf="row.dr_code">&nbsp; &nbsp;
                        ({{row.dr_code}})</strong>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>


    <div *ngIf="tabType== 'transaction'" style="margin: -10px -10px 0px -10px;">
      <div class="tools-container no-sticky">
        <div class="mat-tabbar">
          <button mat-button [ngClass]="{'active' :wallet_history_type== 'ledger'}"
            (click)="clearFilter(); getLedger(); wallet_history_type= 'ledger'">
            <i class="material-icons">receipt_long</i>
            Ledger
          </button>
          <button mat-button [ngClass]="{'active' :wallet_history_type== 'scan_history'}"
            (click)="clearFilter(); scan_history_data(); wallet_history_type= 'scan_history'"
            *ngIf="checkRight.scanning_rights == 'Yes'">
            <i class="material-icons">qr_code_scanner</i>
            Scan History
          </button>
          <button mat-button [ngClass]="{'active' :wallet_history_type== 'redeem_history'}"
            (click)="clearFilter(); redeem_history_data(); wallet_history_type = 'redeem_history'">
            <i class="material-icons">redeem</i>
            Redeem History
          </button>
        </div>



        <div class="left-auto df flex-gap-10">
          <a mat-icon-button matTooltip="Refresh" (click)="refresh()">
            <i class="material-icons">refresh</i>
          </a>

          <div class="pagination"
            *ngIf="(ledgerData.length > 0 && wallet_history_type== 'ledger')">
            <div class="pagination-content">
              Pages
              <span>{{pagenumber}}</span>
              of
              <span>{{total_page}}</span>
            </div>
            <div class="page-nav">
              <button mat-icon-button matTooltip="Older" (click)="pervious(tabType)"
                [disabled]="start == 0 || total_page == 0">
                <i class="material-icons">navigate_before</i>
              </button>
              <button mat-icon-button matTooltip="Newer" (click)="nextPage(tabType)"
                [disabled]="pagenumber == total_page || total_page == 0 ">
                <i class="material-icons">navigate_next</i>
              </button>
            </div>
          </div>

          <div class="pagination"
          *ngIf="(redeemHistory.length > 0 && wallet_history_type== 'redeem_history')">
          <div class="pagination-content">
            Pages
            <span>{{pagenumber}}</span>
            of
            <span>{{total_page}}</span>
          </div>
          <div class="page-nav">
            <button mat-icon-button matTooltip="Older" (click)="pervious(tabType)"
              [disabled]="start == 0 || total_page == 0">
              <i class="material-icons">navigate_before</i>
            </button>
            <button mat-icon-button matTooltip="Newer" (click)="nextPage(tabType)"
              [disabled]="pagenumber == total_page || total_page == 0 ">
              <i class="material-icons">navigate_next</i>
            </button>
          </div>
        </div>
        </div>

      </div>
      <div class="cs-table" *ngIf="wallet_history_type== 'ledger'">
        <div class="sticky-head" style="top: -10px;">
          <div class="table-head">
            <table>
              <tr>
                <th class="w60">S.no.</th>
                <th class="w150">Date</th>
                <th class="w150">Transaction Type</th>
                <th class="text-right">Credit</th>
                <th class="text-right">Debit</th>
                <th class="w160 text-right">Balance</th>
              </tr>
            </table>
          </div>
          <div class="table-head border-top">
            <table class="sno-border">
              <tr>
                <th class="w60">&nbsp;</th>
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field class="cs-input date-column infix-bodr">
                      <input matInput [matDatepicker]="picker1" placeholder="Date" name="date"
                        [(ngModel)]="filter.date_created" (dateChange)="date_format(tabType)" disabled>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </th>
                <th class="w150 text-right">
                  <div class="th-search-acmt">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Search ..." name="transaction_type"
                        (keyup.enter)="getLedger()" #transaction_type="ngModel" [(ngModel)]="filter.transaction_type">
                      <mat-autocomplete #search="matAutocomplete">
                        <mat-option>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </th>
                <th class="text-right">&nbsp;</th>
                <th class="text-right">&nbsp;</th>
                <th class="w160">&nbsp;</th>
              </tr>
            </table>
          </div>
        </div>
        <div class="table-container">
          <div class="table-content">
            <table>
              <ng-container *ngIf="!loader">
                <tr *ngFor="let row of ledgerData; let i =index">
                  <td class="w60">{{i+1+sr_no}}</td>
                  <td class="w150">{{row.date_created | date : 'dd MMM yyy ,h:mm a'}}</td>
                  <td class="w150">{{row.transaction_type}}</td>
                  <td class="text-right">
                    <strong class="green-clr" *ngIf="row.credit > 0">+ {{row.credit}} pt</strong>
                    <ng-container *ngIf="row.credit == 0">---</ng-container>
                    <br>
                    <ng-container *ngIf="row.credit > 0">{{row.transaction_remark}}</ng-container>
                  </td>
                  <td class="text-right">
                    <strong class="red-clr" *ngIf="row.debit > 0">- {{row.debit}} pt</strong>
                    <ng-container *ngIf="row.debit == 0">---</ng-container>
                    <br>
                    <ng-container *ngIf="row.debit > 0">{{row.transaction_remark}}</ng-container>
                  </td>
                  <td class="w160 text-right">
                    <strong>{{row.balance}} pt</strong>
                  </td>
                </tr>
              </ng-container>

              <ng-container *ngIf="loader">
                <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                  <td class="w60">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                  <td>
                    <div>&nbsp;</div>
                  </td>
                  <td class="w160">
                    <div>&nbsp;</div>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
        <ng-container *ngIf="ledgerData.length == 0">
          <app-not-result-found></app-not-result-found>
        </ng-container>
      </div>


      <div class="cs-table  horizontal-scroll" *ngIf="wallet_history_type== 'scan_history'">
        <div class="sticky-head" style="top: -10px;">
          <div class="table-head">
            <table>
              <tr>
                <th class="w60">Sr.No</th>
                <th class="w140">Coupon Code</th>
                <!-- <th class="w250">Product Detail</th>
                <th class="w100">Dispatch Date</th>
                <th class="w100">Dispatch Type</th>
                <th class="w250">Dealer Detail</th>
                <th class="w130">Invoice No.</th> -->
                <th class="w110 text-right">Coupon value</th>
                <th class="w100">Scan Date</th>
                <th class="w180">Bonus Name</th>
                <th class="w110 text-right">Bonus Point</th>

              </tr>
            </table>
          </div>
        </div>

        <div class="table-container">
          <div class="table-content">
            <table>
              <ng-container *ngIf="!loader">
                <tr *ngFor="let row of couponData let i = index;">
                  <td class="w60">{{i+1+sr_no}}</td>
                  <td class="w140">{{row.coupon_code?row.coupon_code:'---'}}</td>
                  <!-- <td class="w250">{{row.product_detail?row.product_detail:'---'}}</td>
                  <td class="w100">
                    {{row.dispatch_date != "0000-00-00 00:00:00" ? (row.dispatch_date | date:'d MMM y') : '---'}}
                  </td>
                  <td class="w100">{{row.dispatch_type}}</td>
                  <td class="w250">{{row.dr_detail}}</td>
                  <td class="w130">{{row.invoice_number}}</td> -->
                  <td class="w110 text-right">
                    <strong>{{row.total_point?row.total_point + ' PT':'---'}}</strong>
                  </td>
                  <td class="w100">{{row.scanned_date | date:'d MMM y, h:mm a'}}</td>
                  <td class="w180">{{row.bonus_scheme_name}}</td>
                  <td class="w110 text-right"><strong>{{row.bonus_point?row.bonus_point + ' PT':'---'}}</strong></td>

                </tr>
              </ng-container>

              <ng-container *ngIf="loader">
                <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                  <td class="w60">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w140">
                    <div>&nbsp;</div>
                  </td>
                  <!-- <td class="w250">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w250">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w130">
                    <div>&nbsp;</div>
                  </td> -->
                  <td class="w110 text-right">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w180">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w110 text-right">
                    <div>&nbsp;</div>
                  </td>

                </tr>
              </ng-container>
              <ng-container *ngIf="couponData.length == 0">
                <app-not-result-found></app-not-result-found>
              </ng-container>
            </table>
          </div>
        </div>
      </div>


      <div class="cs-table horizontal-scroll" *ngIf="wallet_history_type== 'redeem_history'">
        <div class="sticky-head">
          <div class="table-head">
            <table>
              <tr>
                <th class="w60">Sr.No</th>
                <th class="w90">Date</th>
                <th class="w110">Req. ID</th>
                <th class="w200">Gift</th>
                <th class="w100 text-right">Points Request</th>
                <th class="w100 text-right">Equivalent Cash</th>
                <th class="w110">Redeem Status</th>
                <th class="w90">Payment Mode</th>

                <th class="w150" >TXN ID</th>
                <th class="w100  text-center" >Status</th>
                <th class="w200" >TXN Remark</th>
                <!-- <th class="w110">Gift Points Status</th> -->
              </tr>
            </table>
          </div>
        </div>

        <div class="table-container">
          <div class="table-content">
            <table>
              <ng-container *ngIf="!loader">
                <tr *ngFor="let row of redeemHistory; let i = index;">
                  <td class="w60">{{i + 1 + sr_no}}</td>
                  <td class="w90">{{row.date_created | date :'dd MMM yyyy'}}</td>
                  <td class="w110">{{row.req_id ? row.req_id : '---'}}</td>
                  <td class="w200">{{row.gift_name ? row.gift_name : '---'}}</td>
                  <td class="w100 text-right"><strong>{{row.point ? row.point : '---'}}</strong></td>
                  <td class="w100 text-right"><strong>{{row.cash_point ? row.cash_point : '---'}}</strong></td>
                  <td class="w110"><strong class="{{row.status}}">{{row.status}}</strong> </td>
                  <td class="w90"><strong>{{row.payment_mode ? row.payment_mode : '---'}}</strong></td>

                  <!-- <td class="w110"><strong class="{{row.gift_status}}">{{row.gift_status ? row.gift_status :
                      '---'}}</strong></td> -->

                      <td class="w150" >
                        <ng-container >
                          {{row.razorpay_payout_id}}
                        </ng-container>
                        <ng-container>
                          {{row.transaction_id}}
                        </ng-container>
                      </td>
                      <td class="w100  text-center" >
                        <strong class="{{row.transfer_status}}">{{row.transfer_status | titlecase}}</strong>

                      </td>

                      <td class="w200" >{{row.transfer_remark.replaceAll('_',' ') | titlecase}}
                </tr>
              </ng-container>

              <ng-container *ngIf="loader">
                <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                  <td class="w60">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w90">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w110">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w200">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w110">
                    <div>&nbsp;</div>
                  </td>
                   <td class="w90">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w200">
                    <div>&nbsp;</div>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="redeemHistory.length == 0">
                <app-not-result-found></app-not-result-found>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="tabType== 'advanceGIft'" style="margin: -10px -10px 0px -10px;">
      <div class="cs-table">
        <div class="sticky-head" style="top: -10px;">
          <div class="table-head">
            <table>
              <tr>
                <th class="w50">S.No</th>
                <th class="w90">Date Created</th>
                <th class="w100">Created By</th>
                <th class="w200">Gift Title</th>
                <th class="w140">Gift Adjustment Type</th>
                <th class="w100 text-right">Points</th>
                <th>Remark</th>
              </tr>
            </table>
          </div>

        </div>

        <div class="table-container">

          <div class="table-content">
            <table>
              <ng-container *ngIf="!checkinLoader">
                <tr *ngFor="let row of giftData; let i=index">
                  <td class="w50">{{i + 1 + sr_no}}</td>
                  <td class="w90">{{row.date_created | date:'dd MMM yyyy'}}</td>
                  <td class="w100">{{row.created_by_name}}</td>
                  <td class="w200">{{row.title}}</td>
                  <td class="w140">{{row.gift_type}}</td>
                  <td class="w100 text-right">{{row.gift_point > 0 ? row.gift_point : '---'}}</td>
                  <td>{{row.remark}}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="checkinLoader">
                <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                  <td class="w50">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w90">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w200">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w140">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w100">
                    <div>&nbsp;</div>
                  </td>
                  <td>
                    <div>&nbsp;</div>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
        <ng-container *ngIf="giftData.length == 0">
          <app-not-result-found></app-not-result-found>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="fab-btns" *ngIf="tabType== 'advanceGIft'">
    <button class="excel pulse" mat-fab color="primary" (click)="openDialog('advance_gift')">
      <i class="material-icons">redeem</i>
      Add GIft
    </button>
  </div>
  <!--
  <div class="fab-btns" *ngIf="tabType== 'transaction'">
    <button class="excel pulse" mat-fab color="primary" (click)="openDialog('point_transfer')">
      <i class="material-icons">swap_horiz</i>
      Point Transfer
    </button>
  </div> -->
</div>
