<div class="edit-modal">
  <p class="heading">INCOMING STOCK</p>
  <div class="card-body">
    <div class="grid-box">
      <div class="block-feilds">
        <span>Part Name</span>
        <p>{{data.part_name | titlecase}}</p>
      </div>
      <div class="block-feilds">
        <span>Part Number</span>
        <p>{{data.part_no | titlecase}}</p>
      </div>
    </div>
  </div>
  <p class="heading mt-10 border-top">Product List</p>
  <div mat-dialog-content>
    <div class="cs-table left-right-10">
      <div class=" border-top">
        <div class="table-head">
          <table>
            <tr>
              <th class="w30 text-center ">Sr.No</th>
              <th class="w150">Date</th>
              <th class="w100">Type</th>
              <th class="w30 text-center ">Qty</th>
            </tr>
          </table>
        </div>
      </div>

      <div class="table-container pb0">
        <div class="table-content none-shadow">
          <table>
            <ng-container>
              <tr *ngFor="let row of spareIncomingList; let i = index">
                <td class="w30 text-center ">{{i+1}}</td>
                <td class="w150">{{row.date_created ? (row.date_created | date : 'dd MMM yyy ,h:mm a') : '--'}}</td>
                <td class="w100 ">{{row.type? (row.type | titlecase):'--'}}</td>
                <td class="w30 text-center ">{{row.qty? row.qty :'--'}}</td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button color="warn" [mat-dialog-close]="false">Cancel</button>
  </div>
</div>