<div class="main-container">
  <app-loader *ngIf="excelLoader"></app-loader>
  <div class="tools-container">
    <h2>Complaint Visits </h2>


    <div class="left-auto df ac flex-gap-10">
      <a mat-icon-button matTooltip="Refresh" (click)="refresh()">
        <i class="material-icons">refresh</i>
      </a>

      <div class="pagination" *ngIf="complaintVisitList.length > 0">
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">
          <button mat-icon-button matTooltip="Older" (click)="pervious()" [disabled]="start == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button matTooltip="Newer" (click)="nextPage()" [disabled]="pagenumber == total_page ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="container container-scroll">
    <div class="cs-table horizontal-scroll">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w50">Sr.No</th>
              <th class="w150">Date Created</th>
              <th class="w150">Created By</th>
              <th class="w150">Compliant No.</th>
              <th class="w150">Type</th>
              <th class="w150">State</th>
              <th class="w150">Start Time</th>
              <th class="w150">Start Location</th>
              <th class="w150">Stop Time</th>
              <th class="w150">Stop Location</th>
              <th class="w100 text-center">Total Time</th>
            </tr>
          </table>
        </div>

        <div class="table-head bdrt">
          <table>
            <tr>
              <th class="w50"></th>
              <th class="w150">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                      #date_created="ngModel" [(ngModel)]="filter_data.date_created" (ngModelChange)="date_format()"
                      [max]="today_date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <!-- <div class="th-search-acmt">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Search ..." name="created_name"
                      (keyup.enter)="getComplaintVisitList('')" #created_name="ngModel" [(ngModel)]="filter_data.created_name">
                  </mat-form-field>
                </div> -->
              </th>
              <th class="w100"></th>
              <th class="w100 text-center"></th>
              <th class="w50 text-center"></th>
              <th class="w80 text-center"></th>
              <th class="w100"></th>
              <th class="w150"></th>
              <th class="w150"></th>
              <th class="w150 text-center"></th>
              <th class="w100 text-center"></th>
            </tr>
          </table>
        </div>
      </div>

      <div class="table-container">
        <div class="table-content">
          <table>
            <ng-container>
              <tr>
                <td class="w50">1</td>
                <td class="w150">12/12/21</td>
                <td class="w150">Admin</td>
                <td class="w150">#comp123</td>
                <td class="w150">local</td>
                <td class="w150">test</td>
                <td class="w150">10:00</td>
                <td class="w150">test start</td>
                <td class="w150">12:00</td>
                <td class="w150">test stop</td>
                <td class="w100 text-center">
                  <button mat-raised-button color="accent" (click)="endVisit()" [ngClass]="{'pulse': fabBtnValue=='activity'}">End Visit</button>
                </td>
              </tr>
            </ng-container>

            <!-- <ng-container *ngIf="!loader">
              <tr *ngFor="let row of complaintVisitList; let i = index "
                [ngClass]="{'Current': service.currentUserID == row.id}">
                <td class="w50">{{i + 1 + sr_no}}</td>
                <td class="w150">{{row.date_created ? (row.date_created | date : 'dd MMM yyy ,h:mm a') : '--'}}</td>
                <td class="w100">{{row.part_name? (row.part_name | titlecase):'--'}}</td>
                <td class="w100">{{row.part_no? (row.part_no | titlecase):'--'}}</td>
                <td class="w100 text-center">{{row.min_stock? row.min_stock:'--'}}</td>
                <td class="w50 text-center">{{row.current_stock? row.current_stock:'--'}}</td>
                <td class="w80 text-center">
                  
                </td>
                <td class="w100">Rs.{{row.mrp? row.mrp:'--'}}</td>
                <td class="w150">
                  
                </td>
                <td class="w150">
                  
                </td>
                <td class="w150 text-center">

                </td>
                <td class="w100 text-center">
                  <button mat-raised-button color="accent" (click)="spareIncomingDialog(row.part_name,row.part_no,row.incoming_data)"
                    [ngClass]="{'pulse': fabBtnValue=='activity'}">Stock Incoming</button>
                </td>

              </tr>
            </ng-container> -->
            <ng-container *ngIf="loader">
              <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                <td class="w50">
                  <div>&nbsp;</div>
                </td>
                <td class="w150">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w100 text-center">
                  <div>&nbsp;</div>
                </td>
                <td class="w50 text-center">
                  <div>&nbsp;</div>
                </td>
                <td class="w80 text-center">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w150">
                  <div>&nbsp;</div>
                </td>
                <td class="w150 ">
                  <div>&nbsp;</div>
                </td>
                <td class="w150 text-center">
                  <div>&nbsp;</div>
                </td>
                <td class="w100 text-center">
                  <div>&nbsp;</div>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
    <ng-container *ngIf="datanotofound==true && complaintVisitList.length == 0;">
      <app-not-result-found></app-not-result-found>
    </ng-container>
  </div>
  <div>
  </div>

  <div class="fab-btns">
    <button mat-fab class="excel pulse" (click)="downloadExcel()"
      *ngIf="show_today && assign_login_data2.export_checkin=='1'">
      <img src="assets/img/excel.svg">
      Download Excel
    </button>
  </div>

  

</div>