<div class="main-container">
  <div class="tools-container">
    <h2>{{network}}</h2>
    <div class="left-auto left-auto df ac flex-gap-10">
      <button mat-icon-button matTooltip="Refresh" (click)="refresh()">
        <i class="material-icons">refresh</i>
      </button>

      <div class="pagination" *ngIf="Influencer_List.length > 0">
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">

          <button mat-icon-button matTooltip="Older" (click)="pervious()" [disabled]="start == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button matTooltip="Newer" (click)="nextPage()" [disabled]="pagenumber == total_page ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>

      <div class="mat-tabbar" *ngIf="checkRight.point_transfer_right != 'No' || checkRight.scanning_rights != 'No' ">
        <ng-container>
          <button mat-button [ngClass]="active_tab == 'All' ? 'active' : ''"
          (click)="active_tab = 'All'; InfluencerList()"><i class="material-icons">all_inbox</i>All</button>

          <button mat-button [ngClass]="active_tab == 'Pending' ? 'active' : ''"
            (click)="active_tab = 'Pending';InfluencerList()"><i class="material-icons">pending_actions</i>Pending
            ({{tab_count.pending_count}})</button>
        </ng-container>
        <button mat-button [ngClass]="active_tab == 'Approved' ? 'active' : ''"
          (click)="active_tab = 'Approved'; InfluencerList()"><i class="material-icons">thumb_up_alt</i>Approved
          ({{tab_count.approved_count}})</button>
        <button mat-button [ngClass]="active_tab == 'Reject' ? 'active' : ''"
          (click)="active_tab = 'Reject'; InfluencerList()"><i class="material-icons">thumb_down_alt</i>Reject
          ({{tab_count.reject_count}})</button>
        <button mat-button [ngClass]="active_tab == 'Suspect' ? 'active' : ''"
          (click)="active_tab = 'Suspect'; InfluencerList()"><i class="material-icons">help</i>Suspect
          ({{tab_count.suspect_count}})</button>
      </div>

    </div>
  </div>

  <div class="container pb100">
    <div class="cs-table">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w60">Sr.No</th>
              <th class="w90">Date
                <div class="sorting">
                  <a (click)="openBottomSheet()" matTooltip="Export Excel">
                    <i class="material-icons">filter_alt</i>
                  </a>
                </div>
              </th>
              <th>Name</th>
              <th class="w100">Mobile No.</th>
              <th class="w100">Country</th>
              <th class="w130">State</th>
              <th class="w130">District</th>
              <ng-container *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
                <th class="w120">Current Wallet Balance
                  <div class="sorting">
                    <a class="" (click)="sorting_type='ASC';InfluencerList()">
                      <i class="material-icons">arrow_drop_up</i>
                    </a>
                    <a class="" (click)="sorting_type='DESC';InfluencerList()">
                      <i class="material-icons">arrow_drop_down</i>
                    </a>
                  </div>

                </th>
              </ng-container>
              <th class="w120 text-center" *ngIf="active_tab == 'Approved'">Action</th>
            </tr>
          </table>
        </div>

        <div class="table-head border-top">
          <table>
            <tr>
              <th class="w60">&nbsp;</th>
              <th class="w90">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                      (dateChange)="onDate($event)" [(ngModel)]="filter.date_created" [max]="today_date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th>
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="created_by" [(ngModel)]="filter.name"
                      (keyup.enter)="InfluencerList()">
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="mobile_no" [(ngModel)]="filter.mobile_no"
                      (keyup.enter)="InfluencerList()">
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-select name="country" [(ngModel)]="filter.country" (selectionChange)="InfluencerList()">
                      <mat-option value="india">India</mat-option>
                      <mat-option value="nepal">Nepal</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-select name="state" [(ngModel)]="filter.state" (selectionChange)="InfluencerList()">
                      <mat-option *ngFor="let state of states"
                        value="{{state.state_name}}">{{state.state_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="created_by" [(ngModel)]="filter.district"
                      (keyup.enter)="InfluencerList()">
                  </mat-form-field>
                </div>
              </th>
              <ng-container *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
                <th class="w120 text-center">&nbsp;</th>
              </ng-container>
              <th class="w120" *ngIf="active_tab == 'Approved'">
                <div class="th-search-acmt" *ngIf="active_tab == 'Approved'">
                  <mat-form-field class="cs-input select-input">
                    <mat-select name="login_status" [(ngModel)]="filter.login_status"
                      (selectionChange)="InfluencerList()">
                      <mat-option value="">All</mat-option>
                      <mat-option value="1">Active</mat-option>
                      <mat-option value="0">Inactive </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>
            </tr>
          </table>
        </div>
      </div>

      <div class="table-container">
        <div class="table-content">
          <table>
            <ng-container *ngIf="!loader">
              <tr *ngFor="let row of Influencer_List; let i = index;"
                [ngClass]="{'Current': service.currentUserID == row.id}">
                <td class="w60">{{i+1}}</td>
                <td class="w90">{{row.date_created | date :'dd MMM yyyy'}}</td>
                <td><a class="link-btn" (click)="service.setData(filter)"
                    routerLink="influencer-detail/{{row.id}}/{{type}}">{{row.name | titlecase}}</a></td>
                <td class="w100">{{row.mobile_no}}</td>
                <td class="w100">{{row.country}}</td>
                <td class="w130">{{row.state}}</td>
                <td class="w130">{{row.district}}</td>
                <ng-container *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
                  <td class="w120 text-right"><strong>{{row.wallet_point?row.wallet_point + ' PT':'---'}}</strong></td>
                </ng-container>
                <td class="w120 text-center" *ngIf="active_tab == 'Approved'">

                  <ng-container *ngIf="active_tab == 'Approved'">
                    <div class="action-button text-center">
                      <mat-slide-toggle color="accent" [name]="'login_status'+i" [(ngModel)]="row.user_status"
                        (change)="updateStatus(i,row.id,$event)">
                      </mat-slide-toggle>
                    </div>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="loader">
              <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                <td class="w60">
                  <div>&nbsp;</div>
                </td>
                <td class="w90">
                  <div>&nbsp;</div>
                </td>
                <td>
                  <div>&nbsp;</div>
                </td>
                <!-- <td class="w130"><div>&nbsp;</div></td> -->
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w130">
                  <div>&nbsp;</div>
                </td>
                <td class="w130">
                  <div>&nbsp;</div>
                </td>
                <ng-container *ngIf="checkRight.scanning_rights == 'Yes' || checkRight.point_transfer_right == 'Yes' ">
                  <td class="w120">
                    <div>&nbsp;</div>
                  </td>
                </ng-container>
                <td class="w120 text-center" *ngIf="active_tab == 'Approved'">
                  <div>&nbsp;</div>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
        <ng-container *ngIf="Influencer_List.length == 0 && datanotfound == true">
          <app-not-result-found></app-not-result-found>
        </ng-container>
      </div>
    </div>
  </div>



  <div class="fab-btns" *ngIf="login_data5.export_influencer=='1' || login_data5.add_influencer=='1'">
    <button class="excel pulse" mat-fab color="primary" [matMenuTriggerFor]="menu">
      <i class="material-icons">apps</i>
      Action
    </button>
    <!-- </div> -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="downloadExcel();"
        *ngIf="Influencer_List.length > 0 && login_data5.export_influencer=='1'">
        <mat-icon>download</mat-icon>
        <span>Download in excel</span>
      </button>
      <button mat-menu-item [routerLink]="[ 'add-influencer/']" [queryParams]="{'type':type, 'network':network}"
        *ngIf="login_data5.add_influencer=='1'">
        <mat-icon>add</mat-icon>
        <span>Add New</span>
      </button>
    </mat-menu>
  </div>
</div>
