<div class="main-container">
  <div class="tools-container">
    <h2>{{redeemType}} Redeem Request</h2>
    <!-- <h2> Redeem Request</h2> -->

    <div class="left-auto left-auto df ac flex-gap-10">
      <button mat-icon-button matTooltip="Refresh" (click)="refresh()">
        <i class="material-icons">refresh</i>
      </button>
      <div class="pagination" *ngIf="redeemRequestList_data.length > 0">
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">
          <button mat-icon-button matTooltip="Older" (click)="pervious()" [disabled]="start == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button matTooltip="Newer" (click)="nextPage()" [disabled]="pagenumber == total_page ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>

      <div class="mat-tabbar">
        <button mat-button [ngClass]="active_tab == 'Pending' ? 'active' : ''"
          (click)="active_tab = 'Pending';redeemRequestList()"><i class="material-icons">pending_actions</i>Pending
          ({{redeem_count.Pending}})</button>
        <button mat-button [ngClass]="active_tab == 'Approved' ? 'active' : ''"
          (click)="active_tab = 'Approved'; redeemRequestList()"><i class="material-icons">swap_horiz</i>Approved
          ({{redeem_count.Approved}})</button>

        <button mat-button [ngClass]="active_tab == 'Reject' ? 'active' : ''"
          (click)="active_tab = 'Reject';redeemRequestList()"><i class="material-icons">cancel</i>Reject
          ({{redeem_count.Reject}})</button>
      </div>
    </div>
  </div>

  <div class="container container-scroll" *ngIf="redeemType=='Cash'">
    <div class="cs-table horizontal-scroll">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w110">Request Created</th>
              <th class="w100">Req. ID</th>
              <th class="w160">Name</th>
              <th class="w110">Mobile</th>
              <th class="w110">A/C Status</th>
              <ng-container *ngIf="redeemType=='Cash'">
                <th class="w110">Bank Name</th>
                <th class="w150">Account No.</th>
                <th class="w110">IFSC Code</th>
              </ng-container>
              <!-- <ng-container *ngIf="redeemType!='Bank'">
                <th class="w150">{{redeemType == 'Paytm' ? 'Paytm Number': 'Khalti Number'}}</th>
              </ng-container> -->
              <th class="w130">{{redeemType == 'Khalti' ? 'Province': 'State'}}</th>
              <th class="w130">{{redeemType == 'Khalti' ? 'City': 'District'}}</th>
              <th class="w100 text-right">Redeem Point</th>
              <th class="w100 text-right">Point Value</th>
              <th class="w100 text-right">Redeem Amount</th>

              <th class="w160  text-center" *ngIf="active_tab == 'Pending'">Action</th>
              <th class="w100 text-center" *ngIf="active_tab != 'Pending'">Mode</th>
              <th class="w160" *ngIf="active_tab != 'Pending'">TXN No.</th>
              <th class="w110 text-center" *ngIf="active_tab != 'Pending'">TXN Date</th>
              <th class="w200" *ngIf="active_tab != 'Pending'">TXN Remark</th>

              <th class="w100  text-center" *ngIf="active_tab != 'Pending'">Status</th>
              <th class="w160 " *ngIf="active_tab != 'Pending'">Action By</th>
              <th class="w150  text-center" *ngIf="active_tab != 'Pending'">Action Date</th>
              <th class="w200" *ngIf="active_tab == 'Reject'">Reason</th>
            </tr>
          </table>
        </div>

        <div class="table-head border-top">
          <table>
            <tr>
              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                      [(ngModel)]="filter.date_created" [max]="today_date" (dateChange)="onDate($event)" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="req_id" [(ngModel)]="filter.req_id" (keyup.enter)="redeemRequestList('')">
                  </mat-form-field>
                </div>
              </th>
              <th class="w160">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="user_name" [(ngModel)]="filter.user_name"
                      (keyup.enter)="redeemRequestList()">
                  </mat-form-field>
                </div>
              </th>
              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input type="number"  maxlength="10" matInput placeholder="Search..." type="text" name="mobile_no" [(ngModel)]="filter.mobile_no"
                      (keyup.enter)="redeemRequestList()">
                  </mat-form-field>
                </div>
              </th>
              <th class="w110"></th>
              <!-- <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-label>Select</mat-label>
                    <mat-select name="redeem_type" #redeem_type="ngModel" [(ngModel)]="filter.redeem_type"
                      (selectionChange)="redeemRequestList()">
                      <mat-option value="All">All</mat-option>

                      <mat-option value="Gift">Gift</mat-option>
                      <mat-option value="Cash">Cash</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th> -->

              <ng-container *ngIf="redeemType=='Cash'">
                <th class="w110">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Search..." type="text" name="bank_name"
                        [(ngModel)]="filter.bank_name" (keyup.enter)="redeemRequestList()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Search..." type="text" name="account_no"
                        [(ngModel)]="filter.account_no" (keyup.enter)="redeemRequestList()">
                    </mat-form-field>
                  </div>
                </th>
                <th class="w110">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input matInput placeholder="Search..." type="text" name="ifsc_code"
                        [(ngModel)]="filter.ifsc_code" (keyup.enter)="redeemRequestList()">
                    </mat-form-field>
                  </div>
                </th>
              </ng-container>
              <!-- <ng-container *ngIf="redeemType!='Bank'">
                <th class="w150">
                  <div class="th-search-acmt">
                    <mat-form-field class="example-full-width cs-input select-input">
                      <input type="number"  maxlength="10" matInput placeholder="Search..." type="text" name="wallet_number" [(ngModel)]="filter.wallet_number"
                        (keyup.enter)="redeemRequestList()">
                    </mat-form-field>
                  </div>
                </th>
              </ng-container> -->
              <th class="w130">


                  <!-- <div class="th-search-acmt">
                    <mat-form-field class="cs-input select-input">
                      <mat-select name="reporting_manager_id" #reporting_manager_id="ngModel"
                        [(ngModel)]="search.reporting_manager_id" (selectionChange)="getTravelList();">
                        <mat-option>
                          <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.."
                            (keyup)="getReportManager($event.target.value)"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let list of report_manager;let index=index" value="{{list.id}}">
                          {{list.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->

                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-label>State</mat-label>
                    <mat-select name="state" #state="ngModel" [(ngModel)]="filter.state"
                      (selectionChange)="redeemRequestList()">
                      <mat-option disabled="">Select State</mat-option>
                      <mat-option *ngFor="let row of states" value="{{row.state_name}}">
                        {{row.state_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="district" [(ngModel)]="filter.district"
                      (keyup.enter)="redeemRequestList()">
                  </mat-form-field>
                </div>
              </th>
              <th class="w100 text-right">&nbsp;</th>
              <th class="w100 text-right">&nbsp;</th>
              <th class="w100 text-right">&nbsp;</th>

              <th class="w160  text-center" *ngIf="active_tab == 'Pending'">&nbsp;</th>
              <th class="w100" *ngIf="active_tab != 'Pending'">
                <!-- <div class="th-search-acmt">
               <mat-form-field class="example-full-width cs-input select-input">
                 <input matInput placeholder="Search..." type="text" name="transaction_no" [(ngModel)]="filter.transaction_no" (keyup.enter)="redeemRequestList('')">

               </mat-form-field>
             </div> -->
            </th>
              <th class="w160" *ngIf="active_tab != 'Pending'">
                 <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <!-- <input matInput placeholder="Search..." type="text" name="razorpay_payout_id" [(ngModel)]="filter.razorpay_payout_id" (keyup.enter)="redeemRequestList('')"> -->
                  <input matInput placeholder="Search..." type="text" name="transaction_no" [(ngModel)]="filter.transaction_no" (keyup.enter)="redeemRequestList('')">

                </mat-form-field>
              </div></th>
              <th class="w110" *ngIf="active_tab != 'Pending'">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker5" placeholder="Date" name="transfer_date"
                      [(ngModel)]="filter.transfer_date" [max]="today_date"  (dateChange)="onDate($event)" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5 disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
                </th>

              <th class="w200" *ngIf="active_tab != 'Pending'">&nbsp;</th>
              <th class="w100  text-center" *ngIf="active_tab != 'Pending'">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-select (selectionChange)="redeemRequestList()" name="gift_status"
                      #gift_status="ngModel" [(ngModel)]="filter.gift_status">
                      <mat-option value="">All</mat-option>
                      <mat-option value="Under Process" ng-reflect-value="Under Process">Under Process</mat-option>

                      <mat-option value="Transferred" ng-reflect-value="Transferred">Transferred</mat-option>
                      <!-- <mat-option value="Inprocess" ng-reflect-value="Inprocess">Inprocess</mat-option>
                      <mat-option value="Success" ng-reflect-value="Success">Success</mat-option>
                      <mat-option value="Failure" ng-reflect-value="Failure">Failure</mat-option> -->
                      <!-- <mat-option value="Reject" ng-reflect-value="Reject">Reject</mat-option> -->
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>

              <th class="w160 " *ngIf="active_tab != 'Pending'">&nbsp;</th>
              <th class="w150   text-center" *ngIf="active_tab != 'Pending'">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker1" placeholder="Date" name="last_status_updated_on"
                      [(ngModel)]="filter.last_status_updated_on" [max]="today_date"  (dateChange)="onDate($event)" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w200" *ngIf="active_tab == 'Reject'">&nbsp;</th>

            </tr>
          </table>
        </div>
      </div>

      <div class="table-container">
        <div class="table-content">
          <table>
            <ng-container *ngIf="!loader">
              <tr *ngFor="let row of redeemRequestList_data; let i = index;"
                [ngClass]="{'Current': service.currentUserID == row.id}">
                <td class="w110">{{row.date_created | date :'dd MMM yyyy'}}</td>
                <td class="w100">{{row.req_id ? row.req_id : '---'}}</td>

                <td class="w160">{{row.user_name ? (row.user_name | titlecase) : '---'}} ({{row.influencer_type}})</td>
                <td class="w110">{{row.mobile_no ? row.mobile_no : '---'}}</td>
                <td class="w110 {{row.influencer_status}}"><strong>{{row.influencer_status ? row.influencer_status :
                    '---'}}</strong></td>
                <!-- <td class="w110">{{row.redeem_type ? row.redeem_type : '---'}}</td> -->
                <ng-container *ngIf="redeemType=='Cash'">
                  <td class="w110">{{row.bank_name ? (row.bank_name | titlecase) : '---'}}</td>
                  <td class="w150">{{row.account_no ? row.account_no : '---'}}</td>
                  <td class="w110">{{row.ifsc_code ? row.ifsc_code : '---'}}</td>
                </ng-container>
                <!-- <ng-container *ngIf="redeemType!='Bank'">
                  <td class="w150">
                    {{row.wallet_number}}
                    <ng-container *ngIf="redeemType=='Paytm' && active_tab == 'Pending'">
                      <div class="action-button text-right">
                        <a mat-icon-button matTooltip="Edit" (click)="updateNumber(row.id,'wallet', row.wallet_number)">
                          <i class="material-icons edit">create</i>
                        </a>
                      </div>
                    </ng-container>

                  </td>
                </ng-container> -->
                <td class="w130">{{row.state ? row.state : '---'}}</td>
                <td class="w130">{{row.district ? row.district : '---'}}</td>
                <td class="w100 text-right">{{row.point ? ('₹ '+row.point) : '---'}}</td>
                <td class="w100 text-right">{{row.point_range_value ? ('₹ '+row.point_range_value) : '---'}}</td>
                <td class="w100 text-right">{{row.cash_point ? ('₹ '+row.cash_point) : '---'}}</td>
                <td class="w160  text-right" *ngIf="active_tab == 'Pending'">
                  <div class="flex-button">
                    <button mat-raised-button color="accent"
                      (click)="openDialog(row.id,'redeem_status', row.redeem_type, 'Approved', row.cash_point)">Approved</button>
                    <button mat-raised-button color="warn"
                      (click)="openDialog(row.id,'redeem_status', row.redeem_type, 'Reject', row.cash_point)">Reject</button>
                  </div>
                </td>
                <td class="w100 text-center" *ngIf="active_tab != 'Pending'">{{row.payment_mode ? (row.payment_mode) : '---'}}</td>

                <td class="w160" *ngIf="active_tab != 'Pending'">
                  <ng-container *ngIf="redeemType=='Cash'">
                    <!-- {{row.razorpay_payout_id}} -->
                    {{row.transaction_no}}
                  </ng-container>
                  <!-- <ng-container *ngIf="redeemType=='Paytm' || redeemType=='Khalti'">
                    {{row.transaction_id}}
                  </ng-container> -->
                </td>
                <td class="w110 text-center" *ngIf="active_tab != 'Pending' && row.transfer_date !='0000-00-00'">{{row.transfer_date | date :'dd MMM yyyy'}}</td>
                <td class="w110 text-center" *ngIf="active_tab != 'Pending'  && row.transfer_date =='0000-00-00'">--</td>




                <td class="w200" *ngIf="active_tab != 'Pending'">{{row.transfer_remark.replaceAll('_',' ') | titlecase}}</td>
                <td class="w100  text-center" *ngIf="active_tab != 'Pending'">
                  <!-- <ng-container *ngIf="active_tab == 'Pending' && (redeemType=='Bank' || redeemType=='Paytm')">
                    {{row.status}}
                  </ng-container> -->
                  <div *ngIf="row.gift_status == 'Transferred'">
                    <strong class="Approved">
                      {{row.gift_status ? row.gift_status : '---'}}
                    </strong>
                  </div>
                  <div class="th-search-acmt" *ngIf="row.status == 'Approved' && row.gift_status != 'Transferred'">
                    <mat-form-field class="cs-input select-input">
                      <mat-label>{{row.gift_status}}</mat-label>
                      <mat-select [name]="'gift_status'+'i'" #gift_status="ngModel" [(ngModel)]="row.gift_status" required (selectionChange)="opengiftDialog(row.id,'gift_status', row.redeem_type, row.gift_status)">
                        <mat-option  disabled="">Under Process</mat-option>
                        <mat-option  value="Transferred">Tranferred</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>


                </td>
                <td class="w160 " *ngIf="active_tab != 'Pending'">{{row.last_status_updated_by_name ?
                  (row.last_status_updated_by_name | titlecase) : '---'}}</td>
                <td class="w150   text-center" *ngIf="active_tab != 'Pending'">{{row.last_status_updated_on ?
                  (row.last_status_updated_on | date :'dd MMM yyyy, h:mm a') : '---'}}</td>
                <td class="w200" *ngIf="active_tab == 'Reject'">{{row.reject_reason}}</td>

              </tr>
            </ng-container>

            <ng-container *ngIf="loader">
              <tr class="sk-loading" *ngFor="let row of [].constructor(10)">

                <td class="w110">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w160">
                  <div>&nbsp;</div>
                </td>
                <td class="w110">
                  <div>&nbsp;</div>
                </td>
                <td class="w110">
                  <div>&nbsp;</div>
                </td>

                <ng-container *ngIf="redeemType=='Cash'">
                  <td class="w110">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                  <td class="w110">
                    <div>&nbsp;</div>
                  </td>
                </ng-container>
                <!-- <ng-container *ngIf="redeemType!='Bank'">
                  <td class="w150">
                    <div>&nbsp;</div>
                  </td>
                </ng-container> -->
                <td class="w130">
                  <div>&nbsp;</div>
                </td>
                <td class="w130">
                  <div>&nbsp;</div>
                </td>
                <td class="w100 text-right">
                  <div>&nbsp;</div>
                </td>
                <td class="w100 text-right">
                  <div>&nbsp;</div>
                </td>
                <td class="w100 text-right">
                  <div>&nbsp;</div>
                </td>
                 <td class="w100 text-right">
                  <div>&nbsp;</div>
                </td>
                <td class="w160  text-center" *ngIf="active_tab == 'Pending'">
                  <div>&nbsp;</div>
                </td>
                <td class="w100 text-right" *ngIf="active_tab != 'Pending'">
                  <div>&nbsp;</div>
                </td>
                <td class="w160" *ngIf="active_tab != 'Pending'">
                  <div>&nbsp;</div>
                </td>
                <td class="w110  text-center" *ngIf="active_tab != 'Pending'">
                  <div>&nbsp;</div>
                </td>
                <td class="w200" *ngIf="active_tab != 'Pending'">
                  <div>&nbsp;</div>
                </td>
                <td class="w100  text-center" *ngIf="active_tab != 'Pending'">
                  <div>&nbsp;</div>
                </td>

                <td class="w150  text-center" *ngIf="active_tab != 'Pending'">
                  <div>&nbsp;</div>
                </td>
                <td class="w160 " *ngIf="active_tab != 'Pending'">
                  <div>&nbsp;</div>
                </td>
                <td class="w200" *ngIf="active_tab == 'Reject'">
                  <div>&nbsp;</div>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>


      </div>

      <ng-container *ngIf="redeemRequestList_data.length == 0 && datanotfound == true">
        <app-not-result-found></app-not-result-found>
      </ng-container>
    </div>


  </div>

  <div class="container pb100" *ngIf="redeemType!='Cash'">
    <div class="cs-table horizontal-scroll">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w60">Sr.No</th>
              <th class="w90">Date</th>
              <th class="w100">Req. ID</th>
              <th class="w150">Name</th>
              <th class="w110">Mobile No.</th>
              <th class="w110">A/C Status</th>
              <th class="w200">Gift</th>
              <th class="w100 text-right">Points Request</th>
              <!-- <th class="w100 text-right">Points Value</th>

              <th class="w100 text-right">Equivalent Cash</th> -->
              <th class="w100 text-right" *ngIf="active_tab == 'Approved'">Shipping Type</th>
              <th class="w100 text-right" *ngIf="active_tab == 'Approved'">Estimate Date</th>
              <th class="w200 text-left" *ngIf="active_tab == 'Approved'">Shipping Remark</th>

              <th class="w110">Redeem Status</th>
              <th class="w110">Gift Points Status</th>
              <th class="w110  text-center" *ngIf="assign_login_data2.edit_redeem_request=='1' && active_tab == 'Pending'">Action</th>
            </tr>
          </table>
        </div>

        <div class="table-head border-top">
          <table>
            <tr>
              <th class="w60">&nbsp;</th>
              <th class="w90">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created" [(ngModel)]="filter.date_created" (dateChange)="onDate($event)"  [max]="today_date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="req_id" [(ngModel)]="filter.req_id" (keyup.enter)="redeemRequestList('')">
                  </mat-form-field>
                </div>
              </th>
              <th class="w150">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="user_name" [(ngModel)]="filter.user_name" (keyup.enter)="redeemRequestList('')">
                  </mat-form-field>
                </div>
              </th>

              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="mobile_no" [(ngModel)]="filter.mobile_no" (keyup.enter)="redeemRequestList('')">
                  </mat-form-field>
                </div>
              </th>

              <th class="w110">&nbsp;
              </th>
              <th class="w200">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." type="text" name="gift_name" [(ngModel)]="filter.gift_name" (keyup.enter)="redeemRequestList('')">
                  </mat-form-field>
                </div>
              </th>
              <th class="w100 text-right">&nbsp;
              </th>
              <!-- <th class="w100 text-right">&nbsp;
              </th>
              <th class="w100 text-right">&nbsp;
              </th> -->
              <th class="w100" *ngIf="active_tab == 'Approved'">&nbsp;</th>

              <th class="w100" *ngIf="active_tab == 'Approved'">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker6" placeholder="Date" name="shipped_date" [(ngModel)]="filter.shipped_date" (dateChange)="onDate($event)"  [max]="today_date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                    <mat-datepicker #picker6 disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w200" *ngIf="active_tab == 'Approved'">&nbsp;</th>
              <th class="w110">&nbsp;</th>

              <th class="w110">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-select [(ngModel)]="filter.gift_status" name="gift_status" (selectionChange)="redeemRequestList('')">
                      <mat-option  value="">All</mat-option>
                      <mat-option  value="Shipped">Shipped</mat-option>
                      <mat-option  value="Received">Received</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>
              <th class="w110  text-center"  *ngIf="assign_login_data2.edit_redeem_request=='1' && active_tab == 'Pending'">&nbsp;</th>
            </tr>
          </table>
        </div>
      </div>

      <div class="table-container">
        <div class="table-content">
          <table>
            <ng-container *ngIf="!loader">
              <tr *ngFor="let row of redeemRequestList_data; let i = index;">
                <td class="w60">{{i + 1 + sr_no}}</td>
                <td class="w90">{{row.date_created | date :'dd MMM yyyy'}}</td>
                <td class="w100">{{row.req_id ? row.req_id : '---'}}</td>

                <td class="w150">{{row.user_name ? (row.user_name | titlecase) : '---'}} ({{row.influencer_type}})</td>
                  <td class="w110">{{row.mobile_no ? row.mobile_no : '---'}}</td>

                    <td class="w110">
                      <strong class="{{row.influencer_status}}">{{row.influencer_status ? row.influencer_status : '---'}}</strong>
                    </td>
                    <td class="w200">{{row.gift_name ? row.gift_name : '---'}}</td>
                    <td class="w100 text-right"><strong>{{row.point ? row.point : '---'}}</strong></td>
                    <!-- <td class="w100 text-right"><strong>{{row.point_range_value ? row.point_range_value : '---'}}</strong></td>

                    <td class="w100 text-right"><strong>₹ {{row.cash_point ? row.cash_point : '---'}}</strong></td> -->
                    <td class="w100 text-right" *ngIf="active_tab == 'Approved'"><strong>{{row.shipping_type ? row.shipping_type : '---'}}</strong></td>
                    <td class="w100 text-right" *ngIf="active_tab == 'Approved'"><strong>{{row.shipped_date | date :'dd MMM yyyy'}}</strong></td>
                    <td class="w200 text-left" *ngIf="active_tab == 'Approved'"><strong>{{row.shipping_remark ? row.shipping_remark : '---'}}</strong></td>

                    <td class="w110">
                      <strong class="{{row.status}}">{{row.status}}</strong>
                    </td>
                    <td class="w110">
                      <div *ngIf="row.gift_status == 'Received'" >
                        <strong class="Approved">
                          {{row.gift_status ? row.gift_status : '---'}}
                        </strong>
                      </div>
                      <div class="th-search-acmt" *ngIf="row.status == 'Approved' && row.gift_status != 'Received'">
                        <mat-form-field class="cs-input select-input">
                          <mat-label>{{row.gift_status}}</mat-label>
                          <mat-select [name]="'gift_status'+'i'" #gift_status="ngModel" [(ngModel)]="row.gift_status" required (selectionChange)="opengiftDialog(row.id,'gift_status', row.redeem_type, row.gift_status)">
                            <mat-option  disabled="">Under Process</mat-option>
                            <!-- <mat-option value="Transferred" [disabled]="row.gift_status == 'Transferred' || row.gift_status == 'Received'" *ngIf="row.redeem_type == 'Cash'">Tranferred</mat-option> -->
                            <mat-option value="Shipped" [disabled]="row.gift_status == 'Shipped' || row.gift_status == 'Received'"   *ngIf="row.redeem_type == 'Gift'">Shipped</mat-option>
                            <mat-option value="Received" [disabled]="row.gift_status == 'Received'" *ngIf="row.gift_status == 'Shipped'">Received</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </td>
                    <td class="w110  text-center" *ngIf="assign_login_data2.edit_redeem_request=='1' && active_tab == 'Pending'">
                      <ng-container *ngIf="row.status == 'Pending' ">
                        <div class="flex-button">
                          <button mat-raised-button color="accent"
                          (click)="opengiftDialog(row.id,'redeem_status', '', '')">Change Status</button>
                        <!-- <a class="link-btn" (click)="openDialog(row.id,'redeem_status', '', '')" >Change Status</a> -->


                        </div>
                      </ng-container>
                      <ng-container *ngIf="row.status != 'Pending' ">
                        ---
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>

                <ng-container *ngIf="loader">


                  <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                    <td class="w60"><div>&nbsp;</div></td>
                    <td class="w90"><div>&nbsp;</div></td>
                    <td class="w100"><div>&nbsp;</div></td>
                    <td class="w150"><div>&nbsp;</div></td>
                    <td class="w110"><div>&nbsp;</div></td>
                    <td class="w110"><div>&nbsp;</div></td>
                    <td class="w200"><div>&nbsp;</div></td>
                    <td class="w100 text-right"><div>&nbsp;</div></td>
                    <!-- <td class="w100 text-right"><div>&nbsp;</div></td>
                    <td class="w100 text-right"><div>&nbsp;</div></td> -->
                    <td class="w100" *ngIf="active_tab == 'Approved'"><div>&nbsp;</div></td>
                    <td class="w100" *ngIf="active_tab == 'Approved'"><div>&nbsp;</div></td>
                    <td class="w200" *ngIf="active_tab == 'Approved'"><div>&nbsp;</div></td>

                    <td class="w110"><div>&nbsp;</div></td>
                    <td class="w110"><div>&nbsp;</div></td>
                    <td class="w110  text-center" *ngIf="assign_login_data2.edit_redeem_request=='1' && active_tab == 'Pending'"><div>&nbsp;</div></td>
                  </tr>
                </ng-container>
              </table>
            </div>

            <ng-container *ngIf="redeemRequestList_data.length == 0">
              <app-not-result-found></app-not-result-found>
            </ng-container>
          </div>
        </div>


      </div>



  <div class="fab-btns" *ngIf="redeemRequestList_data.length >0">
    <button mat-fab class="excel pulse" (click)="exportAsXLSX(active_tab);">
      <img src="assets/img/excel.svg">
      Download Excel
    </button>
  </div>

</div>
