<div class="main-container">
  <app-loader *ngIf="excelLoader"></app-loader>
  <div class="tools-container">
    <h2>Installation List</h2>
    
    
    <div class="left-auto df ac flex-gap-10">
      <a mat-icon-button matTooltip="Refresh" (click)="refresh()">
        <i class="material-icons">refresh</i>
      </a>
      
      <div class="pagination" >
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">
          <button mat-icon-button matTooltip="Older" (click)="pervious()" [disabled]="start == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button matTooltip="Newer" (click)="nextPage()" [disabled]="pagenumber == total_page ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="container container-scroll">
    <div class="cs-table horizontal-scroll">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w50">Sr.No</th>
              <th class="w150">Date Created</th>
              <th class="w150">Created By</th>
              <th class="w150">Customer Name</th>
              <th class="w150">Customer Mobile No.</th>
            </tr>
          </table>
        </div>
        
        <div class="table-head bdrt">
          <table>
            <tr>
              <th class="w50"></th>
              <th class="w150">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                    #date_created="ngModel" [(ngModel)]="filter_data.date_created" (ngModelChange)="date_format()"
                    [max]="today_date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w150"></th>
              <th class="w150">
                <div class="th-search-acmt">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Search ..." name="name"
                      (keyup.enter)="getinspectionList('')" #name="ngModel" [(ngModel)]="filter_data.name">
                  </mat-form-field>
                </div>
              </th>
              <th class="w150">
                <div class="th-search-acmt">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Search ..." name="mobile_no"
                      (keyup.enter)="getinspectionList('')" #mobile_no="ngModel" [(ngModel)]="filter_data.mobile_no">
                  </mat-form-field>
                </div>
              </th>
            </tr>
            
          </table>
        </div>
      </div>
      
      <div class="table-container">
        <div class="table-content">
          <table>
            <!-- *ngIf="!loader" -->
            <ng-container >
              <!-- <tr *ngFor="let row of inspectionList; let i = index " [ngClass]="{'Current': service.currentUserID == row.id}">
                <td class="w50">{{i + 1 + sr_no}}</td>
                <td class="w150">{{row.date_created}}</td>
                <td class="w150">{{row.created_name}}</td>
                <td class="w150"><a class="link-btn" mat-button (click)="service.setData(filter_data)" routerLink="inspection-detail/{{(row.id)}}" routerLinkActive="active"> {{row.name}}</a></td>
                <td class="w150">{{row.mobile_no}}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="loader">
              <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                <td class="w50">
                  <div>&nbsp;</div>
                </td>
                <td class="w150">
                  <div>&nbsp;</div>
                </td>
                <td class="w150">
                  <div>&nbsp;</div>
                </td>
                <td class="w150">
                  <div>&nbsp;</div>
                </td>
                <td class="w150">
                  <div>&nbsp;</div>
                </td>
              </tr> -->
              <tr>
                <th class="w50">Sr.No</th>
                <th class="w150">Date Created</th>
                <th class="w150">Created By</th>
                <th class="w150"><a class="link-btn" mat-button (click)="service.setData(filter_data)" routerLink="inspection-detail/3" routerLinkActive="active">76676786786</a></th>
                <th class="w150">Customer Mobile No.</th>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
    <!-- <ng-container *ngIf="datanotofound==true && inspectionList.length == 0;">
      <app-not-result-found></app-not-result-found>
    </ng-container> -->
  </div>
  <div>
  </div>
  
  <div class="fab-btns">
    <button class="pulse excel" mat-fab color="primary" [ngClass]="{'pulse': fabBtnValue=='add'}" [matMenuTriggerFor]="menu">
      <i class="material-icons">apps</i>
      Action
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="downloadExcel();">
      <mat-icon>download</mat-icon>
      <span>Download excel</span>
    </button>
    <button mat-menu-item (click)="lastBtnValue('add')" routerLink="add-inspection" routerLinkActive="router-link-active">
      <mat-icon>add</mat-icon>
      <span>Add New</span>
    </button>
  </mat-menu>
</div>