<div class="main-container">
  <div class="tab-surface">
    <button *ngFor="let row of calenderInfo; let i =index;" mat-button
        [ngClass]="OrderMonth == row.month && OrderYear == row.year ? 'active' : ''"
        (click)="billData('',row.month,row.year);">{{row.month_name}} {{row.year}}<span
            class="order-value">&#x20B9; {{row.total_payment_amount ? (row.total_payment_amount | number:'1.1-2') : '0'}}</span></button>
  </div>
  <div class="tools-container">
    <h2>Payment List</h2>
    <div class="left-auto left-auto df ac flex-gap-10">
      <a mat-icon-button matTooltip="Refresh" (click)="refresh('refresh',OrderMonth,OrderYear)">
        <i class="material-icons">refresh</i>
      </a>

      <div class="pagination" *ngIf="payment_list.length > 0">
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">
          <button mat-icon-button matTooltip="Older" (click)="pervious('',OrderMonth,OrderYear)" [disabled]="start == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button matTooltip="Newer" (click)="nextPage('',OrderMonth,OrderYear)" [disabled]="pagenumber == total_page ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="container pb100">
    <div class="cs-table">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w30">S.no.</th>
              <th class="w100">Date Created</th>
              <th class="w100">Payment Date</th>
              <th class="w100">Receipt Number</th>
              <th class="w200">Customer Details</th>
              <th class="w100">Account Code</th>
              <th class="w100">Payment Mode</th>
              <th class="w100 text-right">Amount</th>
              <th class="w220">Transaction Details</th>
            </tr>
          </table>
        </div>

        <div class="table-head border-top">
          <table class="sno-border">
            <tr>
              <th class="w30">&nbsp;</th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker1" placeholder="Date" name="date_created"
                      [(ngModel)]="filter.date_created" (ngModelChange)="date_format($event,OrderMonth,OrderYear)" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker2" placeholder="Date" name="payment_date"
                      [(ngModel)]="filter.payment_date" (ngModelChange)="date_format($event,OrderMonth,OrderYear)" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search ..." type="text" name="payment_id"
                      [(ngModel)]="filter.payment_id" (keyup.enter)="billData('',OrderMonth,OrderYear)">
                  </mat-form-field>
                </div>
              </th>
              <th class="w200">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search ..." type="text" name="customer_name"
                      [(ngModel)]="filter.customer_name" (keyup.enter)="billData('',OrderMonth,OrderYear)">
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search ..." type="text" name="customer_code"
                      [(ngModel)]="filter.customer_code" (keyup.enter)="billData('',OrderMonth,OrderYear)">
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search ..." type="text" name="payment_mode"
                      [(ngModel)]="filter.payment_mode" (keyup.enter)="billData('',OrderMonth,OrderYear)">
                  </mat-form-field>
                </div>
              </th>
              <th class="w100 text-right">&nbsp;</th>
              <th class="w220">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search ..." type="text" name="remark" [(ngModel)]="filter.remark"
                      (keyup.enter)="billData('',OrderMonth,OrderYear)">
                  </mat-form-field>
                </div>
              </th>
            </tr>
          </table>
        </div>
      </div>




      <div class="table-container">
        <div class="table-content">
          <table>
            <ng-container *ngIf="!loader">
              <tr *ngFor="let row of payment_list; let i =index">
                <td class="w30">{{ i + 1 + sr_no }}</td>
                <td class="w100">{{row.date_created | date:'dd MMM yyyy , h:mm a'}}</td>
                <td class="w100">{{row.payment_date | date:'dd MMM yyyy '}}</td>
                <td class="w100">{{row.payment_id}}</td>
                <td class="w200">{{row.customer_name | titlecase}} - {{row.contact_person_name | titlecase}}
                  <strong>({{row.mobile}})</strong></td>
                <td class="w100">{{row.customer_code}}</td>
                <td class="w100">{{row.payment_mode}}</td>
                <td class="w100 text-right"><strong>&#x20B9; {{row.payment_amount}}</strong></td>
                <td class="w220">{{row.remarks}}</td>
              </tr>
            </ng-container>

            <ng-container *ngIf="loader">
              <tr class="sk-loading" *ngFor="let row of [].constructor(10)">
                <td class="w30">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w200">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w220">
                  <div>&nbsp;</div>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
    <ng-container *ngIf="payment_list.length == 0 && datanotfound == true">
      <app-not-result-found></app-not-result-found>
    </ng-container>

  </div>
 
  <div class="fab-btns" *ngIf="assign_login_data2.import_accounts=='1'  || assign_login_data2.import_payment=='1'  || assign_login_data2.export_accounts=='1' || assign_login_data2.export_payment=='1'">
    <button class="excel pulse" mat-fab color="primary" [ngClass]="{'pulse': fabBtnValue=='add'}"
      [matMenuTriggerFor]="menu">
      <i class="material-icons">apps</i>
      Action
    </button>
    <mat-menu #menu="matMenu">

      <!-- <button mat-menu-item (click)="upload_excel('insert');" *ngIf="assign_login_data2.import_accounts=='1'  || assign_login_data2.import_payment=='1' ">
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload New Data</span>
      </button> -->
      <button mat-menu-item  (click)="exportAsXLSX(OrderMonth, OrderYear)" *ngIf="payment_list.length > 0 && (assign_login_data2.export_accounts=='1' || assign_login_data2.export_payment=='1')">
        <mat-icon>download</mat-icon>
        <span>Download in excel</span>
        Download Excel
      </button>
  <!-- </div> -->
</mat-menu>
</div>
</div>