

<h1 mat-dialog-title>Change Status</h1>
<form #f="ngForm" (ngSubmit)=" f.valid && submitDetail()">
  <div mat-dialog-content>
    <div class="dialog-content">
      <div class="cs-form mt10">
        <div class="row">
          <div class="col s12 m6 l6">
            <mat-form-field  appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select name="lead_status" #lead_status="ngModel" [(ngModel)]="data.lead_status"  (selectionChange)="data.lead_status == 'Qualified' ? getReportManager('') :'' " required>
                <mat-option value="Qualified">Qualified</mat-option>
                <mat-option value="Disqualified">Disqualified</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="lead_status.touched || f.submitted">
              <p *ngIf="lead_status.errors?.required">This field is required</p>
            </div>
          </div>
          
          <div class="col s12 m6 l6" *ngIf="data.lead_status == 'Qualified'">
            <mat-form-field  appearance="outline">
              <mat-label>Assign To</mat-label>
              <mat-select name="sales_user_id" #sales_user_id="ngModel" [(ngModel)]="data.sales_user_id" required (selectionChange)="findUser(data.sales_user_id)">
                <mat-option >
                  <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.." (keyup)="getReportManager($event.target.value)"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let list of report_manager;let index=index" value="{{list.id}}">
                  {{list.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="sales_user_id.touched || f.submitted">
              <p *ngIf="sales_user_id.errors?.required">This field is required</p>
            </div>
          </div>
        </div>
        
        
        <ng-container  *ngIf="data.lead_status == 'Qualified'">
          <div class="row">
            <div class="col s12">
              <mat-form-field  appearance="outline">
                <mat-label>Requirement</mat-label>
                <textarea matInput placeholder="Type Here ..." name="requirement" #requirement="ngModel"
                [(ngModel)]="data.requirement" class="h50"  required></textarea>
              </mat-form-field>
              <div class="alert alert-danger" *ngIf="requirement.touched || f.submitted">
                <p *ngIf="requirement.errors?.required">This field is required</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6 l6">
              <p class="mb10">Do you want create followup</p>
              <mat-radio-group class="example-section"  name="create_follow_up" [(ngModel)]="data.create_follow_up"  (change)="data.create_follow_up == 'Yes' ? '' :'' " >
                <mat-radio-button class="wp50" color="primary" value="No">
                  No
                </mat-radio-button>
                <mat-radio-button class="wp50" color="primary" value="Yes">
                  Yes
                </mat-radio-button>
              </mat-radio-group>
            </div>
            
            <div class="col s12 m6 l6" *ngIf="data.create_follow_up == 'Yes'">
              <mat-form-field  appearance="outline">
                <mat-label>Next Follow Up Date</mat-label>
                <input name="next_followup_date" matInput (dateChange)="onDate($event)" [matDatepicker]="pickers" [min]="date" placeholder="" #next_followup_date="ngModel" readonly [(ngModel)]="data.next_followup_date" required>
                <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                <mat-datepicker #pickers></mat-datepicker>
              </mat-form-field>
              <div class="alert alert-danger" *ngIf="next_followup_date.touched || f.submitted">
                <p *ngIf="next_followup_date.errors?.required">This field is required</p>
              </div>
            </div>
          </div>
          
          <div class="row" *ngIf="data.create_follow_up == 'Yes'">
            <div class="col s6">
              <input type="time" required name="next_followup_time" #next_followup_time="ngModel" [(ngModel)]="data.next_followup_time" class="time-input">
            </div>
          </div>

          <div class="row" *ngIf="data.create_follow_up == 'Yes'">
            <div class="col s12">
              <mat-form-field class="cs-input" appearance="outline">
                <mat-label>Follow Up Remark</mat-label>
                <textarea matInput placeholder="Enter Follow Up Remark ..." name="remark"
                #remark="ngModel" [(ngModel)]="data.remark"
                [ngClass]="{'has-error' : remark.invalid } " required></textarea>
              </mat-form-field>
              <div class="alert alert-danger" *ngIf="remark.touched || f.submitted">
                <p *ngIf="remark.errors?.required">This field is required</p>
              </div>
            </div>
          </div>
        </ng-container>
        
        <div class="row" *ngIf="data.lead_status == 'Disqualified'">
          <div class="col s12">
            <mat-form-field  appearance="outline">
              <mat-label>Reason</mat-label>
              <textarea matInput placeholder="Type Here ..." name="reason" #reason="ngModel"
              [(ngModel)]="data.reason" class="h50" required></textarea>
            </mat-form-field>

            <div class="alert alert-danger" *ngIf="reason.touched || f.submitted">
              <p *ngIf="reason.errors?.required">This field is required</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="text-right wp100">
      <button class="mr10"  mat-stroked-button color="warn" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="accent"  [ngClass]="{'loading': savingFlag == true}" [disabled]="savingFlag == true">
        Save
      </button>
    </div>
  </div>
</form>