<div class="edit-modal">
  <form #update_basic="ngForm" (ngSubmit)="update_basic.valid && submit()">
    <div mat-dialog-content>
      <p class="heading">Assign Stock</p>
      <div class="cs-form">
        <div class="row">
          <div class="col s6">
            <mat-form-field appearance="outline">
              <mat-label>Assign Technician</mat-label>
              <mat-select name="id" [(ngModel)]="formData.id" #id="ngModel"
                (selectionChange)="getCarpenterInfo(formData.id)" required>
                <mat-option>
                  <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.."
                    (keyup)="assign_engineerget($event.target.value)"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let row of engineerList" [value]="row.id">{{row.name |
                  titlecase}}-{{row.mobile_no}}-({{row.district | titlecase}},{{row.state | titlecase}})</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="id.touched">
              <p *ngIf="id.errors?.required">This field is required</p>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="formData.id">
          <div class="col s12">
            <div class="edit-modal border-top">
              <p class="heading mt-10">All Ready Part Assign</p>
              <div mat-dialog-content>
                <div class="cs-table left-right-10">

                  <div class="table-head">
                    <table>
                      <tr>
                        <th class="w40 text-center">Sr.No</th>
                        <th class="w100">Part Name</th>
                        <th class="w50 text-center">Part No</th>
                        <th class="w50 text-center">Assign Qty</th>
                        <th class="w150 text-center ">Return Qty</th>
                      </tr>
                    </table>
                  </div>
                  <div class="table-container pb0">
                    <div class="table-content none-shadow">
                      <table>
                        <!-- <ng-container *ngFor="let row of add_list; let i = index">
                          <tr>
                            <td class="w40 text-center">1</td>
                            <td class="w100">Test</td>
                            <td class="w50 text-center">Test</td>
                            <td class="w50 text-center">Test</td>
                            <td class="w50 text-center ">2</td>
                          </tr>
                        </ng-container> -->
                        <ng-container>
                          <tr>
                            <td class="w40 text-center">1</td>
                            <td class="w100">Test</td>
                            <td class="w50 text-center">Test</td>
                            <td class="w50 text-center">Test</td>
                            <td class="w50 text-center ">2</td>
                            <td class="w150 text-center ">
                              <!-- <div class="col s6"> -->
                                <mat-form-field appearance="outline" [ngClass]="{'has-error' : qty?.invalid } ">
                                  <mat-label>Stock Qty</mat-label>
                                  <input matInput placeholder="Type Here ..." name="qty" #qty="ngModel" [(ngModel)]="formData.qty"
                                    required>
                                </mat-form-field>
                                <div class="alert alert-danger" *ngIf="qty.touched || update_basic.submitted">
                                  <p *ngIf="qty.errors?.required">
                                    This field is required
                                  </p>
                                </div>
                              <!-- </div> -->
                            </td>
                          </tr>
                        </ng-container>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <div class="text-right wp100">
        <button class="mr10" mat-stroked-button color="warn" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="accent" type="submit" [ngClass]="{'loading': savingFlag == true}"
          [disabled]="savingFlag == true ">
          {{savingFlag == true ? 'Saving' : 'Save'}}
        </button>
      </div>
    </div>
  </form>

</div>
