<div class="main-container" >
    <div class="tools-container">
        <a mat-icon-button  matTooltip="Back" (click)="back()">
            <i class="material-icons">arrow_back</i>
        </a>
        <h2>Installation Details</h2>
        
        <div class="left-auto" >
            <div class="left-auto" >
                <button mat-button class="ouline-btns status" mat-raised-button color="accent" (click)="openDialog()">Assign Engineer</button>   
            </div>
        </div>
    </div>
    
    <div class="container pt10 pl10 pr10 pb50" >
        <div class="row">
            <div class="col s12 m12 l8">
                <!-- product data start -->
                <div class="card" *ngIf="!skLoading">
                    <div class="card-head">
                        <h2>Basic Details</h2>
                        <div class="left-auto" >
                            <a class="sm-mat-icon-button" mat-icon-button matTooltip="Edit Detail" [routerLink]="[ 'add-installation/', this.id ]">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="grid-box">
                            <div class="block-feilds">
                                <span>Date Created</span>
                                <p>{{getData.date_created ? getData.date_created :'---'}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Created By</span>
                                <p>{{getData.created_by_type ? getData.created_by_type :'---'}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Complaint No.</span>
                                <p>{{getData.complain_no ? getData.complain_no :'---'}}</p>
                            </div>
  
                            <div class="block-feilds">
                                <span>Customer Name</span>
                                <p>{{getData.customer_name ? getData.customer_name :'---'}}</p>
                            </div>

                            <div class="block-feilds">
                                <span>Customer Mobile No.</span>
                                <p>{{getData.customer_mobile ? getData.customer_mobile :'---'}}</p>
                            </div>

                            <div class="block-feilds">
                                <span>State</span>
                                <p>{{getData.state ? getData.state :'---'}}</p>
                            </div>

                            <div class="block-feilds">
                                <span>District</span>
                                <p>{{getData.district ? getData.district :'---'}}</p>
                            </div>

                            <div class="block-feilds">
                                <span>City</span>
                                <p>{{getData.city ? getData.city :'---'}}</p>
                            </div>

                            <div class="block-feilds">
                                <span>Pincode</span>
                                <p>{{getData.pincode ? getData.pincode :'---'}}</p>
                            </div>

                            <div class="block-feilds">
                                <span>Address</span>
                                <p>{{getData.address ? getData.address:'N/A'}}</p>
                            </div>
                            
                            <div class="block-feilds">
                                <span>Nature Of Problem</span>
                                <p>{{getData.nature_of_problem ? getData.nature_of_problem:'N/A'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col s12 m12 l4">
                <div class="card" *ngIf="!skLoading">
                    <div class="card-head">
                        <h2>Images</h2>
                    </div>
                    <div class="card-body">
                        <div class="img-container">
                            <div class="image-block" *ngFor="let row of complaintImg">
                                <img [src]="url+row.image" (click)="imageModel(url+row.image)" style="cursor: zoom-in;">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Skeleton start -->
                <div class="card" *ngIf="skLoading">
                    <div class="sk-head">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="card-body">
                        <div class="img-container">
                            <div class="image-block sk-loading" *ngFor="let row of [].constructor(3)">
                                &nbsp; 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Skeleton end -->
                
                
                
            </div>
            
        </div> 
        <div class="row" *ngIf="add_list.length > 0 ">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-head">
                        <h2> Product List</h2>
                    </div>
                    <div class="card-body">
                        <div class="cs-table left-right-10" >
                            <div class=" border-top">
                                <div class="table-head">
                                    <table>
                                        <tr>
                                            <th class="w50 text-center">Sr.No</th>
                                            <th class="w130 text-center">Category</th>
                                            <th class="w130 text-center">Sub Category</th>
                                            <th class="w130 text-center">Product</th>
                                            <th class="w80 text-center">Qty</th>
                                            <!-- <th class="w50 text-center">Action</th> -->
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            
                            <div class="table-container pb0">
                                <div class="table-content none-shadow">
                                    <table>
                                        <tr *ngFor="let row of add_list;let i=index;">
                                            <td class="w50 text-center">{{i+1}}</td>
                                            <td class="w130 text-center">{{row.category_name}}</td>
                                            <td class="w130 text-center">{{row.subcat_name}}</td>
                                            <td class="w130 text-center">{{row.product_name}}</td>
                                            <td class="w80 text-center">{{row.qty}}</td>
                                            <!-- <td class="w50 text-center" >
                                                <div class="action-button">
                                                    <button mat-icon-button matTooltip="Delete" (click)="delete(i)">
                                                        <i class="material-icons del">delete</i>
                                                    </button>
                                                </div>
                                            </td> -->
                                        </tr>  
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>