<div class="main-container">
  <div class="tools-container">
    <a mat-icon-button matTooltip="Back" routerLink="/survey-list">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>Survey Detail</h2>
    <div class="left-auto df ac flex-gap-10">
      <button mat-button color="primary" matTooltip="See Suvey Result" routerLink="survey-result"  [queryParams]="{'id':this.servey_detail}" >
        <i class="material-icons">poll</i>
        Survey Result
      </button>
      <!-- <button mat-menu-item (click)="lastBtnValue('add')" routerLink="add-product" routerLinkActive="router-link-active"
      *ngIf="logined_user_data.add_products_master=='1'">
      <mat-icon>add</mat-icon>
      <span>Add New</span>
    </button> -->

    </div>
  </div>
  <div class="container pt10 pl10 pr10 pb50">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card" *ngIf="!skLoading">
          <div class="card-head">
            <h2>Basic Details</h2>
            <div class="left-auto">
              <a class="sm-mat-icon-button" mat-icon-button matTooltip="Edit Detail"
                *ngIf="assign_login_data2.edit_survey=='1' && servey_detail.status == 'Active'"
                (click)="openDialog('basic')">
                <i class="material-icons">edit</i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="grid-box two mb16">
              <div class="block-feilds">
                <span>Title</span>
                <p>{{servey_detail.title}}</p>
              </div>
              <div class="block-feilds">
                <span>User Type</span>
                <p><span style="margin: 3px;" *ngFor="let item of servey_detail.types">{{item}},</span></p>
              </div>
            </div>
            <div class="grid-box five">
              <div class="block-feilds">
                <span>Date Created</span>
                <p>{{servey_detail.date_created | date:'d MMM y'}}</p>
              </div>
              <div class="block-feilds">
                <span>Created By</span>
                <p>{{servey_detail.created_by_name}}</p>
              </div>
              <div class="block-feilds">
                <span>Start Date</span>
                <p>{{servey_detail.start_date | date:'d MMM y'}}</p>
              </div>
              <div class="block-feilds">
                <span>End Date</span>
                <p>{{servey_detail.end_date | date:'d MMM y'}}</p>
              </div>
              <div class="block-feilds">
                <span>Status</span>
                <p class="Approved"><strong>{{servey_detail.status}}</strong></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Skeleton start -->
        <div class="card" *ngIf="skLoading">
          <div class="sk-head">
            <h2>&nbsp;</h2>
          </div>
          <div class="card-body">
            <div class="grid-box">
              <div class="sk-box" *ngFor="let row of [].constructor(10)">
                &nbsp;
              </div>
            </div>
          </div>
        </div>
        <!-- Skeleton end -->
      </div>
    </div>

    <div class="row" *ngIf="!skLoading">
      <div class="col s12 m4 l4">
        <div class="card pb0">
          <div class="card-head">
            <h2>Area Wise Selection</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col s12">
                <div class="check-box">
                  <div class="check-body">
                    <mat-checkbox [labelPosition]="labelPosition" color="primary"
                      [disabled]="assign_login_data2.edit_survey!='1'"
                      *ngFor="let val of states | filterBy : {state_name : search_st}; let g=index"
                      [name]="'state'+val.state_name+g" [value]="" [ngModel]="val.state_value"
                      (ngModelChange)="storestate(val.state_name)">
                      {{val.state_name}}
                    </mat-checkbox>
                  </div>
                </div>
                <div class="row mt6">
                  <div class="col s12">
                    <div class="text-right">
                      <button [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent"
                        *ngIf="assign_login_data2.edit_survey=='1' && servey_detail.status == 'Active'"
                        (click)="areaUpdate()" [disabled]="savingFlag == true">
                        {{savingFlag == true ? 'Saving' : 'Update'}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 l8">
        <div class="card pb0">
          <div class="card-head">
            <h2>Survey Question & Answer</h2>
          </div>
          <div class="card-body">
            <div class="row cs-form">
              <div class="col s12">
                <mat-accordion class="cs-mat-accordion">
                  <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)"
                    *ngFor="let row of servey_detail.question_item_data; let i = index">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <div class="que">
                          <img src="assets/img/que.png" class="h10">
                          <span>{{i+1}}.</span>
                        </div>
                        {{row.ques_name}}- ({{row.type.replaceAll('_',' ') | titlecase}})
                        <!-- <a *ngIf="row.edit == 'Yes'" class="accordion-action default" (click)="editsurveyanswer('delete_question',row.id,row.ques_name,row.survey_id)"> 
                          <i class="material-icons">delete</i>
                        </a> -->
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="panel-body">
                      <div class="relative-block mt10" *ngIf="row.edit == 'Yes'">
                        <mat-form-field appearance="outline">
                          <input matInput class="pr150" placeholder="{{row.ques_name}}" name="question"
                            [(ngModel)]="row.ques_name" #question="ngModel" [readonly]="!edit_question">
                        </mat-form-field>
                        <!-- <a mat-raised-button color="primary" *ngIf="!edit_question && assign_login_data2.edit_survey=='1'" class="fix-btns" (click)="edit_question = !edit_question;">
                          <i class="material-icons font18">edit</i>
                        </a>
                        <a mat-raised-button color="success" title="Save" *ngIf="edit_question && assign_login_data2.edit_survey=='1'" (click)="edit_question = !edit_question ; editsurveyanswer('question',row.id, row.ques_name,row.survey_id)" class="fix-btns">
                          <i class="material-icons font18">save</i>
                        </a> -->
                      </div>
                      <div class="survey-ans" *ngIf="row.edit != 'Yes'">
                        <ol type="A">
                          <li *ngFor="let rowans of row.options">
                            {{rowans.answers}}
                          </li>
                        </ol>
                      </div>
                      <div class="survey-ans p4" *ngIf="row.edit == 'Yes'">
                        <ol type="A">
                          <li *ngFor="let rowans of row.options">
                            <div class="survey_ans">
                              <input type="text" placeholder='Test A' name="answer" [(ngModel)]="rowans.answers"
                                value="{{rowans}}" #answer="ngModel" [readonly]="!edit_answer">
                              <!-- <div class="edit-action">
                                <a class="edit" title="Edit" *ngIf="!edit_answer && assign_login_data2.edit_survey=='1'" (click)="edit_answer = !edit_answer">
                                  <i class="material-icons">edit</i>
                                </a>
                                <a class="edit" title="Save" *ngIf="edit_answer" (click)="edit_answer = !edit_answer;  editsurveyanswer('answer',rowans.id,rowans.answers,row.survey_id)">
                                  <i class="material-icons">save</i>
                                </a>
                                <a title="Delete" class="delete" (click)="editsurveyanswer('delete_answer',rowans.id,rowans.answers,row.survey_id)">
                                  <i class="material-icons">delete</i>
                                </a>
                              </div> -->
                            </div>
                          </li>
                        </ol>
                      </div>
                    </div>
                    <div class="survey-reply" *ngIf="row.options.length">
                      <ol type="A">
                        <li *ngFor="let rowans of row.options">
                          <div>
                            <a class="link-btn" (click)="openAnswerModal(row,'survey_answer_information')">
                              {{rowans.count}}
                            </a>
                          </div>
                          <div style="background-color:red" [style.width]="rowans.count + 'px'">
                          </div>
                        </li>
                      </ol>
                    </div>
                    <div class="survey-reply" *ngIf="!row.options.length">
                      <ol type="A">
                        <li>
                          <div>
                            <a class="link-btn" (click)="openAnswerModal(row,'survey_answer_information')">
                              {{row.filledAnswersCount}}
                            </a>
                          </div>
                          <div style="background-color:red" [style.width]="row.filledAnswersCount + 'px'">
                          </div>
                        </li>
                      </ol>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>