<div class="main-container">
  <div class="tools-container">
    <a mat-icon-button matTooltip="Back" (click)="back()">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>Add New User</h2>
  </div>

  <div class="container pt10 pl10 pr10 pb50">
    <form name="detail" #f="ngForm" validate (ngSubmit)=" f.valid && submitDetail()">
      <div class="row">
        <div class="col s12">
          <div class="card pb0">
            <div class="card-head">
              <h2>User Type</h2>
            </div>
            <div class="card-body cs-form">
              <div class="row">
                <div class="col s12 m6 l6">
                  <mat-radio-group class="example-section" id="user_type" name="user_type" [(ngModel)]="data.user_type">
                    <mat-radio-button class="wp30" color="primary" (change)="get_sales_user_type('', $event)"
                      value="Sales User">
                      Sales User
                    </mat-radio-button>
                    <mat-radio-button class="wp30" color="primary" (change)="get_sales_user_type('', $event);"
                      value="System User">
                      System User
                    </mat-radio-button>

                    <mat-radio-button class="wp30" color="primary" (change)="get_sales_user_type('', $event);"
                      value="Service Engineer">
                      Service Engineer
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="card-head mt16">
              <h2>Basic Information</h2>
            </div>
            <div class="card-body cs-form">
              <div class="row">
                <div class="col s12 m3 l3" *ngIf="data.user_type != 'Service Engineer'">

                  <div class="wp100">
                    <mat-form-field appearance="outline">
                      <mat-label>Select Designation</mat-label>
                      <mat-select name="user_role" placeholder="Role" [(ngModel)]="data.user_role" #user_role="ngModel"
                        (selectionChange)="data.user_role == '53' || (data.user_role == '58' || data.user_role == '59' || data.user_role == '61' || data.user_role == '52') ? getCompanyData():  data.user_role == '54' ? getCompanyData(): '' "
                        required>
                        <mat-option value="" disabled>Select Role</mat-option>
                        <mat-option *ngFor="let row of sales_type" value="{{row.id}}">{{row.role_name}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <div class="alert alert-danger" *ngIf="user_role.touched || f.submitted">
                      <p *ngIf="user_role.errors?.required">This field is required</p>
                    </div>
                  </div>
                  <!-- <a  class="add-item ml10" mat-raised-button (click)="openDialog()">
                      <i class="material-icons" >add</i>
                    </a> -->

                </div>
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : name.invalid } ">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Type Here ..." name="name" #name="ngModel" [(ngModel)]="data.name"
                      [ngClass]="{'has-error' : name.invalid } " required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="name.touched || f.submitted">
                    <p *ngIf="name.errors?.required">This field is required</p>
                  </div>
                </div>

                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : exist == true } ">
                    <mat-label>Mobile No</mat-label>
                    <input matInput placeholder="Type Here ..." name="mobileno" #mobileno="ngModel"
                      [(ngModel)]="data.mobileno" minlength="10" maxlength="10" min="0"
                      (keypress)="MobileNumber($event)" (input)="check_number()"
                      [ngClass]="{'has-error' : mobileno.invalid } " required>
                  </mat-form-field>

                  <div class="alert alert-danger" *ngIf="mobileno.touched || f.submitted">
                    <p *ngIf="mobileno.errors?.required">This field is required</p>
                    <p *ngIf="mobileno.errors?.maxlength || mobileno.errors?.minlength">Mobile No should be of 10
                      digits..</p>
                  </div>

                  <div class="alert alert-danger" *ngIf="exist">
                    Mobile no. already Exists.
                  </div>
                </div>

                <div class="col s12 m3 l3" *ngIf="data.user_type == 'Service Engineer'">
                  <mat-form-field appearance="outline">
                    <mat-label> Paytm Mobile No</mat-label>
                    <input matInput placeholder="Type Here ..." name="paytm_mobileno" #paytm_mobileno="ngModel"
                      [(ngModel)]="data.paytm_mobileno" minlength="10" maxlength="10" min="0"
                      (keypress)="paytmMobileNumber($event)" [ngClass]="{'has-error' : paytm_mobileno.invalid } "
                      required>
                  </mat-form-field>

                  <div class="alert alert-danger" *ngIf="paytm_mobileno.touched || f.submitted">
                    <p *ngIf="paytm_mobileno.errors?.required">This field is required</p>
                    <p *ngIf="paytm_mobileno.errors?.maxlength || paytm_mobileno.errors?.minlength">paytm Mobile No.
                      should be of 10 digits..</p>
                  </div>
                </div>

                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline">
                    <mat-label>Email ID</mat-label>
                    <input matInput placeholder="Type Here ..." type="email" name="email" #email="ngModel"
                      [(ngModel)]="data.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="email.touched || f.submitted">
                    <p *ngIf="email.errors?.pattern">This is not a valid Email ID !</p>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="data.user_type != 'Service Engineer'">
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline" [ngClass]="{'has-error' : employee_id.invalid } ">
                    <mat-label>Employee Code</mat-label>
                    <input matInput placeholder="Type Here ..." name="employee_id" #employee_id="ngModel"
                      [(ngModel)]="data.employee_id" [ngClass]="{'has-error' : employee_id.invalid } " required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="employee_id.touched || f.submitted">
                    <p *ngIf="employee_id.errors?.required">This field is required</p>
                  </div>

                </div>
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline">
                    <mat-label>Date of joining</mat-label>
                    <input name="D.O.J" matInput [matDatepicker]="pickers" placeholder="" [max]="maxDate"
                      #date_of_joining="ngModel" readonly [(ngModel)]="data.date_of_joining">
                    <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                    <mat-datepicker #pickers></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline">
                    <mat-label>Weekly Off</mat-label>
                    <mat-select name="weekly_off" #weekly_off="ngModel" [(ngModel)]="data.weekly_off">
                      <mat-option disabled="">Select Week</mat-option>
                      <mat-option value="Sunday">Sunday</mat-option>
                      <mat-option value="Monday">Monday</mat-option>
                      <mat-option value="Tuesday">Tuesday</mat-option>
                      <mat-option value="Wednesday">Wednesday</mat-option>
                      <mat-option value="Thursday">Thursday</mat-option>
                      <mat-option value="Friday">Friday</mat-option>
                      <mat-option value="Saturday">Saturday</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col s12 m3 l3" *ngIf="data.user_type == 'Sales User'">
                  <mat-form-field appearance="outline">
                    <mat-label>Reporting Manager</mat-label>
                    <mat-select name="assign_user" #assign_user="ngModel" [(ngModel)]="data.assign_user">
                      <mat-option>
                        <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.."
                          (keyup)="getReportManager($event.target.value)"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let list of report_manager;let index=index" value="{{list.id}}">
                        {{list.name}} - {{list.role_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col s12 m3 l3" *ngIf="data.user_type != 'Sales User'">
                  <mat-form-field appearance="outline">
                    <mat-label>Assign Users</mat-label>
                    <mat-select name="assign_system_user" #assign_system_user="ngModel" multiple
                      [(ngModel)]="data.assign_system_user" required>
                      <mat-option>
                        <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.."
                          (keyup)="getReportManager($event.target.value)"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let list of report_manager;let index=index" value="{{list.id}}">
                        {{list.name}} - {{list.role_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="alert alert-danger" *ngIf="assign_system_user.touched || f.submitted">
                    <p *ngIf="assign_system_user.errors?.required">This field is required</p>
                  </div>
                </div>
              </div>

              <!-- <div class="row" *ngIf="data.user_type == 'Sales User'"> -->

              <div class="row">
                <ng-container *ngIf="data.user_type == 'Sales User'">
                  <div class="col s12 m l3">
                    <mat-form-field appearance="outline">
                      <mat-label>Assign Brands</mat-label>
                      <mat-select name="brand" [(ngModel)]="data.brand" #brand="ngModel" multiple>
                        <mat-option *ngFor="let row of brandList"
                          value="{{row.brand_code}}">{{row.display_name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="f.submitted && brand?.invalid ">
                      This field is required
                    </div>
                  </div>
                  <div class="col s12 m l3">
                    <mat-form-field appearance="outline">
                      <mat-label>Order Type</mat-label>
                      <mat-select name="order_type" [(ngModel)]="data.order_type" #order_type="ngModel">
                        <mat-option value="Primary">Primary</mat-option>
                        <mat-option value="Secondary">Secondary</mat-option>
                        <mat-option value="Both">Both</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="f.submitted && order_type?.invalid ">
                      This field is required
                    </div>
                  </div>

                  <div class="col s12 m3 l3">
                    <mat-form-field appearance="outline">
                      <mat-label>Working State</mat-label>
                      <mat-select name="working_state" #working_state="ngModel" [(ngModel)]="data.working_state"
                      (ngModelChange)="multipleDistrict(data.working_state)"multiple>
                        <mat-option disabled="">Select Working State</mat-option>
                        <mat-option *ngFor="let row of states" value="{{row.state_name}}">
                          {{row.state_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <!-- <div class="alert alert-danger" *ngIf="working_state.touched || f.submitted">
                      <p *ngIf="working_state.errors?.required">This field is required</p>
                    </div> -->

                  </div>
                  <div class="col s12 m3 l3">
                    <mat-form-field appearance="outline">
                      <mat-label>Working district</mat-label>
                      <mat-select name="working_district" #working_district="ngModel" [(ngModel)]="data.working_district"
                        multiple>
                        <mat-option disabled="">Select Working district</mat-option>
                        <mat-option *ngFor="let row of multiple_district_list" value="{{row.district_name}}">
                          {{row.district_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <!-- <div class="alert alert-danger" *ngIf="working_district.touched || f.submitted">
                      <p *ngIf="working_state.errors?.required">This field is required</p>
                    </div> -->

                  </div>
                </ng-container>



                <div class="col s12 m l3" *ngIf="data.user_role == '54' || data.user_role == '52' || data.user_role == '53' ||  data.user_role == '61'">
                  <mat-form-field appearance="outline">
                    <mat-label>Dispatch Type</mat-label>
                    <mat-select name="company_dispatch_type" #company_dispatch_type="ngModel"
                      [(ngModel)]="data.company_dispatch_type" required
                      (selectionChange)="data.company_dispatch_type == 'Warehouse' ? getWarehouse(): ''">
                      <mat-option value="Company">Billing Company</mat-option>
                      <mat-option value="Warehouse">Warehouse</mat-option>

                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="company_dispatch_type.touched || f.submitted">
                    <p *ngIf="company_dispatch_type.errors?.required">This field is required</p>
                  </div>
                </div>

                <div class="col s12 m l3"
                  *ngIf="data.user_role == '58' || data.user_role == '59'|| data.user_role == '52' || data.user_role == '53' || data.user_role == '54' && data.company_dispatch_type == 'Company'">
                  <mat-form-field appearance="outline">
                    <mat-label>Assign Billing Company</mat-label>
                    <mat-select name="assign_company" #assign_company="ngModel" [(ngModel)]="data.assign_company"
                      required>
                      <mat-option *ngFor="let row of organisationData"
                        value="{{row.id}}">{{row.company_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="assign_company.touched || f.submitted">
                    <p *ngIf="assign_company.errors?.required">This field is required</p>
                  </div>
                </div>
                <div class="col s12 m l3" *ngIf="data.user_role == '54' || data.user_role == '53' || data.user_role == '52' && data.company_dispatch_type == 'Warehouse'">
                  <mat-form-field class="cs-input" appearance="outline">
                    <mat-label>Warehouse</mat-label>
                    <mat-select name="warehouse_id" placeholder="Warehouse" #warehouse_id="ngModel"
                      [(ngModel)]="data.warehouse_id" required>
                      <mat-option *ngFor="let row of warehouse" value="{{row.id}}">{{row.company_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="warehouse_id.touched || f.submitted">
                    <p *ngIf="warehouse_id.errors?.required">This field is required</p>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col s12 m6 l6">
                  <div class="row">
                    <div class="col s12 m6 l6">
                      <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <mat-select name="state" #state="ngModel" [(ngModel)]="data.state"
                          (selectionChange)="getDistrict(1)">
                          <mat-option disabled="">Select State</mat-option>
                          <mat-option *ngFor="let row of states" value="{{row.state_name}}">
                            {{row.state_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div class="alert alert-danger" *ngIf="state.touched || f.submitted">
                        <p *ngIf="state.errors?.required">This field is required</p>
                      </div>

                    </div>

                    <div class="col s12 m6 l6">
                      <mat-form-field appearance="outline">
                        <mat-label>District</mat-label>
                        <mat-select name="district" #district="ngModel" [(ngModel)]="data.district">
                          <mat-option disabled="">Select District</mat-option>
                          <mat-option *ngFor="let row of district_list" value="{{row.district_name}}">
                            {{row.district_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="alert alert-danger" *ngIf="district.touched || f.submitted">
                        <p *ngIf="district.errors?.required">This field is required</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m6 l6">
                      <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Type here..." name="city" #city="ngModel" [(ngModel)]="data.city">
                      </mat-form-field>
                    </div>

                    <div class="col s12 m6 l6">
                      <mat-form-field appearance="outline">
                        <mat-label>Pincode</mat-label>
                        <input matInput name="pincode" placeholder="Type Here ..." #pincode="ngModel" maxlength="6"
                          [(ngModel)]="data.pincode">
                      </mat-form-field>
                      <div class="alert alert-danger" *ngIf="pincode.touched || f.submitted">
                        <p *ngIf="pincode.errors?.required">This field is required</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l6">
                  <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput placeholder="Type Here ..." name="address" #address="ngModel"
                      [(ngModel)]="data.address" class="h80"></textarea>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="address.touched || f.submitted">
                    <p *ngIf="address.errors?.required">This field is required</p>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="text-right">
            <button [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent" type="submit"
              [disabled]="savingFlag == true || exist">
              {{savingFlag == true ? 'Saving' : 'Save'}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>