<div class="navigation">
    <div class="nav-container" *ngIf="login_data.user_type!='DMS'">
        <ul>
            <li *ngIf="login_data.view_dashboard=='1'">
                <a mat-button (click)="toggleDropdown(0);clearFilter()" routerLink="/dashboard"
                    routerLinkActive="active"><i class="material-icons ">dashboard</i>Dashboard </a>
            </li>

            <li *ngIf="login_data.view_enquiry=='1'">
                <a mat-button (click)="toggleDropdown(0);clearFilter()" routerLink="/lead-list"
                    routerLinkActive="active">
                    <i class="material-icons ">contact_support</i>Enquiry
                    <span class="nav-counter"
                        *ngIf="serve.counterArray.enquiry > 0">{{serve.counterArray.enquiry}}</span>
                </a>
            </li>

            <li class="dropdown" *ngIf="login_data.view_influencer_network=='1'">
                <a mat-button (click)="clearFilter();serve.influencer_netwrk();  toggleDropdown(4);"
                    [ngClass]="{'active':leadactive }"><i class="material-icons ">hub</i>Influencer Network </a>
                <ul>
                    <li *ngFor="let row of serve.InfluenceArray">
                        <a mat-button (click)="clearFilter()" routerLink="influencer/{{row.type}}/{{row.module_name}}/"
                            routerLinkActive="active">
                            {{row.module_name}}
                            <span class="nav-counter" *ngIf="row.dr_count > 0 ">{{row.dr_count}}</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="dropdown" *ngIf="login_data.view_customer_network=='1'">
                <a mat-button (click)="toggleDropdown(1);serve.dr_list(); clearFilter()"
                    [ngClass]="{'active':distactive }"><i class="material-icons ">people_alt</i> Customer Network</a>
                <ul>
                    <!-- <li *ngFor="let row of serve.drArray">
                <a mat-button (click)="clearFilter();"
                routerLink="/distribution-list/{{row.type}}/{{row.module_name}}" routerLinkActive="active">
                {{row.module_name}}
                <span class="nav-counter" *ngIf="row.dr_count > 0 ">{{row.dr_count}}</span>
            </a>
        </li> -->

                    <li *ngIf="login_data.view_channel_partner=='1'">
                        <a mat-button (click)="clearFilter();"
                            routerLink="/distribution-list/{{serve.drArray[0].type}}/{{serve.drArray[0].module_name}}"
                            routerLinkActive="active">
                            {{serve.drArray[0].module_name}}
                            <span class="nav-counter"
                                *ngIf="serve.drArray[0].dr_count > 0 ">{{serve.drArray[0].dr_count}}</span>
                        </a>
                    </li>
                    <li *ngIf="login_data.view_dealer=='1'">
                        <a mat-button (click)="clearFilter();"
                            routerLink="/distribution-list/{{serve.drArray[1].type}}/{{serve.drArray[1].module_name}}"
                            routerLinkActive="active">
                            {{serve.drArray[1].module_name}}
                            <span class="nav-counter"
                                *ngIf="serve.drArray[1].dr_count > 0 ">{{serve.drArray[1].dr_count}}</span>
                        </a>
                    </li>
                    <li *ngIf="login_data.view_direct_dealers=='1'">
                        <a mat-button (click)="clearFilter();"
                            routerLink="/distribution-list/{{serve.drArray[2].type}}/{{serve.drArray[2].module_name}}"
                            routerLinkActive="active">
                            {{serve.drArray[2].module_name}}
                            <span class="nav-counter"
                                *ngIf="serve.drArray[2].dr_count > 0">{{serve.drArray[2].dr_count}}</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="dropdown" *ngIf="login_data.view_orders=='1'">
                <a mat-button (click)="clearFilter(); toggleDropdown(2); " [ngClass]="{'active':ordersactive}"><i
                        class="material-icons ">shopping_cart</i>Orders</a>
                <ul>
                    <li *ngIf=" login_data.view_primary_orders=='1'">
                        <a mat-button (click)="clearFilter();" routerLink="/order-list" routerLinkActive="active">
                            Primary Order
                            <span class="nav-counter "
                                *ngIf="serve.counterArray.primary_order > 0">{{serve.counterArray.primary_order}}</span>
                        </a>
                    </li>
                    <li *ngIf="login_data.view_secondary_orders=='1'">
                        <a mat-button (click)="clearFilter()" routerLink="/secondary-order-list"
                            routerLinkActive="active">
                            Secondary Order
                            <span class="nav-counter"
                                *ngIf="serve.counterArray.secondary_order > 0">{{serve.counterArray.secondary_order}}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" *ngIf="login_data.id =='1' || login_data.view_accounts=='1'">
                <a mat-button (click)="toggleDropdown(6);clearFilter()" [ngClass]="{'active':accountactive}"><i
                        class="material-icons ">receipt_long</i> Accounts </a>
                <ul>
                    <li *ngIf=" login_data.view_invoice=='1'">
                        <a mat-button routerLink="/billing" routerLinkActive="active" (click)="clearFilter()">
                            Ledger
                        </a>
                    </li>
                    <li *ngIf="login_data.view_payment=='1'">
                        <a mat-button routerLink="/invoice" routerLinkActive="active" (click)="clearFilter()">
                            Invoice
                        </a>
                    </li>
                    <!-- <li>
                <a mat-button routerLink="/credit-notes" routerLinkActive="active" (click)="clearFilter()">
                    Credit Note
                </a>
            </li> -->
                </ul>
            </li>
            <li
                *ngIf="login_data.view_dispatch== '1' || login_data.view_dispatch_packing== '1' || login_data.view_dispatch_billing == '1' || login_data.view_dispatch_guard== '1' ">
                <a mat-button routerLink="/company-dispatch" (click)="toggleDropdown(0);clearFilter()"
                    routerLinkActive="active">
                    <i class="material-icons ">local_shipping</i>
                    Dispatch
                </a>
            </li>

            <!-- <li *ngIf="login_data.view_manual_dispatch== '1' ">
    <a mat-button routerLink="/manual-dispatch" (click)="toggleDropdown(0);clearFilter()"
    routerLinkActive="active">
    <i class="material-icons ">local_shipping</i>
    Manual Dispatch
</a>
</li> -->

            <!-- <li *ngIf="login_data.view_sales_return== '1' ">
                <a mat-button routerLink="/sales-return" (click)="toggleDropdown(0);clearFilter()"
                    routerLinkActive="active">
                    <i class="material-icons ">update</i>
                    Sales Return
                </a>
            </li> -->



            <li *ngIf="login_data.view_attendence=='1'">
                <a mat-button routerLink="/attendance" (click)="clearFilter(); toggleDropdown(0);"
                    routerLinkActive="active">
                    <i class="material-icons ">insert_invitation</i>
                    Attendance
                    <span class="nav-counter"
                        *ngIf="serve.counterArray.today_attendance > 0">{{serve.counterArray.today_attendance > 0 ?
                        serve.counterArray.today_attendance :''}}</span>
                </a>
            </li>

            <li *ngIf="login_data.view_check_in=='1'">
                <a mat-button routerLink="/checkin" routerLinkActive="active"
                    (click)="clearFilter(); toggleDropdown(0);">
                    <i class="material-icons ">my_location</i>
                    Check In
                    <span class="nav-counter"
                        *ngIf="serve.counterArray.today_checkin > 0">{{serve.counterArray.today_checkin > 0 ?
                        serve.counterArray.today_checkin : ''}}</span>
                </a>
            </li>

            <li *ngIf="login_data.view_leaves=='1'">
                <a mat-button (click)="clearFilter(); toggleDropdown(0);" routerLink="/leave-list"
                    routerLinkActive="active">
                    <i class="material-icons ">exit_to_app</i>
                    Leave
                    <span class="nav-counter"
                        *ngIf="serve.counterArray.pending_leaves > 0">{{serve.counterArray.pending_leaves > 0 ?
                        serve.counterArray.pending_leaves : ''}}</span>
                </a>
            </li>

            <li *ngIf="login_data.view_travel_plan=='1'">
                <a mat-button routerLink="/travel-list" routerLinkActive="active"
                    (click)="clearFilter(); toggleDropdown(0);">
                    <i class="material-icons ">directions_transit</i>
                    Travel Plan
                    <span class="nav-counter"
                        *ngIf="serve.counterArray.pending_travel_plan > 0">{{serve.counterArray.pending_travel_plan > 0
                        ? serve.counterArray.pending_travel_plan : ''}}</span>
                </a>
            </li>

            <li *ngIf="login_data.view_follow_up=='1'">
                <a mat-button routerLink="/followup-list" routerLinkActive="active" (click)="clearFilter()">
                    <i class="material-icons ">add_ic_call</i>
                    Follow Up
                    <span class="nav-counter"
                        *ngIf="serve.counterArray.pending_followup > 0">{{serve.counterArray.pending_followup > 0 ?
                        serve.counterArray.pending_followup : ''}}</span>
                </a>
            </li>

            <li *ngIf="login_data.view_announcement=='1'">
                <a mat-button routerLink="/announcement-list" routerLinkActive="active" (click)="clearFilter()">
                    <i class="material-icons ">campaign</i>
                    Announcement
                    <span class="nav-counter"
                        *ngIf="serve.counterArray.announcementList > 0">{{serve.counterArray.announcementList > 0 ?
                        serve.counterArray.announcementList : ''}}</span>
                </a>
            </li>

            <li *ngIf="login_data.view_expense=='1'">
                <a mat-button routerLink="/expense-list" routerLinkActive="active" (click)="clearFilter()">
                    <i class="material-icons ">account_balance_wallet</i>
                    Expense
                    <span class="nav-counter"
                        *ngIf="serve.counterArray.pending_expense > 0">{{serve.counterArray.pending_expense > 0 ?
                        serve.counterArray.pending_expense : ''}}</span>
                </a>
            </li>

            <li *ngIf="login_data.view_event_plan=='1'">
                <a mat-button routerLink="/contractor-meet" routerLinkActive="active" (click)="clearFilter()">
                    <i class="material-icons ">groups</i>
                    Event Plan
                    <span class="nav-counter" *ngIf="serve.counterArray.event > 0">{{serve.counterArray.event > 0 ?
                        serve.counterArray.event : ''}}</span>
                </a>
            </li>
            <li *ngIf="login_data.view_pop_gift=='1'">
                <a mat-button routerLink="/pop-gift-list" routerLinkActive="active" (click)="clearFilter()">
                    <i class="material-icons ">card_giftcard</i>
                    Pop & Gift
                </a>
            </li>

            <li *ngIf="login_data.view_survey=='1'">
                <a mat-button routerLink="/survey-list" routerLinkActive="active" (click)="clearFilter()">
                    <i class="material-icons ">article</i>
                    Survey
                    <span class="nav-counter" *ngIf="serve.counterArray.survey > 0">{{serve.counterArray.survey > 0 ?
                        serve.counterArray.survey : ''}}</span>

                </a>
            </li>
            <li *ngIf="login_data.view_gift=='1'">
                <a mat-button routerLink="/gift-list" routerLinkActive="active" (click)="clearFilter()">
                    <i class="material-icons ">card_giftcard</i>
                    Gift Gallery
                    <span class="nav-counter"
                        *ngIf="serve.counterArray.gift_gallery > 0">{{serve.counterArray.gift_gallery > 0 ?
                        serve.counterArray.gift_gallery : ''}}</span>

                </a>
            </li>
            <li *ngIf="login_data.view_bonus_points=='1'">
                <a mat-button (click)="clearFilter()" routerLink="/bonus-list" routerLinkActive="active">
                    <i class="material-icons">payments</i>
                    Bonus Points
                </a>
            </li>
            <li *ngIf="login_data.view_coupon_code=='1'">
                <a mat-button (click)="clearFilter()" routerLink="/coupon-list" routerLinkActive="active">
                    <i class="material-icons">qr_code</i>
                    Coupon Codes
                </a>
            </li>

            <li *ngIf="login_data.view_coupon_code=='1' || login_data.add_coupon_code=='1' ">
                <a mat-button routerLink="/reprint" (click)="toggleDropdown(0)" routerLinkActive="active">
                    <i class="material-icons ">print</i>
                    Reprint Coupon
                </a>
            </li>

            <!-- <li *ngIf="login_data.view_redeem_request=='1'">
                            <a mat-button (click)="clearFilter()" routerLink="/redeem-request" routerLinkActive="active">
                                <i class="material-icons">redeem</i>
                                Redeem Request
                            </a>
                        </li> -->
            <li class="dropdown" *ngIf="login_data.id =='1' || login_data.view_redeem_request=='1'">
                <a mat-button (click)="toggleDropdown(6);clearFilter()" [ngClass]="{'active':accountactive}"><i
                        class="material-icons">redeem</i>Redeem Request</a>
                <ul>
                    <li>
                        <a mat-button routerLink="/redeem-request/Bank" routerLinkActive="active"
                            (click)="clearFilter()">
                            Bank Request
                        </a>
                    </li>
                    <li>
                        <a mat-button routerLink="/redeem-request/Paytm" routerLinkActive="active"
                            (click)="clearFilter()">
                            Paytm Request
                        </a>
                    </li>
                    <li>
                        <a mat-button routerLink="/redeem-request/Khalti" routerLinkActive="active"
                            (click)="clearFilter()">
                            Khalti Request
                        </a>
                    </li>
                </ul>
            </li>

            <li *ngIf="login_data.view_task=='1'">
                <a mat-button (click)="clearFilter()" routerLink="/task-list" routerLinkActive="active">
                    <i class="material-icons">assignment_add</i>
                    Task
                </a>
            </li>

            <li *ngIf="login_data.view_support=='1'">
                <a (click)="clearFilter()" mat-button routerLink="/support" routerLinkActive="active">
                    <i class="material-icons">help</i>
                    Support
                </a>
            </li>

            <li class="dropdown" *ngIf="login_data.view_target=='1' ">

                <a mat-button (click)=toggleDropdown(9) [ngClass]="{'active':targetactive}"><i
                        class="material-icons ">trending_up</i> Target </a>
                <ul>
                    <li *ngIf=" login_data.view_employee_target=='1'">
                        <a mat-button (click)="clearFilter()" routerLink="/userview-target" routerLinkActive="active">
                            Employee Target

                            <!-- <span class="nav-counter ">{{serve.counterArray.primary_order}}</span> -->
                        </a>
                    </li>
                    <li *ngIf="login_data.view_distributor_target=='1'">
                        <a mat-button (click)="clearFilter()" routerLink="/distributor-target"
                            routerLinkActive="active">
                            Distributor Target
                        </a>
                    </li>
                    <!-- <li *ngIf="login_data.view_dis_target=='1'">
                            <a mat-button routerLink="/secondary-target" routerLinkActive="active">
                                Secondary Target
                            </a>
                        </li> -->

                </ul>
            </li>

            <li class="dropdown" *ngIf="login_data.view_master=='1'">
                <a mat-button (click)=toggleDropdown(3) [ngClass]="{'active':masteractive}"><i
                        class="material-icons ">star_rate</i>Masters </a>
                <ul>
                    <li *ngIf="login_data.view_category=='1'">
                        <a mat-button routerLink="/segment-list" routerLinkActive="active" (click)="clearFilter()">
                            Category
                            <span class="nav-counter"
                                *ngIf="serve.counterArray.segment > 0">{{serve.counterArray.segment}}</span>
                        </a>
                    </li>
                    <li *ngIf="login_data.view_sub_category=='1'">
                        <a mat-button routerLink="/subcategory" routerLinkActive="active" (click)="clearFilter()">
                            Sub Category
                        </a>
                    </li>
                    <li *ngIf="login_data.view_leave_master=='1'">
                        <a mat-button routerLink="/leave-master-list" routerLinkActive="active" (click)="clearFilter()">
                            Leave Master
                        </a>
                    </li>
                    <li *ngIf="login_data.view_products=='1' ">
                        <a mat-button routerLink="/product-list" routerLinkActive="active" (click)="clearFilter()">
                            Products
                            <span class="nav-counter"
                                *ngIf="serve.counterArray.product > 0">{{serve.counterArray.product}}</span>
                        </a>
                    </li>
                    <li *ngIf="login_data.view_pdf=='1' ">
                        <a mat-button routerLink="/catalogue" routerLinkActive="active" (click)="clearFilter()">
                            PDF Catalogue
                        </a>
                    </li>
                    <li *ngIf="login_data.view_designation=='1'">
                        <a mat-button routerLink="/user-designation" routerLinkActive="active" (click)="clearFilter()">
                            Designation & Role
                        </a>
                    </li>
                    <li *ngIf="login_data.view_users=='1' ">
                        <a mat-button routerLink="/sale-user-list" routerLinkActive="active" (click)="clearFilter()">
                            Users
                            <span class="nav-counter"
                                *ngIf="serve.counterArray.active_user > 0">{{serve.counterArray.active_user > 0 ?
                                serve.counterArray.active_user : ''}}</span>
                        </a>
                    </li>
                    <li *ngIf="login_data.view_customer_category=='1' ">
                        <a mat-button routerLink="/customer-category" routerLinkActive="active" (click)="clearFilter()">
                            Customer Category
                        </a>
                    </li>
                    <li *ngIf="login_data.view_infulencer_category=='1' ">
                        <a mat-button routerLink="/influencer-user-list" routerLinkActive="active"
                            (click)="clearFilter()">
                            Influencer Category
                        </a>
                    </li>
                    <li *ngIf="login_data.view_point_category=='1' ">
                        <a mat-button routerLink="/point-list" routerLinkActive="active" (click)="clearFilter()">
                            Point Category
                        </a>
                    </li>
                    <li *ngIf="login_data.view_holiday=='1' ">
                        <a mat-button routerLink="/holiday-list" routerLinkActive="active" (click)="clearFilter()">
                            Holiday
                        </a>
                    </li>
                    <li *ngIf="login_data.view_gallery=='1' ">
                        <a mat-button routerLink="/banner-list" routerLinkActive="active" (click)="clearFilter()">
                            Gallery
                        </a>
                    </li>
                    <li *ngIf="login_data.view_referral_point_master=='1' ">
                        <a mat-button routerLink="/point-master" routerLinkActive="active" (click)="clearFilter()">
                            Referral Point Master
                        </a>
                    </li>
                    <li *ngIf="login_data.view_allowance_master=='1' ">
                        <a mat-button routerLink="/allowances" routerLinkActive="active" (click)="clearFilter()">
                            Allowance Master
                        </a>
                    </li>

                </ul>
            </li>

            <li class="dropdown" *ngIf="login_data.view_reports=='1'">
                <a mat-button (click)="toggleDropdown(7);clearFilter()" [ngClass]="{'active':reportactive}"><i
                        class="material-icons ">receipt_long</i>Report</a>
                <ul>
                    <li *ngIf="login_data.view_product_wise_secondary_report=='1'">
                        <a mat-button routerLink="/report-list/product-wise-secondary-report-list"
                            routerLinkActive="active" (click)="clearFilter()">
                            Product Wise Secondary Report
                        </a>
                    </li>

                    <li *ngIf="login_data.view_primary_target_report=='1'">
                        <a mat-button routerLink="/report-list/primary-target-report" routerLinkActive="active"
                            (click)="clearFilter();">
                            Primary Target Report
                        </a>

                    </li>

                    <li *ngIf="login_data.view_secondary_target_report=='1'">
                        <a mat-button routerLink="/report-list/secondary-target-report" routerLinkActive="active"
                            (click)="clearFilter()">
                            Secondary Target Report
                        </a>
                    </li>

                    <li *ngIf="login_data.view_channel_partner_sale_report=='1'">
                        <a mat-button routerLink="/report-list/c-p-sales-report" routerLinkActive="active"
                            (click)="clearFilter()">
                            C P sales report
                        </a>
                    </li>

                    <li *ngIf="login_data.view_user_work_report=='1'">
                        <a mat-button routerLink="/report-list/user-work-report" routerLinkActive="active"
                            (click)="clearFilter()">
                            User Work report
                        </a>
                    </li>

                    <li *ngIf="login_data.view_travel_plan_mis_report=='1'">
                        <a mat-button (click)="clearFilter(); openDialog('tavel_plan')">
                            Travel Plan Mis report
                        </a>
                    </li>
                    <li *ngIf="login_data.view_travel_plan_mis_report=='1'">
                        <a mat-button (click)="clearFilter(); openDialog('month_wise_secondary_sale')">
                            Month Wise Secondary Sale report
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
    <div class="nav-container" *ngIf="login_data.user_type=='DMS'">
        <ul>
            <li>
                <a (click)="gotodmspages('Profile');clearFilter();tabType='Profile'" mat-button
                    [ngClass]="{'active' :tabType== 'Profile'}">
                    <i class="material-icons">person</i>
                    Basic Detail
                </a>
            </li>
            <li>
                <a (click)="clearFilter();gotodmspages('Retailer');tabType='Retailer'" mat-button
                    [ngClass]="{'active' :tabType== 'Retailer'}">
                    <i class="material-icons">people_alt</i>
                    Dealer
                </a>
            </li>
            <li>
                <a (click)="clearFilter();gotodmspages('Checkin');tabType='Checkin'" mat-button
                    [ngClass]="{'active' :tabType== 'Checkin'}">
                    <i class="material-icons">my_location</i>
                    Checkin
                </a>
            </li>
            <!-- <li>
            <a (click)="clearFilter();gotodmspages('Segment');tabType='Segment'" mat-button  [ngClass]="{'active' :tabType== 'Segment'}" >
                <i class="material-icons">discount</i>
                Segment Discount
            </a>
        </li> -->
            <li>
                <a (click)="clearFilter();gotodmspages('Primary Order');tabType='Primary Order'" mat-button
                    [ngClass]="{'active' :tabType== 'Primary Order'}">
                    <i class="material-icons">shopping_cart</i>
                    Primary Order
                </a>
            </li>
            <li>
                <a (click)="clearFilter();gotodmspages('Secondary Order');tabType='Secondary Order'" mat-button
                    [ngClass]="{'active' :tabType== 'Secondary Order'}">
                    <i class="material-icons">shopping_cart</i>
                    Secondary Order
                </a>
            </li>

            <li>
                <a (click)="clearFilter();gotodmspages('Target');tabType='Target'" mat-button
                    [ngClass]="{'active' :tabType== 'Target'}">
                    <i class="material-icons">trending_up</i>
                    Target
                </a>
            </li>
            <li>
                <a (click)="clearFilter();gotodmspages('Ledger');tabType='Ledger'" mat-button
                    [ngClass]="{'active' :tabType== 'Ledger'}">
                    <i class="material-icons">receipt_long</i>
                    Account Ledger
                </a>
            </li>
        </ul>

    </div>
</div>