html, body { height: 100%; }

@font-face
{
  font-family: 'Roboto', sans-serif;
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format(".ttf");
  
  // src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format(".ttf");

  font-weight:500;
  font-style:normal;
  font-display:swap
}

*
{
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,span,ul,li
{
  margin: 0px;
}

.thin{font-weight: 100;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.medium{font-weight: 500;}
.bold{font-weight: 700;}
.extrabold{font-weight: 900;}


ul, li
{
  list-style: none;
}

.df
{
  display: flex !important;
}
.db
{
  display: block !important;
}

.ac
{
  align-items: center !important;
}

.afs
{
  align-items: flex-start !important;
}

.fdc
{
  flex-direction: column !important;
}

.afe
{
  align-items: flex-end !important;
}
.afs
{
  align-items: flex-start !important;
}
.flex-gap-10{
  grid-column-gap: 10px;
}
.flex-gap-5{
  grid-column-gap: 5px;
}
.jsb
{
  justify-content: space-between;
}

.jse
{
  justify-content: space-evenly;
}

.jc
{
  justify-content: center !important;
}
.jfe
{
  justify-content: flex-end !important;
}
.jfs
{
  justify-content: flex-start !important;
}

.left-auto
{
  margin-left: auto !important;
}

.text-center
{
  text-align: center !important;
}
.text-right
{
  text-align: right !important;
}

.text-left
{
  text-align: left !important;
}

.padding5
{
  padding: 5px !important;
}
.padding10
{
  padding: 10px !important;
}

.padding0
{
  padding: 0px !important;
}
.margin0
{
  margin: 0px !important;
}

.left-right-5
{
  margin: 0px -5px;
}
.left-right-10
{
  margin: 0px -10px;
}

.row-mb0
{
  margin-bottom: 0px;
}

.col-pdl0
{
  padding-left: 0px !important;
}


.no-shadow
{
  box-shadow: none !important;
}

.bdr-right0
{
  border-right: 0px !important;
}
.bdr-left0
{
  border-left: 0px !important;
}
.bdr0
{
  border: 0px !important;
}
.no-padding
{
  padding: 0px !important;
}

.hidden{overflow: hidden !important;}

.select-none
{
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none
}

.dsnone
{
  display: none !important;
}

.aw
{
  width: auto !important;
}

.radius20
{
  border-radius: 20px !important;
}
.radius10
{
  border-radius: 10px !important;
}

.relative
{
  position: relative !important;
}
.index1
{
  z-index: 1 !important;
}

.af-none
{
  &:after, &:before
  {
    background: none !important;
    content: '' !important;
  }
}
.sticky-col
{
  position: sticky;
  top: 0px;
  left: 0px;
}

.clch
{
  height: calc(100vh - 320px);
  overflow: auto;
}

.pointer
{
  cursor: pointer;
}

.max-content
{
  width: max-content !important;
}
.focus
{
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0 2px rgba(39, 44, 128, 0.2);
}

.darkMode{display: none;}
.lightmode{display: inherit;}

button, a, div{
  &:focus{outline: none;}
}

.red-clr{color: var(--danger);}
.green-clr{color: var(--success);}
.yellow-clr{color: var(--warning);}
.sky-clr{color: #56adde;}



body::-webkit-scrollbar,
div::-webkit-scrollbar,
ul::-webkit-scrollbar,
textarea::-webkit-scrollbar  
{
  width: 6px; 
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb
{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.pulse {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: inherit;
      border-radius: inherit;
      transition: opacity .3s, transform .3s;
      animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
      z-index: -1;
    }
  
    overflow: visible;
    position: relative;
  }
  
  @keyframes pulse-animation {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0;
      transform: scale(1.5);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  


/*  CSS Classes */

// ============================================== MARGIN-LEFT_PROPERTIES
.ml0{margin-left: 0px !important;}
@for $i from 1 through 300
{
  .ml#{$i} {margin-left: 1px * $i !important}
}



// ============================================== MARGIN-RIGHT_PROPERTIES
.mr0{margin-right: 0px !important;}
@for $i from 1 through 100
{
  .mr#{$i} {margin-right: 1px * $i !important}
}

// ============================================== MARGIN-TOP_PROPERTIES
.mt0{margin-top: 0px !important;}
@for $i from 1 through 150
{
  .mt#{$i} {margin-top: 1px * $i !important}
}

// ============================================== MARGIN-BOTTOM_PROPERTIES
.mb0{margin-bottom: 0px !important;}
@for $i from 1 through 100
{
  .mb#{$i} {margin-bottom: 1px * $i !important}
}


// ============================================== PADDING-LEFT_PROPERTIES
.pl0{padding-left: 0px !important;}
@for $i from 1 through 500
{
  .pl#{$i} {padding-left: 1px * $i !important}
}

// ============================================== PADDING-RIGHT_PROPERTIES
.pr0{padding-right: 0px !important;}
@for $i from 1 through 100
{
  .pr#{$i} {padding-right: 1px * $i !important}
}

// ============================================== PADDING-TOP_PROPERTIES
.pt0{padding-top: 0px !important;}
@for $i from 1 through 150
{
  .pt#{$i} {padding-top: 1px * $i !important}
}

// ============================================== PADDING_BOTTOM_PROPERTIES
.pb0{padding-bottom: 0px !important;}
@for $i from 1 through 100
{
  .pb#{$i} {padding-bottom: 1px * $i !important}
}

// ============================================== FONT_PROPERTIES
@for $i from 1 through 50
{
  .font#{$i} {font-size: 1px * $i !important; &:before{font-size: 1px * $i !important}}
}

// ============================================== WIDTH_PROPERTIES
@for $i from 1 through 600
{
  .w#{$i} {width: 1px * $i !important}
}

// ============================================== WIDTH_PERSENTENCE_PROPERTIES
@for $i from 1 through 100
{
  .wp#{$i} {width: 1% * $i !important}
}

// ============================================== MIN_WIDTH_PROPERTIES
@for $i from 1 through 1500
{
  .mmw#{$i} {min-width: 1px * $i !important}
}

// ============================================== MAX_WIDTH_PROPERTIES
@for $i from 1 through 1500
{
  .mmw#{$i} {max-width: 1px * $i !important}
}

// ============================================== MIN_WIDTH_PROPERTIES
@for $i from 1 through 1500
{
  .mw#{$i} {min-width: 1px * $i !important}
}

// ============================================== HEIGHT_PROPERTIES
@for $i from 0 through 800
{
  .h#{$i} {height: 1px * $i !important}
}

// ============================================== HEIGHT_PROPERTIES
@for $i from 0 through 100
{
  .hp#{$i} {height: 1% * $i !important}
}

// ============================================== LINE_HEIGHT_PROPERTIES

@for $i from 1 through 50
{
  .lh#{$i} {line-height: 1px * $i !important}
}

