<div class="main-container">
  <!-- <app-loader *ngIf="loader"></app-loader> -->
  <div class="tools-container">
    <a mat-icon-button matTooltip="Back" routerLink="/point-list">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>{{point_category_id ? 'Edit' : 'Add New'}} Point Category</h2>
  </div>
  <div class="container pt10 pl10 pr10 pb50">
    <form #f="ngForm" (ngSubmit)=" f.valid && submitDetail()">
      <div class="row">
        <div class="col s12">
          <div class="card pb0">
            <div class="card-head">
              <h2>Basic Information</h2>
            </div>
            <div class="card-body cs-form">
              <div class="row">
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline">
                    <mat-label>Category Type</mat-label>
                    <mat-select name="point_type" [(ngModel)]="data.point_type" #point_type="ngModel"
                      [ngClass]="{'has-error' : point_type.invalid } " required>
                      <mat-option value="" disabled>Select</mat-option>
                      <!-- <mat-option value="Master Box">Box</mat-option> -->
                      <mat-option value="Item Box">Product</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="point_type.touched || f.submitted">
                    <p *ngIf="point_type.errors?.required">This field is required</p>
                  </div>
                </div>
                <div class="col s12 m3 l3">
                  <mat-form-field appearance="outline">
                    <mat-label>Category Name</mat-label>
                    <input matInput placeholder="Type Here ..." name="point_category_name"
                      #point_category_name="ngModel" [(ngModel)]="data.point_category_name" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="point_category_name.touched || f.submitted">
                    <p *ngIf="point_category_name.errors?.required">This field is required</p>
                  </div>
                </div>
                <ng-container *ngIf="data.point_type == 'Master Box'">
                  <div class="col s12 m3 l3">
                    <mat-form-field appearance="outline">
                      <mat-label>Scanning Point</mat-label>
                      <input matInput placeholder="Type Here ..." name="master_point" #master_point="ngModel"
                        [(ngModel)]="data.master_point" onkeypress="return event.charCode>=48 && event.charCode<=57"
                        required>
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="master_point.touched || f.submitted">
                      <p *ngIf="master_point.errors?.required">This field is required</p>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="data.point_type == 'Item Box'">
                  <div class="col s12 m3 l3">
                    <mat-form-field appearance="outline">
                      <mat-label>Plumber Point</mat-label>
                      <input matInput placeholder="Type Here ..." name="influencer_point" #influencer_point="ngModel"
                        [(ngModel)]="data.influencer_point"
                        onkeypress="return event.charCode>=48 && event.charCode<=57">
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="influencer_point.touched || f.submitted">
                      <p *ngIf="influencer_point.errors?.required">This field is required</p>
                    </div>
                  </div>

                  <div class="col s12 m3 l3">
                    <mat-form-field appearance="outline">
                      <mat-label>Dealer Point</mat-label>
                      <input matInput placeholder="Type Here ..." name="influencer_transfer_point"
                        #influencer_transfer_point="ngModel" [(ngModel)]="data.influencer_transfer_point"
                        onkeypress="return event.charCode>=48 && event.charCode<=57">
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="influencer_transfer_point.touched || f.submitted">
                      <p *ngIf="influencer_transfer_point.errors?.required">This field is required</p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="text-right">
            <button [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent" type="submit"
              [disabled]="savingFlag == true">
              {{(savingFlag == true || point_category_id) ? (point_category_id ? 'Update' : 'Saving') : 'Save'}}

            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>