
<div class="main-container" >
  <div class="tools-container">
    <h2>Point Master Details</h2>
  </div>
  
  <div class="container pt10 pl10 pr10 pb50" >
    <form #f="ngForm" (ngSubmit)=" f.valid && submitDetail()">
      <div class="row">
        <div class="col s12">
          <div class="card pb0">
            <div class="card-head">
              <h2>Update Point</h2>
            </div>
            <div class="card-body cs-form">
              <div class="row">
                <div class="col s12 m3 l3" >
                  <mat-form-field  appearance="outline">
                    <mat-label>Welcome Point</mat-label>
                    <input matInput placeholder="Type Here ..."  name="welcome_point" #welcome_point="ngModel"
                    [(ngModel)]="data.welcome_point"  (keypress)="MobileNumber($event)" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="welcome_point.touched || f.submitted">
                    <p *ngIf="welcome_point.errors?.required">This field is required</p>
                  </div>
                </div>
                <div class="col s12 m3 l3" >
                  <mat-form-field  appearance="outline">
                    <mat-label>Birthday Point</mat-label>
                    <input matInput placeholder="Type Here ..."  name="birthday_point" #birthday_point="ngModel"
                    [(ngModel)]="data.birthday_point"  (keypress)="MobileNumber($event)" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="birthday_point.touched || f.submitted">
                    <p *ngIf="birthday_point.errors?.required">This field is required</p>
                  </div>
                </div>
                <div class="col s12 m3 l3" >
                  <mat-form-field  appearance="outline">
                    <mat-label>Anniversary Point</mat-label>
                    <input matInput placeholder="Type Here ..."  name="anniversary_point" #anniversary_point="ngModel"
                    [(ngModel)]="data.anniversary_point"  (keypress)="MobileNumber($event)" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="anniversary_point.touched || f.submitted">
                    <p *ngIf="anniversary_point.errors?.required">This field is required</p>
                  </div>
                </div>
                
                <div class="col s12 m3 l3" >
                  <mat-form-field  appearance="outline">
                    <mat-label>Registration Referral Point</mat-label>
                    <input matInput placeholder="Type Here ..."  name="registration_refferal" #registration_refferal="ngModel"
                    [(ngModel)]="data.registration_refferal"  (keypress)="MobileNumber($event)" required>
                  </mat-form-field>
                  <div class="alert alert-danger" *ngIf="registration_refferal.touched || f.submitted">
                    <p *ngIf="registration_refferal.errors?.required">This field is required</p>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col s12 m3 l3" >
                  <mat-form-field  appearance="outline">
                    <mat-label>Transaction incentive Point</mat-label>
                    <input matInput placeholder="Type Here ..."  name="transaction_incentive" #transaction_incentive="ngModel"
                    [(ngModel)]="data.transaction_incentive"  (keypress)="MobileNumber($event)">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          <div class="text-right">
            <button [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent" type="submit" [disabled]="savingFlag == true">
              {{savingFlag == true ? 'Saving' : (data.id ? 'Update' : 'Save')}}
            </button>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</div>


