<div class="main-container">
    <!-- <app-loader *ngIf="loader"></app-loader> -->
    <div class="tools-container">
        <a mat-icon-button matTooltip="Back" (click)="back()">
            <i class="material-icons">arrow_back</i>
        </a>
        <h2>Add Secondary Order</h2>
    </div>

    <div class="container pt10 pl10 pr10 pb50">
        <form #f="ngForm" name="f" (ngSubmit)="f.submitted && f.valid  && save_order()" validate>
            <div class="row">
                <div class="col s12">
                    <div class="card pb0">
                        <div class="card-head">
                            <h2>Basic Information</h2>
                        </div>
                        <div class="card-body cs-form">
                            <div class="row">
                                <div class="col s12 m4 l4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Select Dealer</mat-label>
                                        <mat-select name="type_name" #type_name="ngModel" [(ngModel)]="data.type_name"
                                            [disabled]="add_list.length>0" required
                                            (selectionChange)="get_distributor_list(data.type_name);"
                                            (ngModelChange)="searchDealer(data.type_name);">
                                            <mat-option disabled="">Select Dealer</mat-option>
                                            <mat-option>
                                                <ngx-mat-select-search noEntriesFoundLabel="'no data found'"
                                                    placeholderLabel="Search.."
                                                    (keyup)="distributors(data.type_name,$event)"></ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let row of drList" value="{{row.id}}"
                                                (click)="get_state_list(row)">
                                                {{row.display_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <div class="alert alert-danger" *ngIf="type_name.touched || f.submitted">
                                        <p *ngIf="type_name.errors?.required">This field is required</p>
                                    </div>
                                </div>
                                <div class="col s12 m4 l4" *ngIf="data.type_name">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Select Channel partner</mat-label>
                                        <mat-select name="distributor_id" #distributor_id="ngModel"
                                            [disabled]="add_list.length>0" [(ngModel)]="data.distributor_id"
                                            (selectionChange)="get_item_list('','blank');" required>
                                            <mat-option disabled="">Select An Option</mat-option>
                                            <mat-option *ngFor="let row of Distributor_list"
                                                [value]="row.id">{{row.display_name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="alert alert-danger" *ngIf="distributor_id.touched || f.submitted">
                                        <p *ngIf="distributor_id.errors?.required">This field is required</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Requirement -->

            <div class="row" *ngIf="data.distributor_id">
                <div class="col s12 ">
                    <div class="card pb0">
                        <div class="card-head">
                            <h2>Requirement</h2>
                        </div>
                        <div class="card-body cs-form">
                            <div class="row">
                                <div class="col s12 m4 l4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Select Item</mat-label>
                                        <mat-select name="product_id" #product_id="ngModel"
                                            [(ngModel)]="data.product_id"
                                            (ngModelChange)="get_product_details(); get_product_Size(data.type_name,data.product_id, 'listInput', '')">
                                            <mat-option>
                                                <ngx-mat-select-search noEntriesFoundLabel="'no data found'"
                                                    placeholderLabel="Search.."
                                                    (keyup)="get_item_list('','text')"></ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let row of item_list"
                                                [value]="row.id">{{row.display_name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col s12 m4 l4" *ngIf="data.product_id">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Type</mat-label>
                                        <mat-select name="item_type" #item_type="ngModel" [(ngModel)]="data.item_type">
                                            <mat-option value="DRUM">DRUM</mat-option>
                                            <mat-option value="DRUM LENGTH">DRUM LENGTH</mat-option>
                                            <mat-option value="CUT LENGTH">COIL</mat-option>
                                            <mat-option value="MTR">MTR</mat-option>
                                            <mat-option value="Pcs">Pcs</mat-option>
                                            <mat-option value="BUNDLES">BUNDLES</mat-option>
                                            <mat-option value="Drum">DRUM</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col s12 m4 l4" *ngIf="data.product_id">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Gst Type</mat-label>
                                        <mat-select name="gst_type" #gst_type="ngModel" [(ngModel)]="data.gst_type"
                                            [disabled]="add_list.length>0">
                                            <mat-option value="Gst Paid">Gst Paid</mat-option>
                                            <mat-option value="Gst Extra">Gst Extra</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col s12 m2 l2" *ngIf="data.product_id">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Price</mat-label>
                                        <input matInput placeholder="Type Here ..." name="product_price"
                                            #product_price="ngModel" [(ngModel)]="data.product_price"
                                            (keypress)="MobileNumber($event)" [readonly]="data.product_price>0"
                                            (input)="get_product_Size(data.type_name, data.product_id, 'addPrice', data.dr_disc);"
                                            [ngClass]="{'has-error' : product_price.invalid }">
                                    </mat-form-field>
                                </div>
                                <div class="col s12 m2 l2" *ngIf="data.product_id">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Discount</mat-label>
                                        <input matInput placeholder="Type Here ..." min="0" max="2" name="dr_disc"
                                            #dr_disc="ngModel" [(ngModel)]="data.dr_disc"
                                            (blur)="get_product_Size(data.type_name, data.product_id, 'addDiscount', data.dr_disc);"
                                            (keypress)="MobileNumber($event)">
                                    </mat-form-field>
                                </div>
                                <div class="col s12 m2 l2" *ngIf="data.product_id">
                                    <mat-form-field appearance="outline">
                                        <mat-label>GST {{data.gst_percent}}%</mat-label>
                                        <input matInput placeholder="Type Here ..." name="gst_amount"
                                            #gst_percent="ngModel" [(ngModel)]="data.gst_percent" readonly
                                            (keypress)="MobileNumber($event)">
                                    </mat-form-field>
                                </div>

                                <div class="col s12 m2 l2" *ngIf="data.product_id">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Qty</mat-label>
                                        <input matInput placeholder="Type Here ..." name="qty" #qty="ngModel"
                                            [(ngModel)]="data.qty" onkeypress="return event.charCode>=48 && event.charCode<=57"
                                            (input)="(data.qty == '' || data.qty <1 || data.qty == null)?(addToListButton = true):(addToListButton = false);"
                                            [ngClass]="{'has-error' : qty.invalid }">
                                    </mat-form-field>
                                </div>
                                <div class="col s12 m2 l2" *ngIf="data.product_id">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Amount</mat-label>
                                        <input matInput placeholder="Type Here ..." name="net_price"
                                            #net_price="ngModel" readonly [(ngModel)]="data.net_price"
                                            (keypress)="MobileNumber($event)">
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- add to list -->
                            <div class="row">
                                <div class="col s12">
                                    <div class="text-right">
                                        <a mat-raised-button type="button" [disabled]="addToListButton"
                                            *ngIf="data.product_id && data.item_type"
                                            (click)="data.dr_disc>0 && addToList()" color="accent">Add To list</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- cart information -->

            <div class="row" *ngIf="add_list.length">

                <div class="col s12 padding0">
                    <div class="card pb0">
                        <div class="card-head">
                            <h2>Secondary Order Item Information</h2>
                        </div>
                        <div class="card-body cs-form">

                            <div class="cs-table">
                                <div class="table-head">
                                    <table>
                                        <tr>
                                            <th>Item Name</th>
                                            <th class="w100">Item Code</th>
                                            <th class="w90 text-right">Price</th>
                                            <th class="w80 text-center">Discount</th>
                                            <th class="w100 text-right">Net Price</th>
                                            <th class="w120 text-right">Qty</th>
                                            <th class="w120 text-right">Sub Total</th>
                                            <th class="w150 text-right">GST Amount ({{data.gst_type}})</th>
                                            <th class="w150 text-right">Amount</th>
                                            <th class="w80 text-center">Action</th>
                                        </tr>
                                    </table>
                                </div>

                                <div class="table-container">
                                    <div class="table-content">
                                        <table>
                                            <tr *ngFor="let row of add_list; let d = index">
                                                <td>{{row.product_name}}</td>
                                                <td class="w100">{{row.product_code}}</td>
                                                <td class="w90 text-right">₹ {{row.product_price}}</td>
                                                <td class="w80">
                                                    <div class="td-input text-center">
                                                        {{row.discounted_price | number:'1.2-2'}} ({{row.dr_disc}} %)
                                                    </div>
                                                </td>
                                                <td class="w100 text-right">₹ {{row.net_price | number:'1.2-2'}}</td>
                                                <td class="w120 text-right">{{row.qty}}</td>
                                                <td class="w120 text-right">₹ {{row.amount | number:'1.2-2'}}</td>
                                                <td class="w150 text-right">₹ {{row.gst_amount | number:'1.2-2'}} (
                                                    {{row.gst_percent}} % )</td>
                                                <td class="w150 text-right">₹ {{row.total_amount!=null?(row.total_amount
                                                    |
                                                    number:'1.2-2'):row.total_amount?(row.total_amount |
                                                    number:'1.2-2'):'0'}}</td>
                                                <td class="w80 text-right">
                                                    <div class="action-btns">
                                                        <button mat-button class="delete" (click)="listdelete(d)">
                                                            <i class="material-icons red-clr">delete_sweep</i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <!-- cart information -->

            <!-- Remark  -->
            <div class="row" *ngIf="add_list.length">

                <div class="col s12 m8 l7">
                    <div class="card pb0 ">
                        <div class="card-body cs-form">
                            <mat-form-field appearance="outline" [ngClass]="{'has-error' : remark.invalid } ">
                                <mat-label>Remark</mat-label>
                                <textarea matInput placeholder="Type Here ..." name="remark" #remark="ngModel"
                                    class="h100" [(ngModel)]="data.remark"></textarea>
                                <div class="alert alert-danger" *ngIf="!remark.valid && remark.touched">
                                    Remark is required...
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col s12 m8 l5">
                    <div class="card pb0 ">
                        <div class="card-body cs-form">
                            <div class="invoice-table">
                                <table>
                                    <tr>
                                        <td class="text-left">Total Item</td>
                                        <td class="text-left">:</td>
                                        <td class="text-left ">{{add_list.length}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Qty</td>
                                        <td class="text-left">:</td>
                                        <td class="text-left ">{{total_qty}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Order Price</td>
                                        <td class="text-left">:</td>
                                        <td class="text-left">{{total_Order_amount ? '₹' + ' ' + (total_Order_amount |
                                            number:'1.2-2') + ' ' + '/-': 'N/A'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Discount Amount</td>
                                        <td class="text-left">:</td>
                                        <td class="text-left ">{{order_discount ? '₹' + ' ' + (order_discount |
                                            number:'1.2-2') + ' ' + '/-': 'N/A'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Subtotal</td>
                                        <td class="text-left">:</td>
                                        <td class="text-left ">{{order_total ? '₹' + ' ' + (order_total
                                            | number:'1.2-2') + ' ' + '/-': 'N/A'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total GST Amount</td>
                                        <td class="text-left">:</td>
                                        <td class="text-left ">₹ {{total_gst_amount | number:'1.2-2'}} /-</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Grand Total</td>
                                        <td class="text-left">:</td>
                                        <td class="text-left ">₹ {{new_grand_total | number:'1.2-2'}} /-</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="add_list.length">
                <div class="col s12">
                    <div class="text-right">
                        <button [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent"
                            type="submit" [disabled]="savingFlag == true">
                            {{savingFlag == true ? 'Saving' : 'Save'}}
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>