<div class="main-container" >
  <div class="tools-container">
    <a mat-icon-button  matTooltip="Back" routerLink="/bonus-list">
      <i class="material-icons">arrow_back</i>
    </a>
    <h2>Bonus Detail</h2>

  </div>

  <div class="container pt10 pl10 pr10 pb50" >
    <div class="row"  >
      <div class="col s12 m12 l12" >
        <div class="card" *ngIf="!skLoading">
          <div class="card-head">
            <h2>Basic Details</h2>
            <div class="left-auto" *ngIf="logined_user_data.edit_bonus_points=='1'  && bonusdetail_data.status == 'Active'">
              <a class="sm-mat-icon-button" mat-icon-button matTooltip="Edit Detail"
              (click)="update(bonusdetail_data, 'basic')">
              <i class="material-icons">edit</i>
            </a>
          </div>
        </div>

        <div class="card-body">

          <div class="grid-box three mb16">
            <div class="block-feilds">
              <span>Title</span>
              <p>{{bonusdetail_data.tittle?bonusdetail_data.tittle:'N/A'}}</p>
            </div>
            <div class="block-feilds">
              <span>User Type</span>
              <p ><span style="margin: 3px;">{{bonusdetail_data.types}}</span></p>
            </div>
            <!-- <div class="block-feilds">
              <span>Assigned Location</span>
              <p ><span style="margin: 3px;">{{bonusdetail_data.locationName}}</span></p>
            </div> -->
            <div class="block-feilds" *ngIf="bonusdetail_data.influencer_type!=0">
              <span>Influencer Type</span>
              <p ><span style="margin: 3px;">{{bonusdetail_data.influencer_type_name}}</span></p>
            </div>
          </div>
          <div class="grid-box five">
            <div class="block-feilds">
              <span>Date Created</span>
              <p>{{bonusdetail_data.date_created | date:'d MMM y'}}</p>
            </div>


            <div class="block-feilds">
              <span>Created By</span>
              <p>{{bonusdetail_data.created_by_name?bonusdetail_data.created_by_name:'N/A'}}</p>
            </div>

            <div class="block-feilds">
              <span>Start Date</span>
              <p>{{bonusdetail_data.start_date | date:'d MMM y'}}</p>
            </div>


            <div class="block-feilds">
              <span>End Date</span>
              <p>{{bonusdetail_data.end_date | date:'d MMM y'}}</p>
            </div>

            <div class="block-feilds">
              <span>Status</span>
              <p class="Approved"><strong>{{bonusdetail_data.status?bonusdetail_data.status:'N/A'}}</strong></p>
            </div>
          </div>

        </div>
      </div>

      <!-- Skeleton start -->
      <div class="card" *ngIf="skLoading">
        <div class="sk-head">
          <h2>&nbsp;</h2>
        </div>
        <div class="card-body">
          <div class="grid-box">
            <div class="sk-box" *ngFor="let row of [].constructor(10)">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
      <!-- Skeleton end -->
    </div>

  </div>


  <div class="row" *ngIf="!skLoading">
    <div class="col s12 m6 l6">
      <div class="card pb0">
        <div class="card-head">
          <h2>Influencer List</h2>
          <div class="pagination left-auto" *ngIf="runningScheme.length > 0">
            <div class="pagination-content">
              Pages
              <span>{{pagenumber}}</span>
              of
              <span>{{total_page}}</span>
            </div>
            <div class="page-nav">

              <button mat-icon-button  matTooltip="Older" (click)="pervious()"  [disabled]="start == 0">
                <i class="material-icons">navigate_before</i>
              </button>
              <button mat-icon-button  matTooltip="Newer" (click)="nextPage()" [disabled]="pagenumber == total_page ">
                <i class="material-icons">navigate_next</i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="cs-table left-right-10 scroll310">
            <div class="sticky-head border-top">
              <div class="table-head">
                <table>
                  <tr>
                    <th class="w50">
                      <mat-checkbox name="select_all" [(ngModel)]="select_all" (change)="select_all_data()"></mat-checkbox>
                    </th>
                    <th>Name</th>
                    <th class="w100  text-center">Mobile No.</th>
                  </tr>
                </table>
              </div>
              <div class="table-head border-top">
                <table>
                  <tr>
                    <th class="w50"></th>
                    <th>
                      <div class="th-search-acmt">
                        <mat-form-field class="example-full-width cs-input select-input">
                          <input matInput placeholder="Search..." type="text" name="name"
                        [(ngModel)]="filter.name" (keyup.enter)="bonus_detail()">
                        </mat-form-field>
                      </div>
                    </th>
                    <th class="w100">
                      <div class="th-search-acmt">
                        <mat-form-field class="example-full-width cs-input select-input">
                          <input matInput placeholder="Search..." type="text" name="mobile_no"
                        [(ngModel)]="filter.mobile_no" (keyup.enter)="bonus_detail()">
                        </mat-form-field>
                      </div>
                    </th>
                  </tr>
                </table>
              </div>
            </div>
            <div class="table-container">
              <div class="table-content">
                <table>
                  <ng-container>
                    <tr *ngFor="let row of runningScheme let i = index">
                      <td class="w50">
                        <ng-container>
                          <mat-checkbox name="checked" [(ngModel)]="row.checked" (change)="select_item($event,i)"></mat-checkbox>
                        </ng-container>
                      </td>
                      <td>{{row.name}}</td>
                      <td class="w100">{{row.mobile_no}}</td>
                    </tr>
                  </ng-container>
                </table>

                <ng-container *ngIf="runningScheme.length == 0">
                  <app-not-result-found></app-not-result-found>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="runningScheme.length > 0 && (select_all || btn)">
          <div class="col s12">
            <div class="text-right">
              <button *ngIf="logined_user_data.edit_bonus_points=='1'  && bonusdetail_data.status == 'Active'" [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="warn" (click)="influencerUpdate()" [disabled]="savingFlag == true">
                {{savingFlag == true ? 'Saving' : 'Remove'}}
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="col s12 m6 l6">
      <div class="card pb0">
        <div class="card-head">
          <h2>Product Points Details</h2>
        </div>
        <div class="card-body">
          <div class="cs-table left-right-10 scroll310">
            <div class="sticky-head border-top">
              <div class="table-head">
                <table>
                  <tr>
                    <th class="w50">S.No</th>
                    <th>Point Category</th>
                    <th class="w200  text-center">Points</th>
                  </tr>
                </table>
              </div>
            </div>
            <div class="table-container">
              <div class="table-content">
                <table>
                  <ng-container>
                    <tr *ngFor="let row of bonusdetail_data.product_data let i = index">
                      <td class="w50">{{i+1}}</td>
                      <td>{{row.product_name}}</td>
                      <td class="w200  text-center">
                        <strong>{{row.point}}</strong>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fab-btns">
    <button  mat-fab class="excel" *ngIf="bonusdetail_data.types=='Influencer'" (click)="upload_excel('insert', bonusdetail_data.id, bonusdetail_data.district, bonusdetail_data.types, bonusdetail_data.influencer_type);">
      <img src="assets/img/excel.svg">
      Upload Excel
    </button>
  </div>
</div>
</div>
