<div class="main-container">
    <div class="tools-container">
        <div class="mat-tabbar">
            <button mat-button [ngClass]="userType == 'Sales User' ? 'active' : ''"
                (click)="getUserList('Sales User'); userType = 'Sales User'"><i
                    class="material-icons">people_alt</i>Sales User ({{sales_count}})</button>
            <button mat-button [ngClass]="userType == 'System User' ? 'active' : ''"
                (click)="getUserList('System User'); userType = 'System User'"><i
                    class="material-icons">computer</i>System User ({{system_count}})</button>
        </div>
        <div class="left-auto df ac flex-gap-10">
            <button mat-icon-button matTooltip="Refresh" (click)="refresh()">
                <i class="material-icons">refresh</i>
            </button>
            <button mat-icon-button matTooltip="Filter" (click)="openBottomSheet()">
                <i class="material-icons">filter_alt</i>
            </button>
            <button mat-icon-button matTooltip="Sorting" (click)="sortData()">
                <i class="material-icons">swap_vert</i>
            </button>
            <div class="pagination" *ngIf="userlist.length > 0 ">
                <div class="pagination-content">
                    Pages
                    <span>{{pagenumber}}</span>
                    of
                    <span>{{total_page}}</span>
                </div>
                <div class="page-nav">
                    <button mat-icon-button matTooltip="Older" (click)="pervious()" [disabled]="start == 0">
                        <i class="material-icons">navigate_before</i>
                    </button>
                    <button mat-icon-button matTooltip="Newer" (click)="nextPage()"
                        [disabled]="pagenumber == total_page ">
                        <i class="material-icons">navigate_next</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-scroll">
        <div class="cs-table horizontal-scroll">
            <div class="sticky-head">
                <div class="table-head">
                    <table>
                        <tr>
                            <th class="w50 text-center"></th>
                            <th class="w100">Date Created</th>
                            <th class="w120">Designation</th>
                            <th class="w160">Name</th>
                            <th class="w90">Mobile No.</th>
                            <th class="w120">Employee Code</th>
                            <th class="w250">Email ID</th>
                            <th class="w70">Weekly off</th>
                            <th class="w110" *ngIf="userType == 'Sales User'">Order Type</th>
                            <th *ngIf="userType == 'Sales User'" class="w160">Reporting Manager</th>
                            <th *ngIf="userType == 'Sales User'" class="w100">Manager Code</th>
                            <th class="w100">Updated By</th>
                            <th class="w100">Updated At</th>
                            <th class="w50 text-center" *ngIf="logined_user_data2.edit_users_master=='1'">Status</th>
                            <th class="w120 text-center" *ngIf="userType == 'Sales User'">Third Party App</th>
                            <th *ngIf="userType == 'Sales User'" class="w110 text-center">Action</th>
                        </tr>
                    </table>
                </div>
                <div class="table-head border-top">
                    <table>
                        <tr>
                            <th class="w50 text-center"></th>
                            <th class="w100">
                                <div class="th-search-acmt">
                                    <mat-form-field class="cs-input date-column infix-bodr">
                                        <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                                            #date_created="ngModel" [(ngModel)]="filter.date_created"
                                            (ngModelChange)="date_format()" [max]="today_date" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w120">
                                <div class="th-search-acmt">
                                    <mat-form-field>
                                        <input matInput placeholder="Search ..." (keyup.enter)="getUserList(userType)"
                                            #designation_name="ngModel" [(ngModel)]="filter.designation_name">
                                    </mat-form-field>
                                </div>

                            </th>
                            <th class="w160">
                                <div class="th-search-acmt">
                                    <mat-form-field>
                                        <input matInput placeholder="Search ..." (keyup.enter)="getUserList(userType)"
                                            [(ngModel)]="filter.name">
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w90">
                                <div class="th-search-acmt">
                                    <mat-form-field>
                                        <input matInput placeholder="Search ..." (keyup.enter)="getUserList(userType)"
                                            [(ngModel)]="filter.contact_01">
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w120">
                                <div class="th-search-acmt">
                                    <mat-form-field>
                                        <input matInput placeholder="Search ..." (keyup.enter)="getUserList(userType)"
                                            [(ngModel)]="filter.employee_id">
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w250">
                                <div class="th-search-acmt">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Search ..."
                                            (keyup.enter)="getUserList(userType)" [(ngModel)]="filter.email">
                                    </mat-form-field>
                                </div>
                            </th>

                            <th class="w70">
                                <div class="th-search-acmt">
                                    <mat-form-field class="cs-input select-input">
                                        <mat-select name="weekly_off" [(ngModel)]="filter.weekly_off"
                                            (selectionChange)="getUserList(userType)">
                                            <mat-option value="">All</mat-option>
                                            <mat-option value="Sunday">Sunday</mat-option>
                                            <mat-option value="Monday">Monday</mat-option>
                                            <mat-option value="Tuesday">Tuesday</mat-option>
                                            <mat-option value="Wednesday">Wednesday</mat-option>
                                            <mat-option value="Thursday">Thursday</mat-option>
                                            <mat-option value="Friday">Friday</mat-option>
                                            <mat-option value="Saturday">Saturday</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w110" *ngIf="userType == 'Sales User'">
                                <div class="th-search-acmt">
                                    <mat-form-field class="cs-input select-input">
                                        <mat-select name="order_type" [(ngModel)]="filter.order_type"
                                            (selectionChange)="getUserList(userType)">
                                            <mat-option value="">All</mat-option>
                                            <mat-option value="Primary">Primary</mat-option>
                                            <mat-option value="Secondary">Secondary</mat-option>
                                            <mat-option value="Both">Both</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </th>
                            <th *ngIf="userType == 'Sales User'" class="w160">
                                <div class="th-search-acmt">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Search ..."
                                            (keyup.enter)="getUserList(userType)" [(ngModel)]="filter.assign_user">
                                    </mat-form-field>
                                </div>
                            </th>
                            <th *ngIf="userType == 'Sales User'" class="w100">
                                <div class="th-search-acmt">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Search ..."
                                            (keyup.enter)="getUserList(userType)" [(ngModel)]="filter.assign_user_code">
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w100">
                                <div class="th-search-acmt">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Search ..."
                                            (keyup.enter)="getUserList(userType)" [(ngModel)]="filter.assign_user_code">
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w100">
                                <div class="th-search-acmt">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Search ..."
                                            (keyup.enter)="getUserList(userType)" [(ngModel)]="filter.assign_user_code">
                                    </mat-form-field>
                                </div>
                            </th>
                            <th class="w50" *ngIf="logined_user_data2.edit_users_master=='1'">
                                <div class="th-search-acmt">
                                    <mat-form-field class="cs-input select-input">
                                        <mat-select name="status" [(ngModel)]="filter.status"
                                            (selectionChange)="getUserList(userType)">
                                            <mat-option value="">All</mat-option>
                                            <mat-option value="active">Active</mat-option>
                                            <mat-option value="deactive">Deactive </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </th>
                            <th *ngIf="userType == 'Sales User'" class="w120">
                            </th>
                            <th *ngIf="userType == 'Sales User'" class="w110">&nbsp;</th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="table-container">
                <div class="table-content">
                    <table>
                        <ng-container *ngIf="!loader">
                            <tr *ngFor="let row of userlist;let i=index"
                                [ngClass]="{'Current': service.currentUserID == row.id}">
                                <td class="w50 text-center">{{i+1+sr_no}}</td>
                                <td class="w100">{{row.date_created | date}}</td>
                                <td class="w120">{{row.designation_name}}</td>
                                <td class="w160">
                                    <a class="link-btn" (click)="service.setData(filter)"
                                        routerLink="sale-user-detail/{{row.id}}" routerLinkActive="active"
                                        mat-button>{{row.name | titlecase}}</a>
                                </td>
                                <td class="w90">
                                    {{row.contact_01 ? row.contact_01:'---'}}
                                </td>
                                <td class="w120">
                                    {{row.employee_id ? row.employee_id :'---'}}
                                </td>
                                <td class="w250">{{row.email}}</td>
                                <td class="w70">{{row.weekly_off ? row.weekly_off: '---'}}</td>
                                <td class="w110" *ngIf="userType == 'Sales User'">{{row.order_type ? row.order_type :
                                    '---'}}</td>
                                <td *ngIf="userType == 'Sales User'" class="w160">{{row.assign_user ? row.assign_user
                                    :'---'}}</td>
                                <td *ngIf="userType == 'Sales User'" class="w100">{{row.assign_user_code ?
                                    row.assign_user_code :'---'}}</td>
                                <td class="w100">{{row.last_updated_by_name ?
                                    row.last_updated_by_name :'---'}}</td>
                                <td class="w100">{{row.last_updated_on ?
                                    row.last_updated_on :'---'}}</td>
                                <td class="w50 text-center" *ngIf="logined_user_data2.edit_users_master=='1'">
                                    <div class="action-button">
                                        <mat-slide-toggle color="accent" [name]="'status'+i"
                                            [(ngModel)]="row.user_status" (change)="updateStatus(i,row.id,$event)">
                                        </mat-slide-toggle>
                                    </div>
                                </td>
                                <td *ngIf="userType == 'Sales User'" class="w120">{{row.third_party_disable =='1' ?
                                    'Account Blocked Due To ':' '}}
                                    <strong>{{(row.third_party_app)}}</strong>
                                </td>
                                <td *ngIf="userType == 'Sales User'" class="w110">
                                    <button mat-raised-button color="accent" *ngIf="row.device_unique_id != ''"
                                        (click)="resetDevice(i,row.id)">Reset Device </button>
                                </td>
                            </tr>
                        </ng-container>

                        <ng-container *ngFor="let row of [].constructor(10);">
                            <tr class="sk-loading" *ngIf="loader">
                                <td class="w30 text-center">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w100">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w120">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w160">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w90">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w120">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w250">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w70 text-center">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w110 text-center" *ngIf="userType == 'Sales User'">
                                    <div>&nbsp;</div>
                                </td>
                                <td *ngIf="userType == 'Sales User'" class="w160">
                                    <div>&nbsp;</div>
                                </td>
                                <td *ngIf="userType == 'Sales User'" class="w120">
                                    <div>&nbsp;</div>
                                </td>
                                <td *ngIf="userType == 'Sales User'" class="w100">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w100">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w100">
                                    <div>&nbsp;</div>
                                </td>
                                <td class="w50 text-center" *ngIf="logined_user_data2.edit_users_master=='1'">
                                    <div>&nbsp;</div>
                                </td>
                                <td *ngIf="userType == 'Sales User'" class="w110">
                                    <div>&nbsp;</div>
                                </td>

                            </tr>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
        <div>
        </div>
        <div class="no-data" *ngIf="userlist.length == 0 && datanotfound == true;">
            <img src="assets/img/no-data.gif" alt="">
            <p>Data not <span>available !</span></p>
        </div>
    </div>
    <div>
    </div>
    <div class="fab-btns">
        <div class="fab-btns"
            *ngIf="(logined_user_data2.export_users_master=='1') ||( logined_user_data2.add_users_master=='1' )|| (logined_user_data2.import_users_master=='1')">
            <button class="pulse excel" mat-fab color="primary" [ngClass]="{'pulse': fabBtnValue=='add'}"
                [matMenuTriggerFor]="menu">
                <i class="material-icons">apps</i>
                Action
            </button>
        </div>
        <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="getUserExcel(userType);"
                *ngIf="userlist.length > 0 && (logined_user_data2.export_users_master=='1')">
                <mat-icon>download</mat-icon>
                <span>Download in excel</span>
            </button>
            <ng-container *ngIf="userType == 'Sales User'">
                <button mat-menu-item (click)="upload_excel('insert');"
                    *ngIf="(logined_user_data2.import_users_master=='1')">
                    <mat-icon>cloud_upload</mat-icon>
                    <span>Upload New Data</span>
                </button>
                <button mat-menu-item (click)="upload_excel('update');"
                    *ngIf="userlist.length > 0 && (logined_user_data2.import_users_master=='1')">
                    <mat-icon>update</mat-icon>
                    <span>Update Existing Data</span>
                </button>
            </ng-container>
            <button mat-menu-item (click)="lastBtnValue('add');" routerLink="user-add"
                *ngIf="(logined_user_data2.add_users_master=='1')">
                <mat-icon>add</mat-icon>
                <span>Add New</span>
            </button>
        </mat-menu>
    </div>
</div>