<div class="main-container">
  <div class="tools-container">
    <h2>Influencer Category List</h2>
    <div class="left-auto df ac flex-gap-10">
      <button mat-icon-button matTooltip="Refresh" (click)="refresh()">
        <i class="material-icons">refresh</i>
      </button>
      <div class="pagination" *ngIf="categoryList.length > 0">
        <div class="pagination-content">
          Pages
          <span>{{pagenumber}}</span>
          of
          <span>{{total_page}}</span>
        </div>
        <div class="page-nav">
          <button mat-icon-button matTooltip="Older" (click)="pervious()" [disabled]="start == 0">
            <i class="material-icons">navigate_before</i>
          </button>
          <button mat-icon-button matTooltip="Newer" (click)="nextPage()" [disabled]="pagenumber == total_page ">
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container table-container">
    <div class="cs-table">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w50">S.No</th>
              <th class="w100">Date Created</th>
              <th class="w100">Created By</th>
              <th>Title</th>
              <th class="w130 text-center">Scanning Rights</th>
              <th class="w180 text-center">Point Transfer Rights</th>
              <th class="w60   text-center"  *ngIf="logined_user_data.edit_infulencer_master=='1' || logined_user_data.delete_infulencer_master=='1'">Action</th>
            </tr>
          </table>
        </div>
        <div class="table-head border-top">
          <table>
            <tr>
              <th class="w50"></th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input date-column infix-bodr">
                    <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                      #date_created="ngModel" [(ngModel)]="filter.date_created" (ngModelChange)="date_format()"
                      [max]="today_date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </th>
              <th class="w100">
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." (keyup.enter)="getInfluencer()" #created_by_name="ngModel"
                      [(ngModel)]="filter.created_by_name">
                  </mat-form-field>
                </div>
              </th>
              <th>
                <div class="th-search-acmt">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Search..." (keyup.enter)="getInfluencer()" #title="ngModel"
                      [(ngModel)]="filter.module_name">
                  </mat-form-field>
                </div>
              </th>
              <th class="w130">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-select [(ngModel)]="filter.scanning_rights" name="scanning_rights"
                      (selectionChange)="getInfluencer()">
                      <mat-option value="">All</mat-option>
                      <mat-option value="Yes">Yes</mat-option>
                      <mat-option value="No">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>
              <th class="w180">
                <div class="th-search-acmt">
                  <mat-form-field class="cs-input select-input">
                    <mat-select [(ngModel)]="filter.point_transfer_right" name="point_transfer_right"
                      (selectionChange)="getInfluencer()">
                      <mat-option value="">All</mat-option>
                      <mat-option value="Yes">Yes</mat-option>
                      <mat-option value="No">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>
              <th class="w60"  *ngIf="logined_user_data.edit_infulencer_master=='1' || logined_user_data.delete_infulencer_master=='1'"></th>
            </tr>
          </table>
        </div>
      </div>

      <div class="table-container" *ngIf="categoryList.length > 0">
        <div class="table-content">
          <table>
            <ng-container *ngIf="!loader">
              <tr *ngFor="let row of categoryList; let i = index;">
                <td class="w50">{{ i + 1 + sr_no }}</td>
                <td class="w100">{{row.date_created | date:'d MMM y'}}</td>
                <td class="w100">{{row.created_by_name}}</td>
                <td>{{row.module_name | titlecase}}</td>
                <td class="w130 text-center">{{row.scanning_rights ? row.scanning_rights : '--'}}</td>
                <td class="w180 text-center">{{row.point_transfer_right ? row.point_transfer_right : '---'}}</td>
                <td class="w60 text-center"
                  *ngIf="logined_user_data.edit_infulencer_master=='1' || logined_user_data.delete_infulencer_master=='1'">
                  <div class="action-button">
                    <button mat-icon-button matTooltip="Edit" *ngIf="logined_user_data.edit_infulencer_master=='1'"
                      [routerLink]="[ 'influencer-user-add/', row.module_name, row.id, row.scanning_rights ]"
                      [queryParams]="{'module_name':row.module_name, 'id':row.id, 'scanning_rights':row.scanning_rights}">
                      <i class="material-icons edit">edit</i>
                    </button>
                    <button mat-icon-button matTooltip="Delete" *ngIf="logined_user_data.delete_infulencer_master=='1'"
                      (click)="delete(row.id)">
                      <i class="material-icons del">delete</i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>

            <ng-container *ngIf="loader">
              <tr class="sk-loading" *ngFor="let row of categoryList">
                <td class="w50">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td>
                  <div>&nbsp;</div>
                </td>
                <td class="w130">
                  <div>&nbsp;</div>
                </td>
                <td class="w180">
                  <div>&nbsp;</div>
                </td>
                <td class="w60">
                  <div>&nbsp;</div>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>


      <ng-container *ngIf="categoryList.length == 0&&datanotfound == true">
        <app-not-result-found></app-not-result-found>
      </ng-container>

    </div>

  </div>


  <div class="fab-btns"
    *ngIf="logined_user_data.export_infulencer_master=='1' || logined_user_data.add_infulencer_master=='1'">
    <button class="pulse" mat-fab color="accent" [matMenuTriggerFor]="menu">
      <i class="material-icons">apps</i>
      Action
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item
      *ngIf="categoryList.length > 0 && ( logined_user_data.export_infulencer_master=='1' )"
      (click)="downloadExcel();">
      <mat-icon>download</mat-icon>
      <span>Download excel</span>
    </button> -->
    <button mat-menu-item routerLink="influencer-user-add"
      *ngIf="logined_user_data.add_infulencer_master=='1'">
      <mat-icon>add</mat-icon>
      <span>Add New</span>
    </button>
  </mat-menu>
</div>